<p><strong>{{ 'IOTDEVICE.MQTT.URL' | translate }}</strong>{{ device.mqttSubscriberSettings.mqttURL }}</p>
<p><strong>{{ 'IOTDEVICE.MQTT.PORT' | translate }}</strong>{{ device.mqttSubscriberSettings.mqttPort }}</p>
<p><strong>{{ 'IOTDEVICE.MQTT.TOPIC_NAME' | translate }}</strong>{{ device.mqttSubscriberSettings.mqtttopicname }}</p>
<ng-container *ngIf="device.mqttSubscriberSettings.authenticationType === AuthenticationType.PASSWORD; else certificate">
  <p><strong>{{ 'QUESTION.MQTT.USERNAME-LABEL' | translate }}</strong>{{ device.mqttSubscriberSettings.mqttusername }}</p>
</ng-container>
<ng-template #certificate>
  <p><strong>{{ 'QUESTION.MQTT.CA-CERTIFICATE' | translate }}</strong><textarea class="form-control" [readOnly]="true">{{ device.mqttSubscriberSettings.caCertificate }}</textarea></p>
  <p><strong>{{ 'QUESTION.MQTT.DEVICE-CERTIFICATE' | translate }}</strong><textarea class="form-control" [readOnly]="true">{{ device.mqttSubscriberSettings.deviceCertificate }}</textarea></p>
  <p><strong>{{ 'QUESTION.MQTT.DEVICE-CERTIFICATE-KEY' | translate }}</strong><textarea class="form-control" [readOnly]="true">{{ device.mqttSubscriberSettings.deviceCertificateKey }}</textarea></p>
</ng-template>
