<div class="col pb-3 d-flex top-bar">
  <ng-template [ngIf]="title">
    <h4 *ngIf="component; else notComponent">{{title}}</h4>
    <ng-template #notComponent>
      <h3 >{{title}}</h3>
    </ng-template>
  </ng-template>
  <div class="ml-auto d-flex">
    <div class="d-flex per-page">
      <!-- {{ 'GEN.SHOW' | translate }}
      <select name="my-applications-table_length" [(ngModel)]="pageLimit" aria-controls="my-applications-table" class="select-box select-box-sm">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      {{ 'GEN.PER-PAGE' | translate }} -->
      <label class="form-label d-none" for="myApplicationsTableSort">{{ 'SORT.SORT' | translate }}</label>
      <select id="myApplicationsTableSort" name="myApplicationsTableSort" [(ngModel)]="selectedSortId" (ngModelChange)="changeSort($event)"
        class="select-box select-box-md">
        <option [value]="option.id" *ngFor="let option of sort">{{ option.label | translate }}</option>
      </select>
    </div>
    <div>
      <button *ngIf="ctaRouterLink" [routerLink]="ctaRouterLink" routerLinkActive="active" class="btn btn-primary"
        type="button" [attr.aria-label]="ctaLabel">{{ctaLabel}}</button>
    </div>
  </div>
</div>
