<app-column-selector
  [(displayedColumns)]="displayedColumns"
  [columnDefinitions]="columnDefinitions"
  [localStorageKey]="gatewayTableSavedColumns"
></app-column-selector>

<div class="mat-elevation-z8 overflow-auto">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <table mat-table [dataSource]="data" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div [ngClass]="this.sort.active === 'name' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        <a
          [routerLink]="'/gateways/gateway-detail/' + gateway.gatewayId"
          routerLinkActive="active"
          class="application-link"
        >
          {{ gateway.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div [ngClass]="this.sort.active === 'gatewayId' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.GATEWAYID" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.gatewayId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="organizationName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'organizationName' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.ORGANIZATION" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.organizationName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rxPacketsReceived">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div
          [ngClass]="this.sort.active === 'rxPacketsReceived' ? 'column-title-color' : 'column-title-color-inactive'"
        >
          {{ "LORA-GATEWAY-TABLE.PACKETS-RECEIVED" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.rxPacketsReceived }}
      </td>
    </ng-container>

    <ng-container matColumnDef="txPacketsEmitted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'txPacketsEmitted' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.PACKETS-SENT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.txPacketsEmitted }}
      </td>
    </ng-container>

    <ng-container matColumnDef="placement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'placement' ? 'column-title-color' : 'column-title-color-inactive'">
          '

          {{ "LORA-GATEWAY-TABLE.PLACEMENT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.placement ? ("GATEWAY.PLACEMENT." + gateway.placement | translate) : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="modelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div [ngClass]="this.sort.active === 'modelName' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.MODEL-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.modelName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="antennaType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'antennaType' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.ANTENNA-TYPE" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.antennaType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'status' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.STATUS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.status ? ("GATEWAY.STATUS." + gateway.status | translate) : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsibleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsibleName' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.gatewayResponsibleName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsibleEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsibleEmail' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-EMAIL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.gatewayResponsibleEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsiblePhoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsiblePhoneNumber' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-PHONE-NUMBER" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.gatewayResponsiblePhoneNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operationalResponsibleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div
          [ngClass]="
            this.sort.active === 'operationalResponsibleName' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.OPERATIONAL-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.operationalResponsibleName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operationalResponsibleEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div
          [ngClass]="
            this.sort.active === 'operationalResponsibleEmail' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.OPERATIONAL-EMAIL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.operationalResponsibleEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-250">
        <div [ngClass]="this.sort.active === 'tags' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.TAGS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.tagsString }}
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef class="min-width-150">
        <div [ngClass]="this.sort.active === 'location' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.LOCATION" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.location.latitude | number : "2.1-6" }},
        {{ gateway.location.longitude | number : "2.1-6" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div [ngClass]="this.sort.active === 'createdAt' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.CREATED-AT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ gateway.createdAt | dateOnly }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastSeenAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="min-width-150">
        <div [ngClass]="this.sort.active === 'lastSeenAt' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.LAST-SEEN-AT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        {{ lastActive(gateway) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="onlineStatus">
      <th mat-header-cell *matHeaderCellDef>
        <div [ngClass]="this.sort.active === 'onlineStatus' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.STATUS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')" />
      </th>
      <td mat-cell *matCellDef="let gateway">
        <ng-container *ngIf="gatewayStatus(gateway); then statusOk; else statusError"></ng-container>
        <ng-template #statusOk>
          <fa-icon [icon]="faCheckCircle" class="fa-ok"></fa-icon>
        </ng-template>
        <ng-template #statusError>
          <fa-icon [icon]="faExclamationTriangle" class="fa-error"></fa-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let gateway" class="overflowVisible">
        <div class="dropdown" *ngIf="gateway.canEdit">
          <a
            href="#"
            role="button"
            id="tableRowDropdown-{{ gateway.id }}"
            class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'LORA-GATEWAY-TABLE-ROW.SHOW-OPTIONS' | translate"
          ></a>
          <ul class="dropdown-menu dropdown-menu--table" attr.aria-labelledby="tableRowDropdown-{{ gateway.id }}">
            <li class="dropdown-item">
              <a [routerLink]="['../gateway-edit', gateway.gatewayId]" routerLinkActive="active">{{
                "GEN.EDIT" | translate
              }}</a>
            </li>
            <li class="dropdown-item">
              <a (click)="onOpenChangeOrganizationDialog(gateway.id)" routerLinkActive="active">{{
                "GATEWAY.CHANGE-ORGANIZATION.TITLE" | translate
              }}</a>
            </li>
            <li class="dropdown-item">
              <a (click)="clickDelete(gateway)" [routerLink]="[]">{{ "GEN.DELETE" | translate }}</a>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [length]="resultsLength"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
