<app-column-selector
  [(displayedColumns)]="displayedColumns"
  [columnDefinitions]="columnDefinitions"
  [localStorageKey]="gatewayTableSavedColumns"
></app-column-selector>

<div class="mat-elevation-z8 overflow-auto">
  <div *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <table
    (matSortChange)="announceSortChange($event)"
    [dataSource]="data"
    class="mat-elevation-z0"
    mat-table
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear
  >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'name' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('name')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        <a
          [routerLink]="'/gateways/gateway-detail/' + gateway.gatewayId"
          class="application-link"
          routerLinkActive="active"
        >
          {{ gateway.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayId">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'gatewayId' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.ID" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('gatewayId')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.gatewayId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="organizationName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'organizationName' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.ORGANIZATION" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('organizationName')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.organizationName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rxPacketsReceived">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div
          [ngClass]="this.sort.active === 'rxPacketsReceived' ? 'column-title-color' : 'column-title-color-inactive'"
        >
          {{ "LORA-GATEWAY-TABLE.PACKETS-RECEIVED" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('rxPacketsReceived')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.rxPacketsReceived }}
      </td>
    </ng-container>

    <ng-container matColumnDef="txPacketsEmitted">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'txPacketsEmitted' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.PACKETS-SENT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('txPacketsEmitted')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.txPacketsEmitted }}
      </td>
    </ng-container>

    <ng-container matColumnDef="placement">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'placement' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.PLACEMENT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('placement')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.placement ? ("GATEWAY.PLACEMENT." + gateway.placement | translate) : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="modelName">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'modelName' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.MODEL-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('modelName')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.modelName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="antennaType">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'antennaType' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.ANTENNA-TYPE" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('antennaType')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.antennaType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'status' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.STATUS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('status')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.status ? ("GATEWAY.STATUS." + gateway.status | translate) : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsibleName">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsibleName' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('gatewayResponsibleName')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.gatewayResponsibleName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsibleEmail">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsibleEmail' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-EMAIL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('gatewayResponsibleEmail')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.gatewayResponsibleEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gatewayResponsiblePhoneNumber">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'gatewayResponsiblePhoneNumber' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.RESPONSIBLE-PHONE-NUMBER" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('gatewayResponsiblePhoneNumber')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.gatewayResponsiblePhoneNumber }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operationalResponsibleName">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'operationalResponsibleName' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.OPERATIONAL-NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('operationalResponsibleName')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.operationalResponsibleName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operationalResponsibleEmail">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div
          [ngClass]="
            this.sort.active === 'operationalResponsibleEmail' ? 'column-title-color' : 'column-title-color-inactive'
          "
        >
          {{ "LORA-GATEWAY-TABLE.OPERATIONAL-EMAIL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('operationalResponsibleEmail')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.operationalResponsibleEmail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th *matHeaderCellDef class="min-width-250" mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'tags' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.TAGS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('tags')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.tagsString }}
      </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell>
        <div [ngClass]="this.sort.active === 'location' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.LOCATION" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('location')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.location.latitude | number : "2.1-6" }},
        {{ gateway.location.longitude | number : "2.1-6" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'createdAt' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.CREATED-AT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('createdAt')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ gateway.createdAt | dateOnly }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastSeenAt">
      <th *matHeaderCellDef class="min-width-150" mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'lastSeenAt' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "LORA-GATEWAY-TABLE.LAST-SEEN-AT" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('lastSeenAt')"/>
      </th>
      <td *matCellDef="let gateway" mat-cell>
        {{ lastActive(gateway) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="onlineStatus">
      <th *matHeaderCellDef mat-header-cell>
        {{ "LORA-GATEWAY-TABLE.STATUS" | translate }}
      </th>
      <td *matCellDef="let gateway" mat-cell>
        <ng-container *ngIf="gatewayStatus(gateway); then statusOk; else statusError"></ng-container>
        <ng-template #statusOk>
          <fa-icon [icon]="faCheckCircle" class="fa-ok"></fa-icon>
        </ng-template>
        <ng-template #statusError>
          <fa-icon [icon]="faExclamationTriangle" class="fa-error"></fa-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let gateway" class="overflowVisible" mat-cell>
        <div *ngIf="gateway.canEdit" class="dropdown">
          <a
            [attr.aria-label]="'LORA-GATEWAY-TABLE-ROW.SHOW-OPTIONS' | translate"
            aria-expanded="false"
            class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="tableRowDropdown-{{ gateway.id }}"
            role="button"
          ></a>
          <ul attr.aria-labelledby="tableRowDropdown-{{ gateway.id }}" class="dropdown-menu dropdown-menu--table">
            <li class="dropdown-item">
              <a [routerLink]="['../gateway-edit', gateway.gatewayId]" routerLinkActive="active">{{
                  "GEN.EDIT" | translate
                }}</a>
            </li>
            <li class="dropdown-item">
              <a (click)="onOpenChangeOrganizationDialog(gateway.id)" routerLinkActive="active">{{
                  "GATEWAY.CHANGE-ORGANIZATION.TITLE" | translate
                }}</a>
            </li>
            <li class="dropdown-item">
              <a (click)="clickDelete(gateway)" [routerLink]="[]">{{ "GEN.DELETE" | translate }}</a>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
