<td class="position-relative">
    <a [routerLink]="['payload-decoder-detail', payloadDecoder.id]" routerLinkActive="active"
      class="application-link"> {{payloadDecoder.name}}</a>
</td>
<td class="position-relative pr-3">
    {{payloadDecoder.id}}
    <div class="dropdown position-absolute">
      <a href="#" role="button" id="tableRowDropdown-{{payloadDecoder.id}}" class="applicationRow__edit dropdown-toggle"
        data-toggle="dropdown" aria-expanded="false"
        [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
      <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{payloadDecoder.id}}">
        <li><a (click)="clickDelete()" class="dropdown-item"
            [routerLink]="">{{ 'PAYLOADDECODER-TABLE-ROW.DELETE' | translate }}</a></li>
        <li><a class="dropdown-item" [routerLink]="['payload-decoder-edit', payloadDecoder.id]"
            routerLinkActive="active">{{ 'PAYLOADDECODER-TABLE-ROW.EDIT' | translate }}</a></li>
      </ul>
    </div>
  </td>