<td class="position-relative">
  <a [routerLink]="[permission.id]" routerLinkActive="active" class="permission-link">
    {{permission.name}}</a>
</td>
<td class="position-relative">
  {{permission?.organization?.name ? permission.organization.name : ("PERMISSION.NO_ORGANISATION" | translate)}}
</td>
<td class="position-relative">
  <div *ngIf="permission.users; else noUsers">
    {{permission.users.length}}

  </div>
  <ng-template #noUsers>Ingen brugere er tilføjet</ng-template>
</td>
<td class="position-relative pr-3">
  {{ 'PERMISSION-TYPE.' + permission.type | translate }}
</td>
<td>

  <div class="dropdown ">
    <a href="#" role="button" id="tableRowDropdown-{{permission.id}}" class="applicationRow__edit dropdown-toggle"
      data-toggle="dropdown" aria-expanded="false"
      [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
    <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{permission.id}}">
      <li class="dropdown-item">
        <a [routerLink]="[permission.id, 'edit-permission']"
          routerLinkActive="active">{{ 'USERS.TABLE-ROW.EDIT' | translate }}
        </a>
      </li>
      <li class="dropdown-item">
        <a (click)="clickDelete()" [routerLink]="">{{ 'PERMISSION.TABLE-ROW.DELETE' | translate }}
        </a>
      </li>
    </ul>
  </div>
</td>