<app-column-selector
  [(displayedColumns)]="displayedColumns"
  [columnDefinitions]="columnDefinitions"
  [localStorageKey]="iotDeviceSavedColumns"
  [placeholder]=""
></app-column-selector>

<div class="mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  <table
    (matSortChange)="announceSortChange($event)"
    [dataSource]="data"
    mat-table
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear
  >

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="name">
        <div [ngClass]="this.sort.active === 'name' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "APPLICATION-TABLE.NAME" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('name')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>
        <a [routerLink]="['../iot-device', iotDevice.id]" class="device-link" routerLinkActive="active">{{
            iotDevice.name
          }}</a>
      </td>
    </ng-container>

    <!-- Technology Column -->
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'type' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOT-TABLE.NETWORK-TECHNOLOGY" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('type')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ "IOT-DEVICE-TYPES." + iotDevice.type | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="commentOnLocation">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div
          [ngClass]="this.sort.active === 'commentOnLocation' ? 'column-title-color' : 'column-title-color-inactive'"
        >
          {{ "GATEWAY.PLACEMENT-LABEL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('commentOnLocation')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>
        {{ iotDevice.commentOnLocation ? truncateText(iotDevice.commentOnLocation) : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deviceModel">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'deviceModel' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOTDEVICE.DEVICEMODEL" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('deviceModel')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ iotDevice.deviceModel?.body?.name ?? "-" }}</td>
    </ng-container>

    <ng-container matColumnDef="deviceProfileName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div
          [ngClass]="this.sort.active === 'deviceProfileName' ? 'column-title-color' : 'column-title-color-inactive'"
        >
          {{ "IOTDEVICE.LORA.DEVICEPROFILE" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('deviceProfileName')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ iotDevice.deviceProfileName ?? "-" }}</td>
    </ng-container>

    <ng-container matColumnDef="deviceEUI">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'deviceEUI' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOT-TABLE.DEV-EUI" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('deviceEUI')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ iotDevice.deviceEUI ?? "-" }}</td>
    </ng-container>

    <ng-container matColumnDef="OTAAapplicationKey">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div
          [ngClass]="this.sort.active === 'OTAAapplicationKey' ? 'column-title-color' : 'column-title-color-inactive'"
        >
          {{ "IOT-TABLE.APP-KEY" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('OTAAapplicationKey')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ iotDevice.OTAAapplicationKey ?? "-" }}</td>
    </ng-container>

    <!-- RSSI column -->
    <ng-container matColumnDef="rssi">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="rssi">
        <div [ngClass]="this.sort.active === 'rssi' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOT-TABLE.RSSI" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('rssi')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>
        @if (iotDevice.type === 'LORAWAN' || iotDevice.type === 'SIGFOX') {
          @if (iotDevice.latestReceivedMessage?.rssi) {
            <div>
              {{ iotDevice.latestReceivedMessage.rssi }}
            </div>
          } @else {
            <span>{{ "IOTDEVICE-TABLE-ROW.NOT-AVAILABLE" | translate }}</span>
          }
        } @else {
        <span>{{ "IOTDEVICE-TABLE-ROW.NOT-SUPPORTED-SHORT" | translate }}</span>
      }
      </td>
    </ng-container>

    <!-- SNR column -->
    <ng-container matColumnDef="snr">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="snr">
        <div [ngClass]="this.sort.active === 'snr' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOT-TABLE.SNR" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('snr')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>
        @if (iotDevice.type === 'LORAWAN' || iotDevice.type === 'SIGFOX') {
          @if (iotDevice.latestReceivedMessage?.snr) {
            <div>
              {{ iotDevice.latestReceivedMessage?.snr }}
            </div>
          } @else {
            <span>{{ "IOTDEVICE-TABLE-ROW.NOT-AVAILABLE" | translate }}</span>
          }
        } @else {
        <span>{{ "IOTDEVICE-TABLE-ROW.NOT-SUPPORTED-SHORT" | translate }}</span>
      }
      </td>
    </ng-container>

    <ng-container matColumnDef="dataTargets">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <div [ngClass]="this.sort.active === 'dataTargets' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "APPLICATION-TABLE.DATA-TARGETS" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('dataTargets')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ iotDevice.connections?.length ?? 0 }}</td>
    </ng-container>

    <!-- Battery Column -->
    <ng-container matColumnDef="battery">
      <th *matHeaderCellDef mat-header-cell>
        {{ "IOT-TABLE.BATTERY" | translate }}
      </th>
      <td *matCellDef="let iotDevice" mat-cell>
        @if (iotDevice.type === 'LORAWAN') {
          <div>
            <app-batteri-status [color]="batteryStatusColor" [percentage]="getBatteryProcentage(iotDevice)">
            </app-batteri-status>
          </div>
        } @else {
        <div>
          {{ "IOTDEVICE-TABLE-ROW.NOT-SUPPORTED-SHORT" | translate }}
        </div>
      }
      </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th *matHeaderCellDef mat-header-cell mat-sort-header="active">
        <div [ngClass]="this.sort.active === 'active' ? 'column-title-color' : 'column-title-color-inactive'">
          {{ "IOT-TABLE.ACTIVE" | translate }}
        </div>
        <app-table-sort-icon [sortDirection]="getSortDirection('active')"/>
      </th>
      <td *matCellDef="let iotDevice" mat-cell>{{ lastActive(iotDevice) }}</td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let iotDevice" mat-cell>
        @if (canEdit) {
          <div class="dropdown">
            <a
              [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
              aria-expanded="false"
              class="applicationRow__edit dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              id="tableRowDropdown-{{ iotDevice.id }}"
              role="button"
            ></a>
            <ul attr.aria-labelledby="tableRowDropdown-{{ iotDevice.id }}" class="dropdown-menu dropdown-menu--table">
              <li class="dropdown-item">
                <a [routerLink]="['../iot-device-edit', iotDevice.id]" routerLinkActive="active"
                >{{ "IOTDEVICE-TABLE-ROW.EDIT" | translate }}
                </a>
              </li>
              @if (iotDevice.type !== deviceTypes.SIGFOX) {
                <li class="dropdown-item">
                  <a (click)="onOpenChangeApplicationDialog(iotDevice.id)" routerLinkActive="active">{{
                      "IOTDEVICE.CHANGE-APPLICATION.TITLE" | translate
                    }}</a>
                </li>
              } @if (iotDevice.type !== deviceTypes.SIGFOX) {
              <li class="dropdown-item">
                <a (click)="navigateToCopy(iotDevice.id)" routerLinkActive="active">{{
                    "IOTDEVICE.COPY-SETTINGS-TO-NEW-DEVICE" | translate
                  }}</a>
              </li>
            }
              <li class="dropdown-item">
                <a (click)="clickDelete(iotDevice)" [routerLink]="[]">{{ "IOTDEVICE-TABLE-ROW.DELETE" | translate }}</a>
              </li>
            </ul>
          </div>
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
