<app-form-header [backButton]="backButton" [title]="title"></app-form-header>
<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>
            {{ error | translate }}
          </li>
        }
      </ul>
    </div>
  }
  <!-- Name -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "QUESTION.DEVICE-MODEL.GIVE-NAME" | translate }}</label
      >*
      <input
        (change)="handleNameNull()"
        [(ngModel)]="deviceModel.body.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'QUESTION.DEVICE-MODEL.GIVE-NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
  </div>
  <!-- id -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="id">{{ "QUESTION.DEVICE-MODEL.GIVE-ID" | translate }}</label
      >*
      <input
        [(ngModel)]="deviceModel.body.id"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('id'),
          'is-valid': formFailedSubmit && !errorFields.includes('id')
        }"
        [placeholder]="'QUESTION.DEVICE-MODEL.GIVE-ID-PLACEHOLDER' | translate"
        class="form-control"
        id="id"
        maxlength="50"
        name="id"
        required
        type="text"
      />
    </div>
  </div>
  <!-- brandName -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="brandName">{{ "QUESTION.DEVICE-MODEL.GIVE-BRANDNAME" | translate }}</label
      >*
      <input
        [(ngModel)]="deviceModel.body.brandName"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('brandName'),
          'is-valid': formFailedSubmit && !errorFields.includes('brandName')
        }"
        [placeholder]="'QUESTION.DEVICE-MODEL.GIVE-BRANDNAME-PLACEHOLDER' | translate"
        class="form-control"
        id="brandName"
        maxlength="50"
        name="brandName"
        required
        type="text"
      />
    </div>
  </div>

  <!-- modelName -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="modelName">{{ "QUESTION.DEVICE-MODEL.GIVE-MODELNAME" | translate }}</label
      >*
      <input
        [(ngModel)]="deviceModel.body.modelName"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('modelName'),
          'is-valid': formFailedSubmit && !errorFields.includes('modelName')
        }"
        [placeholder]="'QUESTION.DEVICE-MODEL.GIVE-MODELNAME-PLACEHOLDER' | translate"
        class="form-control"
        id="modelName"
        maxlength="50"
        name="modelName"
        required
        type="text"
      />
    </div>
  </div>

  <!-- manufacturerName -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="manufacturerName">{{
          "QUESTION.DEVICE-MODEL.GIVE-MANUFACTURERNAME" | translate
        }}</label
      >*
      <input
        [(ngModel)]="deviceModel.body.manufacturerName"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('manufacturerName'),
          'is-valid': formFailedSubmit && !errorFields.includes('manufacturerName')
        }"
        [placeholder]="'QUESTION.DEVICE-MODEL.GIVE-MANUFACTURERNAME-PLACEHOLDER' | translate"
        class="form-control"
        id="manufacturerName"
        maxlength="50"
        name="manufacturerName"
        required
        type="text"
      />
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="controlledProperty">{{
          "QUESTION.DEVICE-MODEL.SELECT-CONTROLLEDPROPERTY" | translate
        }}</label
      >*
      <mat-select
        [(ngModel)]="deviceModel.body.controlledProperty"
        [compareWith]="compare"
        class="form-control"
        multiple
        name="controlledProperty"
      >
        @for (control of controlledPropperties; track control) {
          <mat-option [value]="control">
            {{ control }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="categories">{{ "QUESTION.DEVICE-MODEL.SELECT-CATEGORY" | translate }}</label
      >*
      <mat-select
        [(ngModel)]="deviceModel.body.category"
        [compareWith]="compare"
        class="form-control"
        name="categories"
      >
        @for (category of categories; track category) {
          <mat-option [value]="category">
            {{ category }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="supportedUnits">{{
          "QUESTION.DEVICE-MODEL.SELECT-SUPPORTEDUNITS" | translate
        }}</label>
      <mat-select
        [(ngModel)]="deviceModel.body.supportedUnits"
        [compareWith]="compare"
        class="form-control"
        multiple
        name="supportedUnits"
      >
        @for (unit of supportedUnits.units; track unit) {
          <mat-option [value]="unit.code">
            {{ unit.name }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="devicefunction">{{
          "QUESTION.DEVICE-MODEL.SELECT-DEVICEFUNCTIONS" | translate
        }}</label>
      <mat-select
        [(ngModel)]="deviceModel.body.function"
        [compareWith]="compare"
        class="form-control"
        multiple
        name="devicefunction"
      >
        @for (function of deviceFunctions; track function) {
          <mat-option [value]="function">
            {{ function }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="energyLimitationClass">{{
          "QUESTION.DEVICE-MODEL.SELECT-ENERGYLIMITATIONCLASS" | translate
        }}</label>
      <mat-select
        [(ngModel)]="deviceModel.body.energyLimitationClass"
        [compareWith]="compare"
        class="form-control"
        name="energyLimitationClass"
      >
        @for (elclass of energyLimitationClass.energyLimits; track elclass) {
          <mat-option [value]="elclass.code">
            {{ elclass.name }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="supportedProtocol">{{
          "QUESTION.DEVICE-MODEL.SELECT-SUPPORTEDPROTOCOL" | translate
        }}</label>
      <mat-select
        [(ngModel)]="deviceModel.body.supportedProtocol"
        [compareWith]="compare"
        class="form-control"
        multiple
        name="supportedProtocol"
      >
        @for (protocol of supportedProtocol; track protocol) {
          <mat-option [value]="protocol">
            {{ protocol }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <a href="https://github.com/smart-data-models/dataModel.Device" target="_blank">
        {{ "QUESTION.DEVICE-MODEL.FIWARE-LINK-TEXT" | translate }}
      </a>
    </div>
  </div>
  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">{{ "GEN.CANCEL" | translate }}</button>
    <button class="btn btn-primary ml-2" type="submit">{{ "GEN.SAVE" | translate }}</button>
  </div>
</form>
