<select id="organisation" name="organisation" class="form-select input-lg" required #orgSelect
    (change)="onChange(orgSelect.value)">
    <option *ngFor="let org of organisations" [value]="org.id" [selected]="org.id === getSelectedOrganisation()">
        {{org.name}}</option>
</select>
<fa-icon [icon]="faExchangeAlt"></fa-icon>
<mat-divider></mat-divider>
<ul class="navbar-nav flex-column mb-2">
    <li class="nav-item">
        <a routerLink="/applications" routerLinkActive="active" class="nav-link pl-5 position-relative rounded"
            id="applications">
            {{ 'NAV.APPLICATIONS' | translate }}
        </a>
        <fa-icon [icon]="faLayergroup" class="navbar-icon"></fa-icon>
    </li>
    <li>
        <a routerLink="/sigfox" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
            {{'NAV.SIGFOX-ADMIN' | translate}}
        </a>
        <fa-icon [icon]="faToolbox" class="navbar-icon"></fa-icon>
    </li>
	<div *ngIf="!isOnlyGatewayAdmin">
		<li>
			<a routerLink="/device-model" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
				{{'NAV.DEVICE-MODEL' | translate}}
			</a>
			<fa-icon [icon]="faBurn" class="navbar-icon"></fa-icon>
    	</li>
	</div>    
    <div *ngIf="user && isUserAdmin && !isGlobalAdmin">
        <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
                {{'NAV.USERS' | translate}}
            </a>
            <fa-icon [icon]="faUsers" class="navbar-icon"></fa-icon>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/permissions" routerLinkActive="active"
                class="nav-link pl-5 position-relative rounded">
                {{'NAV.PERMISSIONS' | translate}}
            </a>
            <fa-icon [icon]="faIdBadge" class="navbar-icon"></fa-icon>
        </li>
    </div>
    <li *ngIf="user && (isUserAdmin || isGlobalAdmin)" class="nav-item">
        <a routerLink="/admin/api-key" routerLinkActive="active"
            class="nav-link pl-5 position-relative rounded">
            {{'NAV.API-KEY' | translate}}
        </a>
        <fa-icon [icon]="faKey" class="navbar-icon"></fa-icon>
    </li>
</ul>
