// Bootstrap
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Widths
$navWidth: 267px;

// Colors
$white: #fff;

$grey-light: #f8f8f8;
$grey-tablehead: #f8fafc;
$grey-highlight: #f2f4f7;
$grey-border: #b3b3b3;
$grey-text: #9baeb8;
$grey-dark: #738a94;
$grey-outline: rgba(179, 179, 179, 0.85);

$black-light: #555f63;
$black: #3e4b50;

$blue: #49b3ee;

$green-light: #54a758;
$green: #43a047;

$orange-light: #fa8842;
$orange: #f4792f;
$orange-outline: rgba(244, 121, 47, 0.6);

// Bootstrap overrides
$theme-colors: (
    'primary': $orange,
    'success': $green,
    'dark': $black
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
