@import '../../../assets/scss/setup/utilities';
@import '../../../assets/scss/setup/variables';
  

ngx-monaco-editor {
  width: 100%;
  padding: 15px;
  //border: $border-input-hover;
  @include add-shadow;
}

.big-editor {
  height: 100vh;
}

.middle-editor{
  height: 40vh;
}