@import '../../../assets/scss/setup/utilities';
@import '../../../assets/scss/setup/variables';
  

  ngx-monaco-editor {
    height: 50vh;
    width: 100%;
    padding: 15px;
    //border: $border-input-hover;
    @include add-shadow;
  }