<form (ngSubmit)="onSubmit()" #iotDeviceForm="ngForm" class="os2-form p-3 mt-4">
  <div *ngIf="errorMessages" class="error-messages p-3">
    <ul class="mb-0">
      <li *ngFor="let error of errorMessages">
        {{error}}
      </li>
    </ul>
  </div>

  <div class="row mb-5">
    <div class="form-group d-flex justify-content-center p-3 col-12"
      [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('type'), 'is-valid' : formFailedSubmit && !errorFields.includes('type')}">
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input attr.aria-label="Sigfox" type="radio" name="type" value="SIGFOX" class="form-check-input" required
            [(ngModel)]="iotDevice.type">
          <div class="image-container">
            <img src="assets/images/Sigfox_Logo.png" alt="Sigfox">
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input attr.aria-label="NB-IoT" type="radio" name="type" value="NBIOT" class="form-check-input" required
            [(ngModel)]="iotDevice.type">
          <div class="image-container">
            <img src="assets/images/nbiot.png" alt="NB-IoT">
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input attr.aria-label="LoRaWAN" type="radio" name="type" value="LORAWAN" class="form-check-input" required
            [(ngModel)]="iotDevice.type">
          <div class="image-container">
            <img src="assets/images/lora.png" alt="LoRaWAN">
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input attr.aria-label="{{'GEN.HTTP' | translate}}" type="radio" name="type" value="GENERIC_HTTP"
            class="form-check-input" required [(ngModel)]="iotDevice.type">
          <div class="image-container">
            <img src="assets/images/iot.png" alt="{{'GEN.HTTP' | translate}}">
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{'QUESTION.GIVE-DEVICE-NAME' | translate}}</label>*
      <input type="text" class="form-control" id="name" name="name"
        [placeholder]="'QUESTION.DEVICE-NAME-PLACEHOLDER' | translate" maxlength="50" required
        [(ngModel)]="iotDevice.name"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('name'), 'is-valid' : formFailedSubmit && !errorFields.includes('name')}">
    </div>

    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{'QUESTION.CHOOSE-APPLICATION' | translate}}</label>*
      <select id="applicationId" class="form-select" name="applicationId" [(ngModel)]="iotDevice.applicationId" required [disabled]="disableChoseApplication"
        [value]="iotDevice.applicationId"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('applicationId'), 'is-valid' : formFailedSubmit && !errorFields.includes('applicationId')}">
        <option *ngFor="let app of applications" [value]="app.id" [selected]="app.id === iotDevice.applicationId">{{app.name}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="comment">{{'IOTDEVICE.COMMENT' | translate}}</label>
      <input type="text" class="form-control" id="comment" name="comment"
        [placeholder]="'QUESTION.EXTRA-COMMENT-PLACEHOLDER' | translate" maxLength="1024" [(ngModel)]="iotDevice.comment"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('comment'), 'is-valid' : formFailedSubmit && !errorFields.includes('comment')}">
    </div>

    <div class="form-group mt-3 col-6">
      <label class="form-label" for="longitude">{{'IOTDEVICE.LONGITUDE' | translate}}</label>
      <input type="number" class="form-control" id="longitude" name="longitude" [placeholder]="00" required
        [(ngModel)]="iotDevice.longitude" step=".000001" min="-180" max="180" maxlength="9" (keyup)="onCoordinateKey($event)"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('longitude'), 'is-valid' : formFailedSubmit && !errorFields.includes('longitude')}">
    </div>

    <div class="form-group mt-3 col-6">
      <label class="form-label" for="latitude">{{'IOTDEVICE.LATITUDE' | translate}}</label>
      <input type="number" class="form-control" id="latitude" name="latitude" [placeholder]="00" required
        [(ngModel)]="iotDevice.latitude" step=".000001" min="-90" max="90" maxlength="9" (keyup)="onCoordinateKey($event)"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('latitude'), 'is-valid' : formFailedSubmit && !errorFields.includes('latitude')}">
    </div>
  </div>

  <div class="form-group mt-5">
    <label class="form-label" for="commentOnLocation">{{'QUESTION.LOCATION-DESCRIPTION' | translate}}</label>
    <input type="text" id="commentOnLocation" name="commentOnLocation" maxLength="1024"
      [placeholder]="'QUESTION.LOCATION-DESCRIPTION-PLACEHOLDER' | translate" class="form-control"
      [(ngModel)]="iotDevice.commentOnLocation"
      [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('commentOnLocation'), 'is-valid' : formFailedSubmit && !errorFields.includes('commentOnLocation')}">
  </div>

  <ng-container *ngIf="iotDevice.type == loraDevice" class="row mb-5">
    <div class="form-group mt-5">
      <h3>{{'IOTDEVICE.LORAWANSETUP' | translate}}</h3>
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="devEUI">{{'QUESTION.DEVEUI' | translate}}</label>
      <input type="text" id="devEUI" name="devEUI" maxLength="16"
        [placeholder]="'QUESTION.DEVEUI-PLACEHOLDER' | translate" class="form-control"
        [(ngModel)]="iotDevice.lorawanSettings.devEUI"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('devEUI'), 'is-valid' : formFailedSubmit && !errorFields.includes('devEUI')}">
    </div>

    <div class="form-group mt-5">
      <mat-tab-group dynamicHeight>
        <mat-tab label="{{'QUESTION.OTAA' | translate}}">
          <div class="example-small-box mat-elevation-z4">
            <div class="form-group mt-5">
              <label class="form-label" for="OTAAapplicationKey">{{'QUESTION.OTAAAPPLICATIONKEY' | translate}}</label>
              <input type="text" id="OTAAapplicationKey" name="OTAAapplicationKey" maxLength="32"
                [placeholder]="'QUESTION.OTAAAPPLICATIONKEY-PLACEHOLDER' | translate" class="form-control"
                [(ngModel)]="iotDevice.lorawanSettings.OTAAapplicationKey"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('OTAAapplicationKey'), 'is-valid' : formFailedSubmit && !errorFields.includes('OTAAapplicationKey')}">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{'QUESTION.ABP' | translate}}">
          <div class="example-large-box mat-elevation-z4">
            <div class="form-group mt-5">
              <label class="form-label" for="devAddr">{{'QUESTION.DEVADDR' | translate}}</label>
              <input type="text" id="devAddr" name="devAddr" maxLength="8"
                [placeholder]="'QUESTION.DEVADDR-PLACEHOLDER' | translate" class="form-control"
                [(ngModel)]="iotDevice.lorawanSettings.devAddr"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('devAddr'), 'is-valid' : formFailedSubmit && !errorFields.includes('devAddr')}">
            </div>
        
            <div class="form-group mt-5">
              <label class="form-label" for="networkSessionKey">{{'QUESTION.NETWORKSESSIONKEY' | translate}}</label>
              <input type="text" id="networkSessionKey" name="networkSessionKey" maxLength="32"
                [placeholder]="'QUESTION.NETWORKSESSIONKEY-PLACEHOLDER' | translate" class="form-control"
                [(ngModel)]="iotDevice.lorawanSettings.networkSessionKey"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('networkSessionKey'), 'is-valid' : formFailedSubmit && !errorFields.includes('networkSessionKey')}">
            </div>
        
            <div class="form-group mt-5">
              <label class="form-label" for="applicationSessionKey">{{'QUESTION.APPLICATIONSESSIONKEY' | translate}}</label>
              <input type="text" id="applicationSessionKey" name="applicationSessionKey" maxLength="32"
                [placeholder]="'QUESTION.APPLICATIONSESSIONKEY-PLACEHOLDER' | translate" class="form-control"
                [(ngModel)]="iotDevice.lorawanSettings.applicationSessionKey"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('applicationSessionKey'), 'is-valid' : formFailedSubmit && !errorFields.includes('applicationSessionKey')}">
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="isDisabled">{{'QUESTION.ISDISABLED' | translate}}</label>
      <div>
        <mat-radio-group [(ngModel)]="iotDevice.lorawanSettings.isDisabled" name="isDisabled" aria-label="Select an option">
          <mat-radio-button value="false">{{'QUESTION.ISDISABLED-NO' | translate}}</mat-radio-button>
          <mat-radio-button value="true">{{'QUESTION.ISDISABLED-YES' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="skipFCntCheck">{{'QUESTION.SKIPFCNTCHECK' | translate}}</label>
      <div>
        <mat-radio-group [(ngModel)]="iotDevice.lorawanSettings.skipFCntCheck" name="skipFCntCheck" aria-label="Select an option">
          <mat-radio-button [checked]="true" value="false">{{'QUESTION.SKIPFCNTCHECK-NO' | translate}}</mat-radio-button>
          <mat-radio-button value="true">{{'QUESTION.SKIPFCNTCHECK-YES' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </ng-container>

  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-light" type="button">{{ 'GEN.CANCEL' | translate}}</button>
    <button class="btn btn-dark ml-2" type="submit">{{ submitButton }}</button>
  </div>
</form>
