<div class="row">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="os2-form p-3 mt-4">

    <div *ngIf="errorMessages" class="error-messages p-3">
      <ul class="mb-0">
        <li *ngFor="let error of errorMessages">
          {{error}}
        </li>
      </ul>
    </div>

    <div *ngFor="let questionGroup of questions" class="row mb-5">
      <div app-question *ngFor="let question of questionGroup.data" [question]="question" [form]="form" [applicationId]="id" [className]="question.controlType === 'coordinatebox' ? 'col-6' : '-col-12'"></div>
    </div>

    <div class="form-row mt-5">
      <button (click)="routeBack()" class="btn btn-light" type="button">{{ 'GEN.CANCEL' | translate}}</button>
      <button class="btn btn-dark ml-2" type="submit">{{ submitButton }}</button>
    </div>
  </form>
</div>
