<td><i class="fas {{getIcon(searchResult.type)}}"></i></td>
<td>
    <div *ngIf="searchResult.type == 'IoTDevice'; else typeElse">
        {{searchResult.deviceType | translate}}
    </div>
    <ng-template #typeElse>
        {{searchResult.type}}
    </ng-template>
</td>
<td>
    <a class="application-link" (click)="goToResult()">{{searchResult.name}}</a>
</td>
<td>
    <div *ngIf="searchResult.type == 'IoTDevice'">
        <div *ngIf="searchResult.deviceType == 'LORAWAN'">
            {{searchResult.deviceEUI}}
        </div>
        <div *ngIf="searchResult.deviceType == 'SIGFOX'">
            {{searchResult.deviceId}}
        </div>
        <div *ngIf="searchResult.deviceType == 'GENERIC_HTTP'">
            {{searchResult.apiKey}}
        </div>
    </div>
    <div *ngIf="searchResult.type == 'Application'" class="application-link">{{searchResult.id}}</div>
    <div *ngIf="searchResult.type == 'Gateway'" class="application-link">{{searchResult.gatewayId}}</div>
</td>
<td>{{searchResult.organizationName}}</td>