@if (datatarget) {
  <app-top-bar (deleteSelectedInDropdown)="onDeleteDatatarget()" [addDetailDowndown]="true" [backButton]="backButton"
               [canEdit]="canEdit" [data]="datatarget"
               [dropDownButton]="dropdownButton"
               [subPage]="true">
  </app-top-bar>
} @if (datatarget?.type === dataTargetType.HTTPPUSH) {
  <div>
    <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
      @for (link of navTabs; track link) {
        <a #rla="routerLinkActive" [active]="rla.isActive" [routerLink]="'./' + link.link"
           mat-tab-link routerLinkActive>
          {{ link.label | translate }}
          @if (link.link === logLink && datatarget?.hasRecentErrors) {
            <fa-icon [icon]="faExclamationTriangle"
                     class="fa-error">
            </fa-icon>
          }
        </a>
      }
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </div>
}

<router-outlet></router-outlet>
