<mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
        <mat-panel-title class="nav-item">
            <mat-panel-title>
                <mat-icon>
                    <fa-icon [icon]="faToolbox" class="navbar-icon"></fa-icon>
                </mat-icon>
            </mat-panel-title>
            <mat-panel-description>
                <p class="nav-link ml-2">{{'NAV.SIGFOX' | translate}}</p>
            </mat-panel-description>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a routerLink="/sigfox/administration" routerLinkActive="active"
                class="nav-link pl-5 position-relative rounded">
                {{'NAV.SIGFOX-ADMIN' | translate}}
            </a>
            <fa-icon [icon]="faToolbox" class="navbar-icon"></fa-icon>
        </li>
        <li class="nav-item">
            <a routerLink="/sigfox/profiles" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
                {{'NAV.SIGFOX-PROFILES' | translate}}
            </a>
            <fa-icon [icon]="faIdCard" class="navbar-icon"></fa-icon>
        </li>
    </ul>
</mat-expansion-panel>