.mat-mdc-dialog-title {
  padding-left: 20px;
}

.mat-mdc-dialog-content {
  padding-left: 20px !important;
}

.mat-mdc-dialog-actions {
  padding-left: 20px !important;
  gap: 8px;
}

.mat-mdc-button {
  margin-left: 0px !important;
}
