<h1 mat-dialog-title>{{ "IOTDEVICE.DOWNLINK.DIALOG-TITLE" | translate }}</h1>
<div mat-dialog-content>
    {{ "IOTDEVICE.DOWNLINK.DIALOG-MESSAGE" | translate }}
</div>
<div mat-dialog-actions>
    <button click="cancel()" mat-button mat-dialog-close class="btn btn-primary ml-2">
        {{ "IOTDEVICE.DOWNLINK.DIALOG-DECLINE" | translate }}
    </button>
    <button [mat-dialog-close]="true" mat-button mat-dialog-close class="btn btn-secondary ml-2">
        {{ "IOTDEVICE.DOWNLINK.DIALOG-CONFIRM" | translate }}
    </button>
</div>
