<app-form-header [backButton]="backButton" [title]="title"></app-form-header>
<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @if (errorMessages) {
          <div>
            @for (error of errorMessages; track error) {
              <li>
                {{ error | translate }}
              </li>
            }
          </div>
        }
      </ul>
    </div>
  }

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "QUESTION.SIGFOX.DEVICETYPE.NAME" | translate }}</label
      >*
      <input
        [(ngModel)]="sigfoxDeviceType.name"
        [disabled]="!canEdit"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'QUESTION.SIGFOX.DEVICETYPE.NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="alertEmail">{{ "QUESTION.SIGFOX.DEVICETYPE.ALERTEMAIL" | translate }}</label>
      <input
        [(ngModel)]="sigfoxDeviceType.alertEmail"
        [disabled]="!canEdit"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('alertEmail'),
          'is-valid': formFailedSubmit && !errorFields.includes('alertEmail')
        }"
        [placeholder]="'QUESTION.SIGFOX.DEVICETYPE.ALERTEMAIL-PLACEHOLDER' | translate"
        class="form-control"
        id="alertEmail"
        maxlength="50"
        name="alertEmail"
        required
        type="text"
      />
    </div>
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="description">{{ "QUESTION.SIGFOX.DEVICETYPE.DESCRIPTION" | translate }}</label
      >*
      <input
        [(ngModel)]="sigfoxDeviceType.description"
        [disabled]="!canEdit"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('description'),
          'is-valid': formFailedSubmit && !errorFields.includes('description')
        }"
        [placeholder]="'QUESTION.SIGFOX.DEVICETYPE.DESCRIPTION-PLACEHOLDER' | translate"
        class="form-control"
        id="description"
        maxlength="300"
        name="description"
        required
        type="text"
      />
    </div>
    @if (sigfoxDeviceType.groupId) {
      <div>
        <div class="form-group mt-3 col-12">
          <mat-form-field appearance="fill">
            <mat-label>{{ "QUESTION.SIGFOX.DEVICETYPE.CHOOSE-CONTRACT" | translate }}</mat-label>
            <select [(ngModel)]="sigfoxDeviceType.contractId" [disabled]="!canEdit" matNativeControl name="contractId">
              @for (contract of sigfoxContracts; track contract) {
                <option
                  [selected]="contract.id === sigfoxDeviceType.contractId"
                  [value]="contract.id"
                >
                  {{ contract.name }}
                </option>
              }
            </select>
          </mat-form-field>
        </div>
      </div>
    }
  </div>

  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">
      {{ "ORGANISATION.FORM.CANCEL" | translate }}
    </button>
    <button [disabled]="!canEdit" class="btn btn-primary ms-2" type="submit">
      {{ "SIGFOX-GROUP.PROFILES.SAVE" | translate }}
    </button>
  </div>
</form>
