<app-form-header [backButton]="backButton" [title]="title">
</app-form-header>
<div *ngIf="deviceProfile.internalOrganizationName || deviceProfile.createdAt"
    class="jumbotron os2-form mt-3 px-md-5 py-md-4">
    <h3>{{ 'PROFILES.DEVICE_PROFILE.DETAILS' | translate }}</h3>
    <p><strong
            *ngIf="deviceProfile.internalOrganizationName">{{ 'PROFILES.DEVICE_PROFILE.ORGANIZATION' | translate }}</strong>{{deviceProfile.internalOrganizationName}}
    </p>
    <app-general-details [data]="deviceProfile"></app-general-details>
</div>
<form (ngSubmit)="onSubmit()" class="os2-form mt-3 px-md-5 py-md-4">
    <div *ngIf="errorMessages" class="error-messages p-3">
        <ul class="mb-0">
            <div *ngIf="errorMessages">
                <li *ngFor="let error of errorMessages">
                    {{error | translate}}
                </li>
            </div>
            <li *ngIf="errorMessage">
                {{errorMessage | translate}}
            </li>
        </ul>
    </div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Generelt">
            <div class="col-xs-12 form-group">
                <label for="name"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.NAME' | translate}}</label>
                <input type="text" class="form-control" id="name" name="name" [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.NAME_PLACEHOLDER' | translate" maxlength="50" required
                    [(ngModel)]="deviceProfile.name">
            </div>

            <div class="col-xs-12 form-group" *ngIf="deviceProfile.id">
                <label for="id"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.ID' | translate}}</label>
                <input type="text" class="form-control" id="id" name="id" [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.ID_PLACEHOLDER' | translate" maxlength="50" required
                    disabled [ngModel]="deviceProfile.id">
            </div>

            <div class="col-xs-12 form-group">
                <label for="macVersion"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.MACVERSION' | translate}}</label>
                <!-- <input type="text" class="form-control" id="macVersion" name="macVersion"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.MACVERSION_PLACEHOLDER' | translate" maxlength="50" required
                    [(ngModel)]="deviceProfile.macVersion"> -->
                <mat-form-field appearance="outline">
                    <mat-select [disabled]="!deviceProfile.canEdit" matNativeControl required [compareWith]="compare"
                        name="macVersion" [(value)]="deviceProfile.macVersion">
                        <mat-option value="1.0.0">1.0.0</mat-option>
                        <mat-option value="1.0.1">1.0.1</mat-option>
                        <mat-option value="1.0.2">1.0.2</mat-option>
                        <mat-option value="1.0.3">1.0.3</mat-option>
                        <mat-option value="1.1.0">1.1.0</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xs-12 form-group">
                <label
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.REGPARAMSREVISION' | translate}}</label>
                <mat-form-field appearance="outline">
                    <mat-select matNativeControl required name="regParamsRevision" [disabled]="!deviceProfile.canEdit"
                        [(value)]="deviceProfile.regParamsRevision" [compareWith]="compare">
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-xs-12 form-group">
                <label for="maxEIRP"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.MAXEIRP' | translate}}</label>
                <input type="number" class="form-control" id="maxEIRP" name="maxEIRP"
                    [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.MAXEIRP_PLACEHOLDER' | translate" maxlength="50" min="0"
                    required [(ngModel)]="deviceProfile.maxEIRP">
            </div>

            <div class="col-xs-12 form-group">
                <label for="geolocBufferTTL"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.GEOLOCBUFFERTTL' | translate}}</label>
                <input type="number" min="0" class="form-control" id="geolocBufferTTL" name="geolocBufferTTL"
                    [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.GEOLOCBUFFERTTL_PLACEHOLDER' | translate" maxlength="50"
                    required [(ngModel)]="deviceProfile.geolocBufferTTL">
            </div>

            <div class="col-xs-12 form-group">
                <label for="geolocMinBufferSize"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.GEOLOCMINBUFFERSIZE' | translate}}</label>
                <input type="number" min="0" class="form-control" id="geolocMinBufferSize" name="geolocMinBufferSize"
                    [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.GEOLOCMINBUFFERSIZE_PLACEHOLDER' | translate" maxlength="50"
                    required [(ngModel)]="deviceProfile.geolocMinBufferSize">
            </div>
            <div class="col-xs-12 form-group mt-3" *ngIf="deviceProfile.internalOrganizationName">
                <label for="geolocMinBufferSize" class="form-label">
                    {{'PROFILES.DEVICE_PROFILE.ORGANIZATION' | translate}}
                </label>
                {{deviceProfile.internalOrganizationName}}
            </div>

        </mat-tab>
        <mat-tab label="{{'PROFILES.DEVICE_PROFILE.OTAA-ABP' | translate}}">

            <mat-checkbox [(ngModel)]="deviceProfile.supportsJoin" name="supportsJoin"
                [disabled]="!deviceProfile.canEdit">
                {{'PROFILES.DEVICE_PROFILE.OTAA-ACTIVATE' | translate}}
            </mat-checkbox>

            <ng-container *ngIf="!deviceProfile.supportsJoin">
                <div class="col-xs-12 form-group">
                    <label for="rxDelay1"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.RXDELAY1' | translate}}</label>
                    <input type="number" class="form-control" id="rxDelay1" name="rxDelay1"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.RXDELAY1_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.rxDelay1">
                </div>
                <div class="col-xs-12 form-group">
                    <label for="rxDROffset1"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.RXDROFFSET1' | translate}}</label>
                    <input type="number" class="form-control" id="rxDROffset1" name="rxDROffset1"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.RXDROFFSET1_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.rxDROffset1">
                </div>
                <div class="col-xs-12 form-group">
                    <label for="rxDataRate2"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.RXDATARATE2' | translate}}</label>
                    <input type="number" class="form-control" id="rxDataRate2" name="rxDataRate2"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.RXDATARATE2_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.rxDataRate2">
                </div>
                <div class="col-xs-12 form-group">
                    <label for="rxFreq2"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.RXFREQ2' | translate}}</label>
                    <input type="number" class="form-control" id="rxFreq2" name="rxFreq2"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.RXFREQ2_PLACEHOLDER' | translate" maxlength="50" min="0"
                        required [(ngModel)]="deviceProfile.rxFreq2">
                </div>
                <div class="col-xs-12 form-group">
                    <label for="factoryPresetFreqsInput"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.FACTORYPRESETFREQS' | translate}}</label>
                    <input type="text" class="form-control" id="factoryPresetFreqsInput" name="factoryPresetFreqsInput"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.FACTORYPRESETFREQS_PLACEHOLDER' | translate"
                        [disabled]="!deviceProfile.canEdit" maxlength="50" required
                        [(ngModel)]="deviceProfile.factoryPresetFreqsInput">
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Class B">

            <mat-checkbox [(ngModel)]="deviceProfile.supportsClassB" name="supportsClassB"
                [disabled]="!deviceProfile.canEdit">
                {{'PROFILES.DEVICE_PROFILE.SUPPORTSCLASSB_ACTIVATE' | translate}}
            </mat-checkbox>

            <ng-container *ngIf="deviceProfile.supportsClassB">
                <div class="col-xs-12 form-group">
                    <label for="classBTimeout"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.CLASSBTIMEOUT' | translate}}</label>
                    <input type="number" class="form-control" id="classBTimeout" name="classBTimeout"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.CLASSBTIMEOUT_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.classBTimeout">
                </div>

                <div class="col-xs-12 form-group mt-3">
                    <label for="pingSlotPeriod" class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.PINGSLOTPERIOD' | translate}}</label>
                    <mat-form-field appearance="outline">
                        <select matNativeControl required name="pingSlotPeriod" [disabled]="!deviceProfile.canEdit"
                            [(ngModel)]="deviceProfile.pingSlotPeriod" [value]="deviceProfile.pingSlotPeriod">
                            <option value="32">Every second</option>
                            <option value="64">Every 2 seconds</option>
                            <option value="128">Every 4 seconds</option>
                            <option value="256">Every 8 seconds</option>
                            <option value="512">Every 16 seconds</option>
                            <option value="1024">Every 32 seconds</option>
                            <option value="2048">Every 64 seconds</option>
                            <option value="4096">Every 128 seconds</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 form-group">
                    <label for="pingSlotDR"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.PINGSLOTDR' | translate}}</label>
                    <input type="number" class="form-control" id="pingSlotDR" name="pingSlotDR"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.PINGSLOTDR_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.pingSlotDR">
                </div>

                <div class="col-xs-12 form-group">
                    <label for="pingSlotFreq"
                        class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.PINGSLOTFREQ' | translate}}</label>
                    <input type="number" class="form-control" id="pingSlotFreq" name="pingSlotFreq"
                        [disabled]="!deviceProfile.canEdit"
                        [placeholder]="'PROFILES.DEVICE_PROFILE.PINGSLOTFREQ_PLACEHOLDER' | translate" maxlength="50"
                        min="0" required [(ngModel)]="deviceProfile.pingSlotFreq">
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Class C">

            <mat-checkbox [(ngModel)]="deviceProfile.supportsClassC" name="supportsClassC"
                [disabled]="!deviceProfile.canEdit">
                {{'PROFILES.DEVICE_PROFILE.SUPPORTSCLASSC_ACTIVATE' | translate}}
            </mat-checkbox>
            <div class="col-xs-12 form-group">
                <label for="classCTimeout"
                    class="form-label asterisk-if-mandatory">{{'PROFILES.DEVICE_PROFILE.CLASSCTIMEOUT' | translate}}</label>
                <input type="number" class="form-control" id="classCTimeout" name="classCTimeout"
                    [disabled]="!deviceProfile.canEdit"
                    [placeholder]="'PROFILES.DEVICE_PROFILE.CLASSCTIMEOUT_PLACEHOLDER' | translate" maxlength="50"
                    min="0" required [(ngModel)]="deviceProfile.classCTimeout">
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="row mt-5">
        <div class="col-xs-12">
            <div class="float-right">
                <button type="button" class="btn btn-secondary" (click)="routeBack()">
                    {{'GEN.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn btn-primary ml-3" [disabled]="!deviceProfile.canEdit || !'is-valid'">
                    {{'GEN.SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>
