<input class="mat-select-search-input mat-select-search-hidden" matInput/>

<div [ngClass]="{ 'mat-select-search-inner-multiple': matSelect.multiple }" class="mat-select-search-inner">
  <input
    #searchSelectInput
    (blur)="onBlur($event.target.value)"
    (input)="onInputChange($event.target.value)"
    (keydown)="_handleKeydown($event)"
    class="mat-select-search-input"
    matInput
    placeholder="placeholderLabel"
  />
  @if (value) {
    <button (click)="_reset(true)" aria-label="Clear" class="mat-select-search-clear" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  }
</div>

@if (noEntriesFoundLabel && value && _options?.length === 0) {
  <div class="mat-select-search-no-entries-found">
    {{ noEntriesFoundLabel }}
  </div>
}
