<div class="row ">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="jumbotron jumbotron--m-right">
            <h3>{{ 'IOTDEVICE.DETAIL' | translate }}</h3>
            <!-- Battery -->
            <div class="d-flex align-items-center">
                <p class="mr-1"><strong>{{ 'IOT-TABLE.BATTERY' | translate }}</strong></p>
                <app-batteri-status *ngIf="device.type === 'LORAWAN'; else noBatteryStatus" [color]="batteryStatusColor"
                    [percentage]="batteryStatusPercentage"></app-batteri-status>
                <ng-template #noBatteryStatus>
                    <div>
                        <p>{{ 'IOTDEVICE-TABLE-ROW.BATTERY-ERROR-MESSAGE' | translate }}</p>
                    </div>
                </ng-template>
            </div>
            <mat-divider></mat-divider>

            <!-- Unit type -->
            <p> <strong>{{ 'IOTDEVICE.TYPE' | translate }}</strong>{{ 'IOT-DEVICE-TYPES.' + device.type | translate}}
            </p>
            <!-- IF  Lora device-->
            <ng-container *ngIf="device.type === 'LORAWAN' && device.lorawanSettings">
                <app-iot-device-detail-lorawan [device]="device"></app-iot-device-detail-lorawan>
            </ng-container>
            <!-- SIGFOX DEVICE-->
            <ng-container *ngIf="device.type === 'SIGFOX' && device.sigfoxSettings">
                <app-iot-device-detail-sigfox [device]="device"></app-iot-device-detail-sigfox>
            </ng-container>
            <!-- Comment -->
            <mat-divider></mat-divider>
            <p>
                <strong>{{ 'IOTDEVICE.COMMENT' | translate }}</strong>
                <span *ngIf="device.comment; else elseBlock">
                    {{device.comment}}
                </span>
                <ng-template #elseBlock>
                    {{ 'IOTDEVICE.NOCOMMENT' | translate}}
                </ng-template>
            </p>

            <!-- <div class="btn-group float-md-right dropdown">
        <button type="button" id="dropdown-{{ device.name }}" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'IOTDEVICE-TABLE-ROW.SHOW-OPTIONS' | translate}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" attr.aria-labelledby="dropdown-{{ device.name }}">
            <li class="dropdown-item">
                <a [routerLink]="['../../iot-device-edit', this.device.id]">{{ 'IOTDEVICE-TABLE-ROW.EDIT' | translate }}
                </a>
            </li>
            <li class="dropdown-item">
                <a (click)="clickDelete()">{{ 'IOTDEVICE-TABLE-ROW.DELETE' | translate }}
                </a>
            </li>
        </ul>
    </div> -->
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="jumbotron jumbotron--m-left">
            <h3>{{ 'IOTDEVICE.LOCATION' | translate }}</h3>
            <div *ngIf="device.location; else locationElseBlock">
                <app-map [coordinates]="getCoordinates()"></app-map>
                <div class="row">
                    <div class="col-6">
                        <p><strong>{{ 'IOTDEVICE.LONGITUDE' | translate }}</strong>{{longitude}}</p>
                    </div>
                    <div class="col-6">
                        <p><strong>{{ 'IOTDEVICE.LATITUDE' | translate }}</strong>{{latitude}}</p>
                    </div>
                </div>
            </div>
            <ng-template #locationElseBlock>
                <p>{{ 'IOTDEVICE.NOLOCATION' | translate}}</p>
            </ng-template>
            <p>
                <strong>
                    {{ 'IOTDEVICE.COMMENTONLOCATION' | translate }}
                </strong>
                <span *ngIf="device.commentOnLocation; else locationCommentElseBlock">
                    {{device.commentOnLocation}}
                </span>
                <ng-template #locationCommentElseBlock>
                    {{ 'IOTDEVICE.NOCOMMENTONLOCATION' | translate}}
                </ng-template>
            </p>
        </div>
    </div>
</div>