<div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="jumbotron jumbotron--m-right jumbotron--full-width">
            <h3>{{ 'IOTDEVICE.DETAIL' | translate }}</h3>
            <!-- Battery -->
            <p class="mr-1"><strong>{{ 'IOT-TABLE.APPLICATION' | translate }}</strong>{{device.application.name}}</p>
            <app-general-details [data]="device"></app-general-details>
            <mat-divider></mat-divider>
            <div class="d-flex align-items-center">
                <p class="mr-1"><strong>{{ 'IOT-TABLE.BATTERY' | translate }}</strong></p>
                <app-batteri-status *ngIf="device.type === 'LORAWAN'; else noBatteryStatus" [color]="batteryStatusColor"
                    [percentage]="batteryStatusPercentage"></app-batteri-status>
                <ng-template #noBatteryStatus>
                    <div>
                        <p>{{ 'IOTDEVICE-TABLE-ROW.NOT-SUPPORTED-SHORT' | translate }}</p>
                    </div>
                </ng-template>
                <ng-template #notAvailable>
                  <span>{{'IOTDEVICE-TABLE-ROW.NOT-AVAILABLE' | translate}}</span>
                </ng-template>
            </div>
            <mat-divider></mat-divider>

            <!-- Unit type -->
            <p> <strong>{{ 'IOTDEVICE.TYPE' | translate }}</strong>{{ 'IOT-DEVICE-TYPES.' + device.type | translate}}
            </p>
            <!-- IF  Lora device-->
            <ng-container *ngIf="device.type === 'LORAWAN' && device.lorawanSettings">
                <app-iot-device-detail-lorawan [device]="device"></app-iot-device-detail-lorawan>
            </ng-container>
            <!-- SIGFOX DEVICE-->
            <ng-container *ngIf="device.type === 'SIGFOX' && device.sigfoxSettings">
                <app-iot-device-detail-sigfox [device]="device"></app-iot-device-detail-sigfox>
            </ng-container>
            <ng-container  *ngIf="device.type === 'GENERIC_HTTP'">
                <mat-divider></mat-divider>
                <p>
                    <strong>{{ 'IOTDEVICE.GENERIC_HTTP.APIKEY' | translate }}</strong>
                    <span class="pre text-break">{{ httpDeviceUrl }}</span>
                </p>
            </ng-container>
            <!-- Comment -->
            <mat-divider></mat-divider>
            <p>
                <strong>{{ 'IOTDEVICE.COMMENT' | translate }}</strong>
                <span *ngIf="device.comment; else elseBlock">
                    {{device.comment}}
                </span>
                <ng-template #elseBlock>
                    {{ 'IOTDEVICE.NOCOMMENT' | translate}}
                </ng-template>
            </p>
            <ng-container *ngIf="metadataTags.length">
              <mat-divider></mat-divider>
              <p><strong>{{ 'QUESTION.METADATA' | translate }}</strong></p>
              <p *ngFor="let tag of metadataTags; let i = index">
                <strong>{{i + 1}}: {{ tag.key }}</strong>
                <span>{{ tag.value }}</span>
            </p>
            </ng-container>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="jumbotron jumbotron--m-left jumbotron--full-width">
            <h3>{{ 'IOTDEVICE.LOCATION' | translate }}</h3>
            <div *ngIf="device.location; else locationElseBlock">
                <app-map [coordinates]="getCoordinates()"></app-map>
                <div class="row">
                    <div class="col-6">
                        <p><strong>{{ 'IOTDEVICE.LONGITUDE' | translate }}</strong>{{longitude | number:'2.1-6'}}</p>
                    </div>
                    <div class="col-6">
                        <p><strong>{{ 'IOTDEVICE.LATITUDE' | translate }}</strong>{{latitude | number:'2.1-6'}}</p>
                    </div>
                </div>
            </div>
            <ng-template #locationElseBlock>
                <p>{{ 'IOTDEVICE.NOLOCATION' | translate}}</p>
            </ng-template>
            <p>
                <strong>
                    {{ 'IOTDEVICE.COMMENTONLOCATION' | translate }}
                </strong>
                <span *ngIf="device.commentOnLocation; else locationCommentElseBlock">
                    {{device.commentOnLocation}}
                </span>
                <ng-template #locationCommentElseBlock>
                    {{ 'IOTDEVICE.NOCOMMENTONLOCATION' | translate}}
                </ng-template>
            </p>
        </div>
    </div>
</div>
