<div class="application-change-organization-dialog">
  <h1 mat-dialog-title>{{ "APPLICATION.CHANGE-ORGANIZATION.TITLE" | translate }}</h1>
  <div mat-dialog-content>
    <label class="form-label" for="organizationSelect">{{
        "APPLICATION.CHANGE-ORGANIZATION.CHOOSE-ORGANIZATION" | translate
      }}</label>
    <mat-select
      (selectionChange)="onOrganizationChange()"
      [(value)]="application.organizationId"
      [compareWith]="compare"
      class="form-control"
      id="organizationSelect"
      panelClass="overflow-x-hidden"
    >
      @for (organization of filteredOrganizations | async; track organization) {
        <mat-option [value]="organization.id">
          {{ organization.name }}
        </mat-option>
      }
    </mat-select>
    <label class="form-label" for="permissionSelect">{{
        "APPLICATION.CHANGE-ORGANIZATION.CHOOSE-USER-GROUPS" | translate
      }}</label>
    @if (permissions.length > 0) {
      <div>
        <mat-select
          [(value)]="application.permissionIds"
          [compareWith]="compare"
          [multiple]="true"
          class="form-control"
          id="permissionSelect"
          panelClass="overflow-x-hidden"
        >
          @for (permission of filteredPermissionsMulti | async; track permission) {
            <mat-option [value]="permission.id">
              {{ permission.name }}
            </mat-option>
          }
        </mat-select>
        <mat-hint>{{ "APPLICATION.CHANGE-ORGANIZATION.USER-GROUP-AUTO-SELECT" | translate }}</mat-hint>
      </div>
    }
  </div>
  <div class="d-flex flex-row mat-dialog-actions" mat-dialog-actions>
    <button (click)="onSubmit()" class="btn btn-primary">
      {{ "GEN.SAVE" | translate }}
    </button>
    <button [mat-dialog-close]="false" class="btn btn-secondary ms-2" mat-dialog-close>
      {{ "GEN.CANCEL" | translate }}
    </button>
  </div>
</div>
