<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3 mt-5">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form class="p-5 login-box" style="background-color: white;" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"
            *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="username" id="username" class="form-control" ngModel name="username" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    minlength="6">
            </div>
            <div class="mt-5">
                <button class="btn btn-primary" type="submit"
                    [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
                <button class="btn btn-primary ml-2" (click)="onSwitchMode()" type="button">Skift til
                    {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>