<app-top-bar
  [canEdit]="canEdit"
  backButtonTitle="{{ 'SIGFOX-GROUP.SIGFOX-GROUP' | translate }}"
  title="{{ 'FORM.EDIT-SIGFOX-GROUP' | translate }}"
></app-top-bar>

<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3 mt-5">
    @if (errorMessages) {
      <div class="error-messages p-3">
        <ul class="mb-0">
          @for (error of errorMessages; track error) {
            <li>
              {{ error | translate }}
            </li>
          }
        </ul>
      </div>
    } @if (isLoading) {
    <div>
      <app-loading-spinner></app-loading-spinner>
    </div>
  } @if (!isLoading) {
    <form #sigFoxForm="ngForm" (ngSubmit)="onSubmit(sigFoxForm)" class="p-5 jumbotron">
      <p>
        {{ "SIGFOX-GROUP.API-ACCESS" | translate }}
        <span><a href="https://support.sigfox.com/docs/api-credential-creation">API credential creation</a></span>
      </p>
      <mat-divider class="my-5"></mat-divider>
      <div class="form-group col-8">
        <label for="username"> {{ "SIGFOX-GROUP.SIGFOX-LOGIN" | translate }}</label>
        <input
          [(ngModel)]="sigfoxGroup.username"
          class="form-control"
          id="username"
          name="username"
          required
          type="username"
        />
      </div>
      <div class="form-group col-8">
        <label for="password">Kode</label>
        <input
          [(ngModel)]="sigfoxGroup.password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          required
          type="password"
        />
      </div>
      <div class="mt-5">
        <button [disabled]="!sigFoxForm.valid" class="btn btn-primary" type="submit">
          {{ "SIGFOX-GROUP.LOGIN" | translate }}
        </button>
      </div>
    </form>
  }
  </div>
</div>
