@import "../../../../assets/scss/setup/variables";

$deselectSelectButtonBottomMargin: 5px;

.cog-icon {
  color: $grey-dark;
}

.button-margin {
  margin-top: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}

.choose-all {
  margin-left: 5px;
  margin-bottom: $deselectSelectButtonBottomMargin;
}

.deselect-all {
  margin-left: 5px;
  margin-bottom: $deselectSelectButtonBottomMargin;
}
