<div class="select-container">
  <mat-select
    #Selector
    (selectionChange)="handleColumnSelection($event)"
    [(value)]="optionalColumnsSelected"
    [disableOptionCentering]="true"
    [hidden]="false"
    [placeholder]="'TABLE.COLUMNS' | translate"
    class="form-control table-select"
    multiple="true"
    panelClass="tall"
  >
    <button (click)="selectAll()" class="mat-primary fill text-sm choose-all" mat-raised-button>
      {{ "QUESTION.DATATARGET.SELECTALLDEVICES" | translate }}
    </button>
    <button (click)="deSelectAll()" class="mat-primary fill text-sm deselect-all" mat-raised-button>
      {{ "QUESTION.DATATARGET.DESELECTALLDEVICES" | translate }}
    </button>

    @for (option of optionalColumnOptions; track option) {
      <mat-option [value]="option.id">
        {{ option.display | translate }}
      </mat-option>
    }
  </mat-select>
  <button (click)="Selector.open()" class="button-margin" mat-icon-button type="button">
    <mat-icon class="cog-icon" svgIcon="table-tool"></mat-icon>
  </button>
</div>
