<nav class="navbar navbar-expand-md navbar-light d-md-flex align-items-md-start flex-md-column p-2 pt-md-4"
  aria-expanded="false">

  <div class="navbar-brand p-0 pl-2 mb-5">
    <img class="img-logo" alt="OS2IoT-logo" [src]="imagePath" />
  </div>
  <div *ngIf="!isLoggedIn(); else loggedInBlock" class="collapse navbar-collapse flex-grow-0" id="navbar">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a routerLink="/auth" [routerLinkActive]="['active']" class="nav-link pl-5 position-relative rounded" id="auth">
          {{ 'NAV.LOGIN' | translate }}
        </a>
        <fa-icon [icon]="faSignInAlt" class="navbar-icon"></fa-icon>
      </li>
    </ul>
  </div>
  <ng-template #loggedInBlock>
    <div class="navbar-header">
      <button type="button" class="navbar-toggler collapsed" aria-label="Toggle navigation" data-target="#navbar"
        aria-controls="navbar" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse overflow-auto flex-grow-0 h-100" id="navbar" [attr.aria-expanded]="!isCollapsed"
      [ngClass]="{collapse: !isCollapsed}">
      <ul class="navbar-nav d-flex flex-column h-100" (click)="isCollapsed = !isCollapsed">
        <div>
          <fa-icon [icon]="faUser" class="navbar-icon" style="margin-right: 1em; margin-left: 1em;"></fa-icon>
          {{getUsername()}}
        </div>
        <div *ngIf="hasSomePermissions()" class="flex-column mb-1">
          <li class="nav-item">
            <app-global-admin></app-global-admin>
          </li>
          <li class="nav-item">
            <app-organisation-dropdown></app-organisation-dropdown>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav flex-column">
              <p class="ml-2">{{'NAV.MENU-ITEM-MISC' | translate}}</p>
              <mat-divider></mat-divider>
              <li class="nav-item">
                <a routerLink="/gateways" [routerLinkActive]="['active']"
                  class="nav-link pl-5 position-relative rounded" id="myLoraGateway">
                  {{ 'NAV.LORA-GATEWAYS' | translate }}
                </a>
                <fa-icon [icon]="faBroadcastTower" class="navbar-icon"></fa-icon>

              </li>
              <li class="nav-item">
                <a routerLink="/profiles" [routerLinkActive]="['active']"
                  class="nav-link pl-5 position-relative rounded" id="profiles">
                  {{ 'NAV.PROFILES' | translate }}
                </a>
                <fa-icon [icon]="faSlidersH" class="navbar-icon"></fa-icon>
              </li>
              <li class="nav-item">
                <a routerLink="/payload-decoder" [routerLinkActive]="['active']"
                  class="nav-link pl-5 position-relative rounded" id="payload-decoder">
                  {{ 'NAV.PAYLOAD-DECODER' | translate }}
                </a>
                <fa-icon [icon]="faNetworkWired" class="navbar-icon"></fa-icon>
              </li>
            </ul>
          </li>
        </div>
        <div class="flex-column flex-grow-1"></div>
        <div class="flex-column">
          <li class="nav-item">
            <a class="nav-link pl-5 position-relative rounded" (click)="goToHelp()" target="_blank">
              {{'NAV.HELP' | translate }}
            </a>
            <fa-icon [icon]="faQuestionCircle" class="navbar-icon"></fa-icon>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" class="nav-link pl-5 position-relative rounded" (click)="onLogout()"
              [attr.href]="getKombitLogoutUrl() ? getKombitLogoutUrl() : null"
              target="{{(isLoggedInWithKombit()) ? '_blank' : undefined}}">{{'NAV.LOGOUT' | translate }}</a>
            <fa-icon [icon]="faSignOutAlt" class="navbar-icon"></fa-icon>
          </li>
        </div>
      </ul>
    </div>
  </ng-template>
</nav>
