@import "../../assets/scss/setup/variables";

.nav-bar-title {
  color: $default-color;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-top: 40px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.nav-bar-selector-building-icon {
  background-color: $default-icon-color;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.nav-bar-selector-trigger {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.custom-dropdown-icon {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

:host ::ng-deep .mat-mdc-select-arrow-wrapper {
  display: none !important;
}

:host ::ng-deep .mat-mdc-select {
  height: 57px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 57px !important;
  width: 234px !important;
  display: flex;
  align-items: center;
}

:host .mat-mdc-select {
  height: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  font-size: 16px !important;
  color: black !important;
}

:host a:focus,
button:focus,
.focus {
  outline-offset: 0;
  transition: all 0.2s;
}

:host a {
  color: $color-link;
  border-bottom: none;
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 3px;
  height: 33px;
  line-height: 14px;
  margin: 2px 10px;
  font-size: 14px;

  &:hover,
  &.link-hover,
  &:visited:hover {
    color: $white;
    background-color: $color-link-active-bg;
  }

  &:active,
  &.link-active {
    background-color: $color-link-active-bg;
    color: $color-link;
  }

  &:focus,
  &.link-focus {
    color: $white;
    background-color: $color-link-active-bg;
  }

  &:disabled,
  &.disabled {
    box-shadow: none !important;
    cursor: not-allowed !important;
    outline-offset: inherit !important;

    &:focus {
      outline: none;
      background-color: transparent;
    }
  }
}

.no-shadow {
  box-shadow: none;
  z-index: 10000;
}

::ng-deep .mdc-notched-outline__leading {
  border-color: $light-border-color !important;
}

::ng-deep .mdc-notched-outline__notch {
  border-color: $light-border-color !important;
}

::ng-deep .mdc-notched-outline__trailing {
  border-color: $light-border-color !important;
}
