<div class="gateway-change-organization-dialog">
  <h1 mat-dialog-title>{{ "GATEWAY.CHANGE-ORGANIZATION.TITLE" | translate }}</h1>
  <div mat-dialog-content>
    <label class="form-label" for="organizationSelect">{{
        "GATEWAY.CHANGE-ORGANIZATION.CHOOSE-ORGANIZATION" | translate
      }}</label>
    <mat-select
      [(value)]="gateway.organizationId"
      [compareWith]="compare"
      class="form-control"
      id="organizationSelect"
      panelClass="overflow-x-hidden"
    >
      @for (organization of filteredOrganizations | async; track organization) {
        <mat-option [value]="organization.id">
          {{ organization.name }}
        </mat-option>
      }
    </mat-select>
  </div>
  <div class="d-flex flex-row mat-dialog-actions" mat-dialog-actions>
    <button (click)="onSubmit()" class="btn btn-primary">
      {{ "GEN.SAVE" | translate }}
    </button>
    <button [mat-dialog-close]="false" class="btn btn-secondary ml-2" mat-dialog-close>
      {{ "GEN.CANCEL" | translate }}
    </button>
  </div>
</div>
