@if (device.type === 'LORAWAN' || device.type === 'SIGFOX') {
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch mt-1 mb-4">
        @if (device.type === 'SIGFOX' || device.type === 'LORAWAN') {
          <app-graph
            [data]="rssiChartData"
            [title]="'IOTDEVICE.HISTORY-TAB.RSSI' | translate"
            [type]="'line'"
          >
          </app-graph>
        }
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-1 mb-4">
        @if (device.type === 'SIGFOX' || device.type === 'LORAWAN') {
          <app-graph
            [data]="snrChartData"
            [title]="'IOTDEVICE.HISTORY-TAB.SNR' | translate"
            [type]="'line'"
          >
          </app-graph>
        }
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 d-flex align-items-stretch">
        @if (device.type === 'LORAWAN') {
          <app-graph
            [data]="dataRateChartData"
            [options]="dataRateChartOptions"
            [title]="'IOTDEVICE.HISTORY-TAB.DATA-RATE' | translate"
            [type]="'bar'"
          ></app-graph>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="jumbotron jumbotron--full-width">
    <p class="my-2 mx-3">
      {{ "IOTDEVICE.HISTORY-TAB.HISTORY-NOT-SUPPORTED" | translate }}
    </p>
  </div>
}
