<td class="position-relative">
    <a [routerLink]="['user-detail', user.id]" routerLinkActive="active" class="application-link">
        {{user.name}}</a>
</td>
<td class="position-relative">
    <p>{{user.email}}</p>
</td>
<td class="position-relative">
    <p>{{user.permissions}}</p>
</td>
<td class="position-relative">
    <p>
        {{user.active | activeDeactive}}</p>
</td>
<td class="position-relative">
    <div *ngIf="user.lastLogin; else noLogin">
        <P> {{user.lastLogin | date}}</P>
    </div>
    <ng-template #noLogin>
        <P>Ikke logget på endnu</P>
    </ng-template>
</td>
<td class="position-relative pr-3">
    <div class="dropdown position-absolute">
        <a href="#" role="button" id="tableRowDropdown-{{user.id}}" class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false"
            [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
        <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{user.id}}">
            <li>
                <a class="dropdown-item" [routerLink]="[user.id, 'edit-user']"
                    routerLinkActive="active">{{ 'USERS.TABLE-ROW.EDIT' | translate }}
                </a>
            </li>
            <li>
                <a (click)="clickDelete()" class="dropdown-item"
                    [routerLink]="">{{ 'USERS.TABLE-ROW.DELETE' | translate }}
                </a>
            </li>
        </ul>
    </div>
</td>