<td>
    <a [routerLink]="['gateway', gateway.id]" routerLinkActive="active" class="application-link">
        {{ gateway.name }}
    </a>
</td>

<td class=" pr-3">
    {{ gateway.id }}
</td>

<td class=" pr-3">
    {{ gateway.location.longitude }}, {{ gateway.location.latitude }}

</td>
<td>
    <div class="dropdown">
        <a href="#" role="button" id="tableRowDropdown-{{ gateway.id }}" class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false"
            [attr.aria-label]="'LORA-GATEWAY-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
        <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{ gateway.id }}">
            <li class="dropdown-item">
                <a (click)="clickDelete()" [routerLink]="">{{ 'LORA-GATEWAY-TABLE-ROW.DELETE' | translate }}</a>
            </li>
            <li class="dropdown-item">
                <a [routerLink]="['edit-gateway', gateway.id]"
                    routerLinkActive="active">{{ 'LORA-GATEWAY-TABLE-ROW.EDIT' | translate }}</a>
            </li>
        </ul>
    </div>
</td>