<div class="main-container">
  @for (tab of tabs; track tab.title; ) {
    <div (click)="onClick(tab.uri)" [ngClass]="currentUrl === tab.uri ? 'active-tab' : 'inactive-tab'" class="tab-base">
      @if (tab.icon) {
        <mat-icon
          [ngClass]="currentUrl === tab.uri ? 'active-tab-icon' : 'inactive-tab-icon'"
          svgIcon="{{ tab.icon.matSVGSrc }}"
        />
      }
      {{ tab.title }}
      @for (counter of tab.counters; track counter; ) {
        <div
          class="counter-base {{
        'counter-' + (counter.color === 'default' && currentUrl === tab.uri ? 'default-inactive' : counter.color)
      }}"
        >
          {{ counter.value }}
        </div>
      }
    </div>
  }
</div>
