<p>
  <strong>{{ "OPENDATADK.DETAILS.NAME" | translate }}</strong>
  {{ openDataDkDataset.name }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.RESOURCETITLE" | translate }}</strong>
  {{ openDataDkDataset.resourceTitle ? openDataDkDataset.resourceTitle : ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.DESCRIPTION" | translate }}</strong>
  {{ openDataDkDataset.description ? openDataDkDataset.description : ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.KEYWORDS" | translate }}</strong>
  {{ openDataDkDataset.keywords?.length > 0 ? themeText : ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.TAGS" | translate }}</strong>
  {{ openDataDkDataset.keywordTags ?? ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.AUTHORNAME" | translate }}</strong>
  {{ openDataDkDataset.authorName }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.AUTHOREMAIL" | translate }}</strong>
  {{ openDataDkDataset.authorEmail }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.UPDATE-FREQUENCY" | translate }}</strong>
  {{ openDataDkDataset.updateFrequency ? ("OPENDATADK.QUESTION.UPDATE-FREQUENCY-OPTIONS." + openDataDkDataset.updateFrequency | translate) : ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.DOCUMENTATION-URL" | translate }}</strong>
  {{ openDataDkDataset.documentationUrl ?? ("OPENDATADK.DETAILS.NA" | translate) }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.DATA-DIRECTORY" | translate }}</strong>
  {{ openDataDkDataset.dataDirectory | yesNo }}
</p>

<p>
  <strong>{{ "OPENDATADK.DETAILS.URL" | translate }}</strong>
  {{ openDataDkDataset.url }}
</p>
