<div *ngIf="user">
    <fa-icon [icon]="faUser" class="navbar-icon" style="margin-right: 1em; margin-left: 1em;"></fa-icon> {{user.name}}
</div>
<mat-expansion-panel class="mb-5" *ngIf="isGlobalAdmin">
    <mat-expansion-panel-header>
        <mat-panel-title class="nav-item py-2">
            <p class="nav-item ml-2">{{'NAV.USERS' | translate}}</p>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
                {{'NAV.USERS' | translate}}
            </a>
            <fa-icon [icon]="faUsers" class="navbar-icon"></fa-icon>
        </li>
        <li class="nav-item py-2">
            <a routerLink="/admin/permissions" routerLinkActive="active"
                class="nav-link pl-5 position-relative rounded">
                {{'NAV.PERMISSIONS' | translate}}
            </a>
            <fa-icon [icon]="faIdBadge" class="navbar-icon"></fa-icon>
        </li>
        <li class="nav-item py-2">
            <a routerLink="/admin/organisations" routerLinkActive="active"
                class="nav-link pl-5 position-relative rounded">
                {{'NAV.ORGANISATIONS' | translate}}
            </a>
            <fa-icon [icon]="faSitemap" class="navbar-icon"></fa-icon>
        </li>
    </ul>

</mat-expansion-panel>