<mat-expansion-panel class="mb-5">
    <mat-expansion-panel-header>
        <mat-panel-title class="nav-item py-2">
            Global Administrator
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
                {{'NAV.USERS' | translate}}
            </a>
        </li>
        <li class="nav-item py-2">
            <a routerLink="/admin/permissions" routerLinkActive="active" class="nav-link pl-5 position-relative rounded">
                {{'NAV.PERMISSIONS' | translate}}
            </a>
        </li>
        <li class="nav-item py-2">
            <a routerLink="/admin/organisations" routerLinkActive="active"
                class="nav-link pl-5 position-relative rounded">
                {{'NAV.ORGANISATIONS' | translate}}
            </a>
        </li>
    </ul>

</mat-expansion-panel>