<td>
  <div class="row px-2">
    <input
      [(ngModel)]="pair.key"
      [ngClass]="{
        'is-invalid': errorFieldId && errorFieldId === pair.key,
        'is-valid': errorFieldId && errorFieldId !== pair.key
      }"
      [placeholder]="'GEN.KEY' | translate"
      class="form-control border-bottom-i-1"
      id="keyValuePairKey"
      maxLength="100"
      name="keyValuePairKey"
      type="text"
    />
  </div>
</td>
<td>
  <div class="row px-2">
    <input
      [(ngModel)]="pair.value"
      [placeholder]="'GEN.VALUE' | translate"
      class="form-control border-bottom-i-1"
      id="keyValuePairValue"
      maxLength="100"
      name="keyValuePairValue"
      type="text"
    />
  </div>
</td>
<td>
  <a (click)="openDeleteDialog()">
    <div class="text-center">
      <fa-icon [icon]="faTimesCircle"></fa-icon>
      <p class="mt-i-0">{{ "DATATARGET.DELETE" | translate }}</p>
    </div>
  </a>
</td>
