<app-form-header [backButton]="backButton" [title]="title"></app-form-header>

<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>
            {{ error | translate }}
          </li>
        }
      </ul>
    </div>
  }

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "API-KEY.EDIT.NAME" | translate }}</label
      >*
      <input
        [(ngModel)]="apiKeyRequest.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'API-KEY.EDIT.NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="permissions">{{ "QUESTION.PERMISSION.SELECT-PERMISSION" | translate }}</label
      >*
      <mat-select
        [(ngModel)]="apiKeyRequest.permissionIds"
        [compareWith]="compare"
        [multiple]="true"
        class="form-control"
        name="permissions"
      >
        @for (permission of permissions; track permission) {
          <mat-option [value]="permission.id">
            {{ permission.name }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="row form-group mt-3">
    <label class="form-label">{{ "API-KEY.EDIT.EXPIRATION-DATE" | translate }}</label>
    <mat-form-field appearance="outline">
      <mat-label>{{ "API-KEY.EDIT.EXPIRATION-DATE-PLACEHOLDER" | translate }}</mat-label>
      <input
        [formControl]="serializedExpirationDate"
        [matDatepicker]="expirationDatePicker"
        matInput
      />
      <mat-datepicker-toggle [for]="expirationDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #expirationDatePicker panelClass="datepicker-table-fix"></mat-datepicker>
      <mat-hint>{{ "API-KEY.EDIT.EXPIRATION-DATE-DESCRIPTION" | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">
      {{ "GEN.CANCEL" | translate }}
    </button>
    <button class="btn btn-primary ms-2" type="submit">
      {{ "GEN.SAVE" | translate }}
    </button>
  </div>
</form>
