<div class="mat-elevation-z8">
  <div>
    <table [dataSource]="data" class="example-table" mat-table matSortDisableClear>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>
          {{ "IOT-TABLE.NAME" | translate }}
        </th>
        <td *matCellDef="let element" mat-cell>
          @if (element.canRead) {
            <a
              [routerLink]="['/', 'applications', element.applicationId, 'iot-device', element.id]"
              class="device-link"
              routerLinkActive="active"
            >{{ element.name }}</a
            >
          } @else {
          {{ element.name }}
        }
        </td>
      </ng-container>

      <!-- Organiation Column -->
      <ng-container matColumnDef="organization">
        <th *matHeaderCellDef class="col-2" mat-header-cell>
          {{ "IOT-TABLE.ORGANISATION" | translate }}
        </th>
        <td *matCellDef="let element" mat-cell>
          {{ getOrganizationName(element.organizationId) }}
        </td>
      </ng-container>
      <!-- Last updated -->
      <ng-container matColumnDef="updatedAt">
        <th *matHeaderCellDef class="col-3" mat-header-cell>
          {{ "IOT-TABLE.ACTIVE" | translate }}
        </th>

        <td *matCellDef="let element" mat-cell>{{ lastActive(element) }}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>

  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
