<h4>{{ 'IOTDEVICE.SIGFOX.GROUP-NAME' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.groupName}}</p>

<h4>{{ 'IOTDEVICE.SIGFOX.DEVICETYPE' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.deviceTypeName}}</p>

<h4>{{ 'IOTDEVICE.SIGFOX.PAC' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.pac}}</p>

<h4>{{ 'IOTDEVICE.SIGFOX.ENDPRODUCTCERTIFICATE' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.endProductCertificate}}</p>

<h4>{{ 'IOTDEVICE.SIGFOX.DEVICEID' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.deviceId}}</p>

<h4>{{ 'IOTDEVICE.SIGFOX.PROTOTYPE' | translate }}</h4>
<p class="mb-5">{{device.sigfoxSettings.prototype ? 'true' : 'false' | translate}}</p>