<div *ngIf="device.type === 'LORAWAN' || device.type === 'SIGFOX'; else notImplemented">
    <div *ngIf="errorMessages && errorMessages?.length !== 0" class="error-messages p-3 m-4">
        <ul class="mb-0">
            <li *ngFor="let error of errorMessages">
                {{error | translate}}
            </li>
        </ul>
    </div>
    <div class="m-4">
        <p class="box box--info">{{'IOTDEVICE.DOWNLINK.DESCRIPTION' | translate}}</p>
        <div *ngIf="device.type === 'LORAWAN'">
            <mat-label class="form-label mr-3">{{'IOTDEVICE.DOWNLINK.CONFIRMEDDOWNLINK' | translate}}</mat-label>
            <mat-slide-toggle [(ngModel)]="downlink.confirmedDownlink" id="confirmedDownlink" name="confirmedDownlink">
            </mat-slide-toggle>
        </div>
        <div class="mt-2 col-6" *ngIf="device.type === 'LORAWAN'">
            <label for="port" class="form-label asterisk-if-mandatory">{{'IOTDEVICE.DOWNLINK.PORT' | translate}}</label>
            <input type="port" class="form-control" id="port" name="port" maxlength="50" min="0" required
                [(ngModel)]="downlink.port">
        </div>
        <div class="mt-2 col-6">
            <label for="data"
                class="form-label asterisk-if-mandatory">{{'IOTDEVICE.DOWNLINK.PAYLOAD' | translate}}</label>
            <input type="data" class="form-control" placeholder="{{'IOTDEVICE.DOWNLINK.PAYLOAD' | translate}}" id="data"
                name="data" pattern="[a-fA-F\d]+" maxlength="device.type === 'SIGFOX' ? 16 : ''" required
                [(ngModel)]="downlink.data">
        </div>
        <div class="mt-5">
            <button (click)="clickDownlink()" class="btn btn-secondary"
                type="button">{{ 'IOTDEVICE.DOWNLINK.START' | translate}}</button>
        </div>
    </div>
</div>

<ng-template #notImplemented>
    <div class="m-5">
        <p>
            {{'IOTDEVICE.DOWNLINK.NOTIMPLEMENTED' | translate}}
        </p>
    </div>
</ng-template>