<div *ngIf="errorMessages && errorMessages?.length !== 0" class="error-messages p-3">
    <ul class="mb-0">
      <li *ngFor="let error of errorMessages">
        {{error}}
      </li>
    </ul>
</div>
<div class="jumbotron m-md-4 p-md-3">
    <h3>{{'IOTDEVICE.DOWNLINK.TITLE' | translate}}</h3>
    <p>{{'IOTDEVICE.DOWNLINK.DESCRIPTION' | translate}}</p>
    <div *ngIf="device.type === 'LORAWAN'" class="mt-5 clearfix col-4">
        <mat-slide-toggle [(ngModel)]="downlink.confirmedDownlink" id="confirmedDownlink" name="confirmedDownlink">
            {{'IOTDEVICE.DOWNLINK.CONFIRMEDDOWNLINK' | translate}}</mat-slide-toggle>
    </div>
    <div class="mt-5 clearfix col-4">
        <label for="port"
            class="form-label asterisk-if-mandatory">{{'IOTDEVICE.DOWNLINK.PORT' | translate}}</label>
        <input type="port" class="form-control" id="port" name="port" maxlength="50" min="0"
            required [(ngModel)]="downlink.port">
    </div>
    <div class="mt-5 clearfix col-4">
        <label for="data"
            class="form-label asterisk-if-mandatory">{{'IOTDEVICE.DOWNLINK.PAYLOAD' | translate}}</label>
        <input type="data" class="form-control" placeholder="{{'IOTDEVICE.DOWNLINK.PAYLOAD' | translate}}" id="data" name="data" maxlength="device.type === 'SIGFOX' ? 16 : ''"
            required [(ngModel)]="downlink.data">
    </div>
    <div class="mt-5 clearfix">
        <button (click)="clickDownlink()" class="btn btn-secondary" type="button">{{ 'IOTDEVICE.DOWNLINK.START' | translate}}</button>
    </div>
</div>