<div class="row">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="os2-form py-5">

    <div *ngFor="let question of questions" class="form-row mb-3">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row mt-5">
      <button (click)="routeBack()" class="btn btn-light" type="button">{{ 'GEN.CANCEL' | translate}}</button>
      <button class="btn btn-dark ml-2" type="submit" [disabled]="!form.valid">{{ submitButton }}</button>
    </div>
  </form>
</div>
