<div class="mat-elevation-z8">
  <div *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <table [dataSource]="data" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef [disabled]="!canSort" mat-header-cell mat-sort-header>
        {{ "USERS.NAME" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['/admin/users', element.id]" class="application-link" routerLinkActive="active">
          {{ element.name }}</a
        >
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>
        {{ "USERS.EMAIL" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p>{{ element.email }}</p>
      </td>
    </ng-container>

    <!-- global admin Column -->
    <ng-container matColumnDef="global">
      <th *matHeaderCellDef mat-header-cell>
        {{ "USERS.GLOBALADMIN" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p>
          {{
            ((element.permissions | isGlobalAdmin) ? "USERS.GLOBAL_ADMIN.TRUE" : "USERS.GLOBAL_ADMIN.FALSE") | translate
          }}
        </p>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>
        {{ "USERS.STATUS" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p [ngClass]="element.active | activeDeactive">{{ element.active | activeDeactive }}</p>
      </td>
    </ng-container>

    <!--  Expiration Column  -->
    <ng-container matColumnDef="expiresOn">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "API-KEY.EXPIRES-ON" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ (element.expiresOn | dateOnly) ?? '-' }}
      </td>
    </ng-container>

    <!-- lastLogin Column -->
    <ng-container matColumnDef="lastLogin">
      <th *matHeaderCellDef [disabled]="!canSort" mat-header-cell mat-sort-header>
        {{ "USERS.LOGIN" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <div *ngIf="element.lastLogin; else noLogin">
          <P> {{ element.lastLogin | tableDatePipe }}</P>
        </div>
        <ng-template #noLogin>
          <P>Ikke logget på endnu</P>
        </ng-template>
      </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <div class="dropdown">
          <a
            [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
            aria-expanded="false"
            class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="tableRowDropdown-{{ element.id }}"
            role="button"
          ></a>
          <ul attr.aria-labelledby="tableRowDropdown-{{ element.id }}" class="dropdown-menu dropdown-menu--table">
            <li class="dropdown-item">
              <a [routerLink]="['/admin/users', element.id, 'edit-user']" routerLinkActive="active"
              >{{ "USERS.TABLE-ROW.EDIT" | translate }}
              </a>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
<!-- </ng-template> -->
