<td class="position-relative">
  <a [routerLink]="['datatarget', datatarget.id]" routerLinkActive="active"
    class="application-link">{{datatarget.name}}</a></td>
<td class="position-relative pr-3">
  {{datatarget.type | translate}}
</td>
<td>
  <div class="dropdown">
    <a href="#" role="button" id="tableRowDropdown-{{datatarget.id}}" class="applicationRow__edit dropdown-toggle"
      data-toggle="dropdown" aria-expanded="false"
      [attr.aria-label]="'DATATARGET-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
    <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{datatarget.id}}">
      <li class="dropdown-item">
        <a [routerLink]="['datatarget-edit', datatarget.id]"
          routerLinkActive="active">{{ 'DATATARGET-TABLE-ROW.EDIT' | translate }}</a>
      </li>
      <li class="dropdown-item">
        <a (click)="clickDelete()" [routerLink]="">{{ 'DATATARGET-TABLE-ROW.DELETE' | translate }}</a>
      </li>
    </ul>
  </div>
</td>