
@import '../setup/variables';

.jumbotron {
  @extend .my-4;
  @extend .p-3;
  @extend .m-md-4;
  background-color: $color-bg-normal;
  &--m-right{
    @extend .mr-md-2;
  }
  &--m-left{
    @extend .ml-md-2;
  }
  &--full-width{
    width: 100%;
  }
}

.page{
  @extend .m-md-4;
}

.box{
  width: 100%;
  @extend .p-3;
  
  &--info{
    background-color: $color-bg-alternative;
    border: $info-border;
    border-radius: $border-radius-primary;
    @extend .mb-5;
  }
}