mat-calendar.datepicker-table-fix {
  margin-bottom: 25px;

  table {
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;

    thead {
      background-color: unset;
    }

    tbody {
      tr {
        border-top: unset;

        &:hover {
          background-color: unset;
        }

        td.mat-calendar-body-active div {
          border-bottom-width: 1px !important;
        }
      }
    }
  }
}
