@import "../setup/variables";

.table {
  background-color: $white;
  // -webkit-border-radius: .25rem;
  // -moz-border-radius: .25rem;
  // border-radius: .25rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.14),
    0px 1px 13px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.14),
    0px 1px 13px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.14),
    0px 1px 13px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);
  // border: $grey-border solid 1px;

  * {
    * {
      border-bottom-width: 0 !important;
    }
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }

  thead {
    font-family: roboto-light;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: $grey-tablehead;
    background-color: $grey-dark;
  }

  tbody {
    color: $black;
    font-family: roboto;

    tr {
      border-top: $grey-border solid 1px;
      line-height: 40px;
      color: $black;

      &:hover {
        background-color: $grey-highlight;
      }
    }
  }
}

.dropdown {

  .applicationRow__edit {
    width: 10px;
    height: 20px;
    background-image: radial-gradient(circle, $black 2px, transparent 1px);
    background-size: 100% 33.33%;
    padding: 2px 10px;

    &:after {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 90px !important;
    left: -35px !important;

    li {
      padding: 0;
      margin: 0;

      a {
        display: inline-block;
        font-family: roboto-bold;
        color: $black;
        font-size: 12px;
        line-height: 14px;
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0;

        &:hover,
        &:active {
          color: $black;
          text-decoration: none;
          background-color: $color-primary;
        }
      }


    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: $black;

      &:focus {
        box-shadow: 0 0 0 0.2rem $grey-outline;
      }
    }
  }
}
