@import "src/assets/scss/setup/breakpoints";
@import "src/assets/scss/setup/variables";
@import "bootstrap/scss/variables";
@import "../setup/utilities";

.top-bar-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  @extend .mb-3;

  .top-bar {
    background-color: $white;
    @include add-shadow;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--breadcrumb {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h3 {
          margin-bottom: 0 !important;
          word-break: break-word;
        }
      }
    }

    .search-form-wrapper {
      align-self: center;

      .search-form {
        @extend .mt-2;

        &--full-width {
          width: 100%;

          .search--input {
            width: 100%;
          }

          .search-icon {
            @extend .ml-2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.sub-bar-wrapper {
  @extend .mb-3;

  .sub-bar {
    h3 {
      margin-bottom: 0 !important;
    }

    button {
      @extend .mx-2;
    }
  }
}

.no-margin {
  margin-bottom: 0 !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
