<div class="row mt-5">
    <div class="col-6">
        <h4>Device Profiles</h4>
    </div>
    <div class="col-6">
        <button class="btn btn-primary float-right" [routerLink]="['deviceprofile/edit']"
            routerLinkActive="active">{{'PROFILES.DEVICE_PROFILE.CREATE-NEW-DEVICE-PROFILE' | translate}}</button>
    </div>
</div>
<hr>

<app-device-profiles-item *ngFor="let deviceProfile of deviceProfiles; let i = index"
    (deleteDeviceProfile)="deleteDeviceProfile($event)" [deviceProfile]="deviceProfile">
</app-device-profiles-item>