<app-top-bar-table [title]="'PROFILES.DEVICE_PROFILE.HEADLINE' | translate"
    [ctaLabelPrimary]="'PROFILES.DEVICE_PROFILE.CREATE-NEW-DEVICE-PROFILE' | translate"
    [ctaRouterLinkPrimary]="'deviceprofile/edit'"></app-top-bar-table>
<div *ngIf="errorMessages" class="error-messages p-3 my-2">
    {{errorMessages | translate }}
</div>
<app-device-profiles-item *ngFor="let deviceProfile of deviceProfiles; let i = index"
    (deleteDeviceProfile)="deleteDeviceProfile($event)" [deviceProfile]="deviceProfile">
</app-device-profiles-item>