<app-top-bar-table
  [ctaLabelPrimary]="'PROFILES.DEVICE_PROFILE.CREATE-NEW-DEVICE-PROFILE' | translate"
  [ctaRouterLinkPrimary]="canCreate() ? 'device-profile/new-device-profile' : null"
  [title]="'PROFILES.DEVICE_PROFILE.HEADLINE' | translate"
></app-top-bar-table>
@if (errorMessages) {
  <div class="error-messages p-3 my-2">
    {{ errorMessages | translate }}
  </div>
} @for (deviceProfile of deviceProfiles; track deviceProfile; let i = $index) {
  <app-device-profiles-item
    (deleteDeviceProfile)="deleteDeviceProfile($event)"
    [deviceProfile]="deviceProfile"
  >
  </app-device-profiles-item>
}
