<td class="position-relative"><a [routerLink]="['application', application.id]"
    routerLinkActive="active" class="application-link">{{application.name}}</a></td>
<ng-container *ngIf="application.iotDevices; else iotZero">
  <td class="position-relative">{{application.iotDevices.length}}</td>
</ng-container>
<ng-template #iotZero>
  <td class="position-relative">0</td>
</ng-template>
<td class="position-relative pr-3">
  {{application.updatedAt | date:'dd/MM yyyy'}}
  <div class="dropdown position-absolute">
    <a href="#" role="button" id="tableRowDropdown-{{application.id}}" class="applicationRow__edit dropdown-toggle"
      data-toggle="dropdown" aria-expanded="false"
      [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
    <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{application.id}}">
      <!-- <li><a class="dropdown-item" href="#">Slet</a></li> -->
      <li><a (click)="clickDelete()" class="dropdown-item"
          [routerLink]="">{{ 'APPLICATION-TABLE-ROW.DELETE' | translate }}</a></li>
      <li><a class="dropdown-item" [routerLink]="['edit-application', application.id]"
          routerLinkActive="active">{{ 'APPLICATION-TABLE-ROW.EDIT' | translate }}</a></li>
    </ul>
  </div>
</td>
