//############################### Breakpoints ####################
//###########################################################################

//Bootstrap
@import 'bootstrap/scss/mixins';
@import 'variables';


$breakpoints: ('small': (max-width: $screen-sm-min),
  'medium': (max-width: $screen-md-min),
  'large': (max-width: $screen-lg-min),
  'x-large': (max-width: $screen-xl-min)) !default;


//breakpoints
$grid-breakpoints: (xs: 0,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min,
  xxl: $screen-xxl-min,
);


/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {

  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {

    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
