$font-name: 'Roboto' !default; //'Roboto'!default;
// $font-text-regular: 'IBMPlexSans-Text' !default;
// $font-regular: 'IBMPlexSans-Regular' !default;
// $font-medium: 'IBMPlexSans-Medium' !default;
// $font-semibold: 'IBMPlexSans-SemiBold' !default;
// $font-bold: 'IBMPlexSans-Bold' !default;
// $font-italic: 'IBMPlexSans-Italic' !default;
// $font-system: 'system' !default;


// @font-face {
// font-family: $font-name;
// src: url($font-path + $font-regular+'.eot'); __<<ngThemingMigrationEscapedComment0>>__
// src: url($font-path + $font-regular+'.eot?#iefix') format('embedded-opentype'), __<<ngThemingMigrationEscapedComment1>>__
//      url($font-path + $font-regular+'.woff') format('woff'), __<<ngThemingMigrationEscapedComment2>>__
//      url($font-path + $font-regular+'.woff2') format('woff2'), __<<ngThemingMigrationEscapedComment3>>__
//      url($font-path + $font-regular+'.ttf')  format('truetype'); __<<ngThemingMigrationEscapedComment4>>__
//
//   font-style:   $font-style-normal;
//   font-weight:  $font-weight-normal;
// }


// // Fonts
// @font-face {
//   font-family: 'roboto-light';
//   src: url('../../fonts/Roboto-Light.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'roboto';
//   src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'roboto-bold';
//   src: url('../../fonts/Roboto-Bold.ttf') format('truetype');
// }
