$font-name: 'Lato' !default; //'Roboto'!default;
// $font-text-regular: 'IBMPlexSans-Text' !default;
// $font-regular: 'IBMPlexSans-Regular' !default;
// $font-medium: 'IBMPlexSans-Medium' !default;
// $font-semibold: 'IBMPlexSans-SemiBold' !default;
// $font-bold: 'IBMPlexSans-Bold' !default;
// $font-italic: 'IBMPlexSans-Italic' !default;
// $font-system: 'system' !default;


// @font-face {
// font-family: $font-name;
// src: url($font-path + $font-regular+'.eot'); /* IE9 Compat Modes */
// src: url($font-path + $font-regular+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//      url($font-path + $font-regular+'.woff') format('woff'), /* Modern Browsers */
//      url($font-path + $font-regular+'.woff2') format('woff2'), /* Modern Browsers */
//      url($font-path + $font-regular+'.ttf')  format('truetype'); /* Safari, Android, iOS */
//
//   font-style:   $font-style-normal;
//   font-weight:  $font-weight-normal;
// }


// Fonts
@font-face {
  font-family: 'roboto-light';
  src: url('../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('src/app/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('src/app/assets/fonts/Roboto-Bold.ttf') format('truetype');
}
