html {
  font-family: $font-name, system;
  font-size: $body-text;
  overflow-y: scroll;
}

.line-height-none {
  line-height: 0;
}


/*####################### HEADLINE #########################*/
@mixin h1 {
  @extend .mb-3;
  font-family: $font-name;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  font-weight: $font-weight-bold;
  color: $color-primary;
}

@mixin h2 {
  @extend .mb-4;
  font-family: $font-name;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;

  p {
    @extend h2;
  }

  strong {
    font-weight: $font-weight-bold;
  }
}

@mixin h3 {
  @extend .mb-3;
  font-family: $font-name;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;

  strong {
    font-weight: $font-weight-bold;
  }
}

@mixin h4 {
  @extend .mb-3;
  font-family: $font-name;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;

  strong {
    font-weight: $font-weight-bold;
  }
}

@mixin h5 {
  @extend .mb-4;
  font-family: $font-name;
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;

  strong {
    font-weight: $font-weight-medium;
  }
}

@mixin body-text {
  font-family: $font-name;
  font-size: $body-text;
  line-height: $body-text-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;
}

@mixin body-text-small {
  font-family: $font-name;
  font-size: $small-text;
  line-height: $small-text-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;
}

@mixin body-text-big {
  font-family: $font-name;
  font-size: $big-text;
  line-height: $big-text-line-height;
  font-weight: $font-weight-normal;
  color: $color-text;
}

/*###################### HEADLINE TO USE #####################*/

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h1+h4 {
  margin-top: calculateRem(-16);
}

.jumbotron {
  p {
    &:first-child {
      padding-top: calculateRem(16);
      margin-bottom: calculateRem(8);
    }

    &:last-child {
      padding-bottom: calculateRem(16);
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 0 !important;
  }
}

p,
body,
.body-text {
  @include body-text;
  letter-spacing: $letter-spacing;
}

p {
  strong {
    font-weight: $font-weight-bold;
  }

}

.text {

  // Transforms
  &--uppercase {
    text-transform: uppercase;
  }

  &--light {
    font-weight: 300;
  }

  &--normal {
    font-weight: 400;
  }

  &--semibold {
    font-weight: 500;
  }

  &--semibolder {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }

  &--bolder {
    font-weight: 800;
  }

  &--boldest {
    font-weight: 900;
  }

  // Decoration
  &--underline {
    text-decoration: underline;
  }

  //Colours
  &--green {
    color: $color-primary !important;
  }

  &--gray {
    color: $color-text-gray-02 !important;
  }

  &--black {
    color: $color-text-black !important;
  }

  //Sizes
  &--small {
    @include body-text-small;
  }

  &--big {
    @include body-text-big;
  }
}

footer {
  p {
    br {
      display: block;
      @extend .mb-3;
      content: " ";
    }
  }

  p,
  li {
    @extend .mb-3;
  }

  ul {
    @include unstyled-list;
  }
}
