// These variables drive almost every aspect of the Frontend Styleguide.
// Every variable is declared as !default so that it can be overridden
// by a previous import.
//

//############################### Font and Font sizes ####################
//###########################################################################

//----------------
// -to-rem
//----------------
$global-font-size: 100% !default;
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.
$em-base: 14; //62.5%; //-> 10px for standard browsers, now 'Font size' from the browser setting works correctly if the uses specifies a bigger standard font-size.

$base-font-size: $em-base !default;
$base-line-height: $em-base+2 !default;

/*
Removes the unit (e.g. px, em, rem) from a value, returning the number only.
@param {Number} $num - Number to strip unit from.
@returns {Number} The same number, sans unit.
*/

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Paths
// Relative font and image file paths
$font-path: '../fonts/Roboto/' !default;
$image-path: '../img' !default;
$node-modules-path: '../../../node_modules';
$icons-folder-path: "../img/svg-icons/" !default;

//headline sizes
$h1: 30 !default;
$h1-font-size: calculateRem($h1) !default;
$h1-line-height: calculateRem($h1 + 6) !default;

$h2: 25 !default;
$h2-font-size: calculateRem($h2) !default;
$h2-line-height: calculateRem($h2 + 6) !default;

$h3: 20 !default;
$h3-font-size: calculateRem($h3) !default;
$h3-line-height: calculateRem($h3 + 6) !default;

$h4: 18 !default;
$h4-font-size: calculateRem($h4) !default;
$h4-line-height: calculateRem($h4 + 6) !default;

$h5: $em-base !default;
$h5-font-size: calculateRem($h5) !default;
$h5-line-height: calculateRem($h5 + 6) !default;

//font sizes
$body-text: calculateRem($em-base) !default;
$body-text-line-height: calculateRem($em-base + 8) !default;

$form-label: $em-base !default;
$form-label-line-height: calculateRem($form-label + 2) !default;

$big-text: calculateRem($h5 + 2) !default;
$big-text-line-height: calculateRem($h5 + 6) !default;

$small-text: calculateRem($em-base - 2) !default;
$small-text-line-height: calculateRem($em-base) !default;

//icon sizes
$icon-size: $em-base !default;
$icon-size-medium: $icon-size * 2 !default;
$icon-size-big: $icon-size * 4 !default;

//transition on timing
$transition-short: all 0.2s ease-in-out !default;
$transition-long: all 0.4s ease-in-out !default;

//weight & style of fonts

$font-style-normal: normal !default;
$font-style-italic: italic !default;

//letter-spacing
$letter-spacing: 0.5 !default;

//weight of font sizes
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-style-normal: normal !default;
$font-style-italic: italic !default;

//fontname
$font-family: 'Lato' !default;

//#######################Coloring ####################
//####################################################
$color-white-001: rgba(255, 255, 255, 1) !default;
$color-white-002: rgba(255, 255, 255, 0.75) !default;
$color-white-003: rgba(255, 255, 255, 0.5) !default;
$color-white-004: rgba(255, 255, 255, 0.25) !default;

$color-black-001: rgba(0, 0, 0, 1) !default;
$color-black-002: rgba(0, 0, 0, 0.75) !default;
$color-black-003: rgba(0, 0, 0, 0.5) !default;
$color-black-004: rgba(0, 0, 0, 0.25) !default;

$color-gray-001: rgba(0, 0, 0, 0.05) !default;
$color-gray-002: rgba(88, 94, 99, 1) !default;
$color-gray-003: rgba(112, 112, 112, 1) !default;
$color-gray-004: rgba(252, 252, 252, 1) !default;
$color-gray-005: rgba(232, 232, 232, 1) !default;
$color-gray-006: rgba(245, 245, 245, 1) !default;
$color-gray-007: rgba(49, 49, 49, 1) !default;
$color-gray-008: rgba(36, 36, 36, 1) !default;
$color-gray-009: rgba(196, 203, 207, 1) !default;

$color-blue-001: rgba(0, 159, 223, 1) !default;
$color-blue-002: rgba(0, 159, 223, 0.75) !default;
$color-blue-003: rgba(0, 159, 223, 0.5) !default;
$color-blue-004: rgba(0, 159, 223, 0.25) !default;

$color-green-001: rgba(0, 100, 50, 1) !default;
$color-green-002: rgba(0, 100, 50, 0.75) !default;
$color-green-003: rgba(0, 100, 50, 0.5) !default;
$color-green-004: rgba(0, 100, 50, 0.25) !default;

$color-dark-green-001: rgba(0, 49, 39, 1) !default;
$color-dark-green-002: rgba(0, 49, 39, 0.75) !default;
$color-dark-green-003: rgba(0, 49, 39, 0.5) !default;
$color-dark-green-004: rgba(0, 49, 39, 0.25) !default;

$color-light-green-001: rgba(229, 239, 234, 1) !default;
$color-light-green-002: rgba(229, 239, 234, 0.75) !default;
$color-light-green-003: rgba(229, 239, 234, 0.5) !default;
$color-light-green-004: rgba(229, 239, 234, 0.25) !default;

$color-lime-001: rgba(171, 188, 56, 1) !default;
$color-lime-002: rgba(171, 188, 56, 0.75) !default;
$color-lime-003: rgba(171, 188, 56, 0.5) !default;
$color-lime-004: rgba(171, 188, 56, 0.25) !default;

$color-yellow-001: rgba(231, 205, 20, 1) !default;
$color-yellow-002: rgba(231, 205, 20, 0.75) !default;
$color-yellow-003: rgba(231, 205, 20, 0.5) !default;
$color-yellow-004: rgba(231, 205, 20, 0.25) !default;

$color-red-001: rgba(131, 19, 2, 1) !default;
$color-red-002: rgba(131, 19, 2, 0.75) !default;
$color-red-003: rgba(131, 19, 2, 0.5) !default;
$color-red-004: rgba(131, 19, 2, 0.25) !default;

$color-purple-001: rgba(81, 45, 109, 1) !default;
$color-purple-002: rgba(81, 45, 109, 0.75) !default;
$color-purple-003: rgba(81, 45, 109, 0.5) !default;
$color-purple-004: rgba(81, 45, 109, 0.25) !default;

$color-orange-001: rgba(231, 102, 89, 1) !default;
$color-orange-002: rgba(231, 102, 89, 0.75) !default;
$color-orange-003: rgba(231, 102, 89, 0.5) !default;
$color-orange-004: rgba(231, 102, 89, 0.25) !default;

// // Colors used for alert boxes
$color-base-001: $color-white-001 !default;
$color-base-002: $color-black-001 !default;
$color-success: $color-blue-001 !default;
$color-success-light: $color-blue-004 !default;
$color-warning: $color-yellow-001 !default;
$color-warning-light: $color-yellow-003 !default;
$color-error: $color-red-001 !default;
$color-error-light: $color-red-003 !default;
$color-info: $color-blue-001 !default;
$color-info-light: $color-blue-004 !default;

//############################### Element variables ####################
//########################################################################

// Functional theme colors
$color-primary: $color-orange-001 !default;
$color-secondary: $color-white-001 !default;
$color-alternative: $color-lime-001 !default;

//Focus & Active
$color-focus: $color-green-001 !default;
$color-active: $color-green-001 !default;

// Text color
$color-text: $color-black-001 !default;
$color-text-primary: $color-primary !default;
$color-text-secondary: $color-secondary !default;
$color-text-light: $color-black-002 !default;
$color-text-white: $color-white-001 !default;
$color-text-blue: $color-blue-001 !default;
$color-text-yellow: $color-yellow-001 !default;
$color-text-lime: $color-lime-001 !default;
$color-text-error: $color-red-001 !default;
$color-text-red: $color-red-001 !default;
$color-text-grey: lighten($color-black-001, 50%) !default;
$color-text-gray-01: $color-gray-002 !default;
$color-text-gray-02: $color-gray-003 !default;
$color-text-green: $color-green-001 !default;
$color-text-black: $color-base-002 !default;


//background-color
$color-bg-normal: $color-white-001 !default;
$color-bg-primary: $color-primary !default;
$color-bg-primary-layer: $color-black-002 !default;
$color-bg-secondary: $color-dark-green-001 !default;
$color-bg-alternative: $color-light-green-001 !default;

//Icons color
$color-Icons-primary: $color-primary !default;
$color-Icons-secondary: $color-secondary !default;
$color-Icons-alternative: $color-alternative !default;
$color-Icons-light: $color-light-green-001 !default;

// //Links color
$color-link: $color-primary !default;
$color-link-hover: $color-primary !default;
$color-active: $color-primary !default;
$color-link-focus: $color-primary !default;
$color-link-focus-bg: $color-primary !default;
$color-visited: $color-primary !default;

// Colors for borders
$color-border: $color-white-003 !default;
$color-border-light: $color-white-004 !default;
$color-border-black: $color-black-001 !default;
$color-border-red: $color-red-002 !default;
$color-border-green: $color-green-002 !default;

//Borders
$border-width: 5;
$outer-border: $border-width solid $color-border;
$inner-border: $border-width solid lighten($color-border, 50%);
$focus-border: $border-width solid $color-border-green;
$focus-outline: $border-width solid $color-border;
$warning-border: $border-width solid $color-border-red;
$border-radius-primary: 16px;
$border-radius-secondary: 20px;

// //Button Borders
// $button-border-width: 1px;
// $button-border: $button-border-width solid $color-border;
// $link-border: $button-border-width solid $color-border-light;

// /////////////////Cards////////////////////////@include
// $card-border-width: 1px;

// $card-border-red: $card-border-width solid $color-border-red;
// $card-border-green: $card-border-width solid $color-border-green;
// /////////////////Buttons//////////////////////

// // primary button
$button-primary-color: $color-text-secondary !default;
$button-primary-bg: $color-bg-primary !default;
$button-primary-border-color: $color-primary !default;
// //primary Hover
$button-primary-hover-color: $body-text !default;
$button-primary-hover-bg: darken($button-primary-bg, 10%) !default;
$button-primary-hover-border-color: $color-primary !default;
$button-primary-active-color: $color-text-white !default;
$button-primary-active-bg: $color-primary !default;
$button-primary-active-border-color: $color-primary !default;
//primary focus
$button-primary-focus-color: $color-text-white !default;
$button-primary-focus-bg: $color-primary !default;
$button-primary-focus-border-color: $color-primary !default;

$button-disabled-bg: $color-black-004 !default;

// //######### secondarycolors for buttons
$button-secondary-color: $color-text-primary !default;
$button-secondary-bg: $color-bg-normal !default;
$button-secondary-border-color: $color-primary !default;
//secondary Hover
$button-secondary-hover-color: $color-bg-secondary !default;
$button-secondary-hover-bg: $button-secondary-color !default;
$button-secondary-hover-border-color: $color-border !default;
//secondary active
$button-secondary-active-color: $button-secondary-hover-color !default;
$button-secondary-active-bg: $button-secondary-hover-bg !default;
$button-secondary-active-border-color: $button-secondary-hover-border-color !default;
//secondary focus
$button-secondary-focus-color: $button-secondary-hover-color !default;
$button-secondary-focus-bg: $button-secondary-hover-bg !default;
$button-secondary-focus-border-color: $button-secondary-hover-border-color !default;

//box-shadow
$box-shadow: $color-black-001 !default;

// // /*################################# ###########################*/



//############################### Old stuff - needs to be replaced with the above code ####################
//#########################################################################################################


// Widths
$navWidth: 267px;

// Colors
$white: #fff;
$grey: #aebabe;
$grey-light: #f8f8f8;
$grey-tablehead: #f8fafc;
$grey-highlight: #f2f4f7;
$grey-separator: #dee3e9;
$grey-border: #b3b3b3;
$grey-text: #9baeb8;
$grey-dark: #738a94;
$grey-outline: rgba(179, 179, 179, 0.85);

$black-light: #555f63;
$black: #3e4b50;

$blue: #49b3ee;
$blue-hue: #2f95cc;

$green-light: #54a758;
$green: #43a047;

$orange-light: #ff6a3c;
$orange: #E76659;
$orange-outline: rgba(244, 121, 47, 0.6);

$red-light: #f8e7e9;
$red: #dc3545;
