<div class="mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div *ngIf="errorMessage" class="error-messages p-3 m-2">
    {{ errorMessage | translate }}
  </div>
  <table
    mat-table
    [dataSource]="users"
    matSort
    matSortActive="id"
    matSortDirection="asc"
    matSortDisableClear
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="!canSort"
      >
        {{ 'USERS.NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.name }}</p>
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'USERS.EMAIL' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.email }}</p>
      </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="dropdown">
          <a
            href="#"
            role="button"
            id="tableRowDropdown-{{ element.id }}"
            class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
          ></a>
          <ul
            class="dropdown-menu dropdown-menu--table"
            attr.aria-labelledby="tableRowDropdown-{{ element.id }}"
          >
            <li class="dropdown-item">
              <a
                [routerLink]="[
                  '/admin/users/accept-user/',
                  element.id,
                  organizationId
                ]"
                routerLinkActive="active"
                >{{ 'USERS.TABLE-ROW.APPROVE' | translate }}
              </a>
            </li>
            <li class="dropdown-item">
              <a (click)="rejectUser(element.id)" [routerLink]="">{{
                'USERS.TABLE-ROW.REJECT' | translate
              }}</a>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [length]="resultsLength"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
