<div class="mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  } @if (errorMessage) {
  <div class="error-messages p-3 m-2">
    {{ errorMessage | translate }}
  </div>
}
  <table [dataSource]="users" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef [disabled]="!canSort" mat-header-cell mat-sort-header>
        {{ "USERS.NAME" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p>{{ element.name }}</p>
      </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>
        {{ "USERS.EMAIL" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p>{{ element.email }}</p>
      </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <div class="dropdown">
          <a
            [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
            aria-expanded="false"
            class="applicationRow__edit dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id="tableRowDropdown-{{ element.id }}"
            role="button"
          ></a>
          <ul attr.aria-labelledby="tableRowDropdown-{{ element.id }}" class="dropdown-menu dropdown-menu--table">
            <li class="dropdown-item">
              <a
                [routerLink]="['/admin/users/accept-user/', element.id, element.requestedOrganization.id]"
                routerLinkActive="active"
              >{{ "USERS.TABLE-ROW.APPROVE" | translate }}
              </a>
            </li>
            <li class="dropdown-item">
              <a (click)="rejectUser(element.id, element.requestedOrganization.id)" [routerLink]="[]">{{
                  "USERS.TABLE-ROW.REJECT" | translate
                }}</a>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
