<app-top-bar
  [canEdit]="canEdit"
  backButtonTitle="{{ 'NAV.APPLICATION' | translate }}"
  title="{{ 'QUESTION.CREATE-IOT-DEVICE' | translate }}"
>
</app-top-bar>

<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>
            {{ error | translate }}
          </li>
        }
      </ul>
    </div>
  }

  <div class="row mb-5">
    <div
      [ngClass]="{
        'is-invalid': formFailedSubmit && errorFields.includes('type'),
        'is-valid': formFailedSubmit && !errorFields.includes('type')
      }"
      class="form-group d-flex justify-content-center p-3 col-12"
    >
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input
            (change)="isDeviceTypeChecked($event)"
            [attr.disabled]="editmode ? '' : null"
            [checked]="iotDevice.type.toString().includes('LORAWAN')"
            attr.aria-label="LoRaWAN"
            class="form-check-input"
            name="LORAWAN"
            required
            type="checkbox"
          />
          <div class="image-container">
            <img alt="LoRaWAN" src="assets/images/lora.png"/>
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input
            (change)="isDeviceTypeChecked($event)"
            [attr.disabled]="editmode ? '' : null"
            [checked]="iotDevice.type.toString().includes('GENERIC_HTTP')"
            attr.aria-label="{{ 'GEN.HTTP' | translate }}"
            class="form-check-input"
            name="GENERIC_HTTP"
            required
            type="checkbox"
          />
          <div class="image-container">
            <app-dynamic-img [altText]="'GEN.HTTP' | translate" [image]="'iot'"></app-dynamic-img>
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input
            (change)="isDeviceTypeChecked($event)"
            [attr.disabled]="editmode ? '' : null"
            [checked]="iotDevice.type.toString().includes('MQTT')"
            attr.aria-label="MQTT"
            class="form-check-input"
            name="MQTT"
            required
            type="checkbox"
          />
          <div class="image-container">
            <img alt="MQTT" src="assets/images/logo_mqtt.png"/>
          </div>
        </label>
      </div>
      <div class="form-check-inline radio-image">
        <label class="form-check-label d-flex flex-column-reverse">
          <input
            (change)="isDeviceTypeChecked($event)"
            [attr.disabled]="editmode ? '' : null"
            [checked]="iotDevice.type.toString().includes('SIGFOX')"
            attr.aria-label="Sigfox"
            class="form-check-input"
            name="SIGFOX"
            required
            type="checkbox"
          />
          <div class="image-container">
            <img alt="Sigfox" src="assets/images/Sigfox_Logo.png"/>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "QUESTION.GIVE-DEVICE-NAME" | translate }}</label
      >*
      <input
        [(ngModel)]="iotDevice.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'QUESTION.DEVICE-NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>

    @if (application) {
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="applicationId">{{ "QUESTION.RELATION-APPLICATION" | translate }}</label>
        {{ application.name }}
      </div>
    }
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="comment">{{ "IOTDEVICE.COMMENT" | translate }}</label>
      <input
        [(ngModel)]="iotDevice.comment"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('comment'),
          'is-valid': formFailedSubmit && !errorFields.includes('comment')
        }"
        [placeholder]="'QUESTION.EXTRA-COMMENT-PLACEHOLDER' | translate"
        class="form-control"
        id="comment"
        maxLength="1024"
        name="comment"
        type="text"
      />
    </div>

    @if (iotDevice) {
      <div class="form-group mt-3 col-12 thirty-height">
        <app-map
          (updateCoordinates)="updateCoordinates($event)"
          [coordinates]="getCoordinates()"
          [isFromCreation]="true"
        ></app-map>
      </div>
    }
    <p>{{ "DBLCLICKINFO" | translate }}</p>
    <div class="form-group mt-3 col-6">
      <label class="form-label" for="latitude">{{ "IOTDEVICE.LATITUDE" | translate }}</label>
      <input
        (keyup)="onCoordinateKey($event)"
        [(ngModel)]="iotDevice.latitude"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('latitude'),
          'is-valid': formFailedSubmit && !errorFields.includes('latitude')
        }"
        [placeholder]="'00'"
        class="form-control"
        id="latitude"
        max="90"
        maxlength="12"
        min="-90"
        name="latitude"
        required
        step=".000001"
        type="number"
      />
    </div>
    <div class="form-group mt-3 col-6">
      <label class="form-label" for="longitude">{{ "IOTDEVICE.LONGITUDE" | translate }}</label>
      <input
        (keyup)="onCoordinateKey($event)"
        [(ngModel)]="iotDevice.longitude"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('longitude'),
          'is-valid': formFailedSubmit && !errorFields.includes('longitude')
        }"
        [placeholder]="'00'"
        class="form-control"
        id="longitude"
        max="180"
        maxlength="12"
        min="-180"
        name="longitude"
        required
        step=".000001"
        type="number"
      />
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="commentOnLocation">{{ "QUESTION.LOCATION-DESCRIPTION" | translate }}</label>
      <input
        [(ngModel)]="iotDevice.commentOnLocation"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('commentOnLocation'),
          'is-valid': formFailedSubmit && !errorFields.includes('commentOnLocation')
        }"
        [placeholder]="'QUESTION.LOCATION-DESCRIPTION-PLACEHOLDER' | translate"
        class="form-control"
        id="commentOnLocation"
        maxLength="1024"
        name="commentOnLocation"
        type="text"
      />
    </div>

    <div class="form-group mt-5">
      <label class="form-label" for="deviceModel">{{ "QUESTION.DEVICE-MODEL-SELECT" | translate }}</label>
      <mat-select
        [(ngModel)]="iotDevice.deviceModelId"
        [compareWith]="compare"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('deviceModel'),
          'is-valid': formFailedSubmit && !errorFields.includes('deviceModel')
        }"
        class="form-control"
        id="deviceModel"
        name="deviceModel"
      >
        <mat-option [value]="0">
          {{ "QUESTION.DEVICE-MODEL-SELECT-NON" | translate }}
        </mat-option>
        @for (deviceModel of deviceModels; track deviceModel) {
          <mat-option [value]="deviceModel.id">
            {{ deviceModel.body.name }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>
  @if (iotDevice.type == loraDevice) {
    <ng-container class="row mb-5">
      <div class="form-group mt-5">
        <h3>{{ "IOTDEVICE.LORAWANSETUP" | translate }}</h3>
      </div>
      <div class="form-group mt-5">
        <label class="form-label" for="devEUI">{{ "QUESTION.DEVEUI" | translate }}*</label>
        <input
          [(ngModel)]="iotDevice.lorawanSettings.devEUI"
          [disabled]="editmode && !isDeviceCopy"
          [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('devEUI'),
          'is-valid': formFailedSubmit && !errorFields.includes('devEUI')
        }"
          [placeholder]="'QUESTION.DEVEUI-PLACEHOLDER' | translate"
          class="form-control"
          id="devEUI"
          name="devEUI"
          type="text"
        />
      </div>
      @if (iotDevice.lorawanSettings.deviceProfileID || deviceProfiles) {
        <div class="form-group mt-3 col-12">
          <label class="form-label" for="deviceProfileID">{{ "QUESTION.CHOOSE-DEVICE" | translate }}</label
          >*
          <select
            (change)="onChangeDeviceProfile($event.target.value)"
            [(ngModel)]="iotDevice.lorawanSettings.deviceProfileID"
            [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('deviceProfileID'),
            'is-valid': formFailedSubmit && !errorFields.includes('deviceProfileID')
          }"
            [value]="iotDevice.lorawanSettings.deviceProfileID"
            class="form-select"
            id="deviceProfileID"
            name="deviceProfileID"
            required
          >
            @for (deviceProfile of deviceProfiles; track deviceProfile) {
              <option
                [selected]="deviceProfile.id === iotDevice.lorawanSettings.deviceProfileID"
                [value]="deviceProfile.id"
              >
                {{ deviceProfile.name }}
              </option>
            }
          </select>
        </div>
      }
      <div class="form-group mt-5">
        @if (OTAA) {
          <h3>{{ "QUESTION.OTAA" | translate }}</h3>
          <p>{{ "QUESTION.OTAA-ABP-CONFIG-HELP" | translate }}</p>
          <div class="form-group mt-5">
            <label class="form-label" for="OTAAapplicationKey">{{ "QUESTION.OTAAAPPLICATIONKEY" | translate }}*</label>
            <input
              [(ngModel)]="iotDevice.lorawanSettings.OTAAapplicationKey"
              [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('OTAAapplicationKey'),
              'is-valid': formFailedSubmit && !errorFields.includes('OTAAapplicationKey')
            }"
              [placeholder]="'QUESTION.OTAAAPPLICATIONKEY-PLACEHOLDER' | translate"
              class="form-control"
              id="OTAAapplicationKey"
              maxLength="32"
              name="OTAAapplicationKey"
              type="text"
            />
          </div>
        } @if (!OTAA) {
        <h3>{{ "QUESTION.ABP" | translate }}</h3>
        <p>{{ "QUESTION.OTAA-ABP-CONFIG-HELP" | translate }}</p>
        <div class="form-group mt-5">
          <label class="form-label" for="devAddr">{{ "QUESTION.DEVADDR" | translate }}*</label>
          <input
            [(ngModel)]="iotDevice.lorawanSettings.devAddr"
            [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('devAddr'),
              'is-valid': formFailedSubmit && !errorFields.includes('devAddr')
            }"
            [placeholder]="'QUESTION.DEVADDR-PLACEHOLDER' | translate"
            class="form-control"
            id="devAddr"
            maxLength="8"
            name="devAddr"
            type="text"
          />
        </div>
        <div class="form-group mt-5">
          <label class="form-label" for="networkSessionKey">{{ "QUESTION.NETWORKSESSIONKEY" | translate }}*</label>
          <input
            [(ngModel)]="iotDevice.lorawanSettings.networkSessionKey"
            [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('networkSessionKey'),
              'is-valid': formFailedSubmit && !errorFields.includes('networkSessionKey')
            }"
            [placeholder]="'QUESTION.NETWORKSESSIONKEY-PLACEHOLDER' | translate"
            class="form-control"
            id="networkSessionKey"
            maxLength="32"
            name="networkSessionKey"
            type="text"
          />
        </div>
        <div class="form-group mt-5">
          <label class="form-label" for="applicationSessionKey"
          >{{ "QUESTION.APPLICATIONSESSIONKEY" | translate }}*</label
          >
          <input
            [(ngModel)]="iotDevice.lorawanSettings.applicationSessionKey"
            [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('applicationSessionKey'),
              'is-valid': formFailedSubmit && !errorFields.includes('applicationSessionKey')
            }"
            [placeholder]="'QUESTION.APPLICATIONSESSIONKEY-PLACEHOLDER' | translate"
            class="form-control"
            id="applicationSessionKey"
            maxLength="32"
            name="applicationSessionKey"
            type="text"
          />
        </div>
        <div class="form-group mt-5">
          <label class="form-label" for="fCntUp">{{ "QUESTION.FCNTUP" | translate }}*</label>
          <input
            [(ngModel)]="iotDevice.lorawanSettings.fCntUp"
            [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('fCntUp'),
              'is-valid': formFailedSubmit && !errorFields.includes('fCntUp')
            }"
            [placeholder]="'QUESTION.FCNTUP-PLACEHOLDER' | translate"
            class="form-control"
            id="fCntUp"
            maxLength="32"
            name="fCntUp"
            type="number"
          />
        </div>
        <div class="form-group mt-5">
          <label class="form-label" for="nFCntDown">{{ "QUESTION.NFCNTDOWN" | translate }}*</label>
          <input
            [(ngModel)]="iotDevice.lorawanSettings.nFCntDown"
            [ngClass]="{
              'is-invalid': formFailedSubmit && errorFields.includes('nFCntDown'),
              'is-valid': formFailedSubmit && !errorFields.includes('nFCntDown')
            }"
            [placeholder]="'QUESTION.NFCNTDOWN-PLACEHOLDER' | translate"
            class="form-control"
            id="nFCntDown"
            maxLength="32"
            name="nFCntDown"
            type="number"
          />
        </div>
      }
      </div>
      <div class="form-group mt-5">
        <label class="form-label" for="skipFCntCheck">{{ "QUESTION.SKIPFCNTCHECK" | translate }}</label>
        <div>
          <mat-checkbox [(ngModel)]="iotDevice.lorawanSettings.skipFCntCheck" id="skipFCntCheck" name="skipFCntCheck">
            {{ "QUESTION.SKIPFCNTCHECK-YES" | translate }}
          </mat-checkbox>
        </div>
      </div>
    </ng-container>
  } @if (iotDevice.type == sigfoxDevice) {
  <app-sigfox-device-edit [errorFields]="errorFields" [formFailedSubmit]="formFailedSubmit" [iotDevice]="iotDevice">
  </app-sigfox-device-edit>
} @if (iotDevice.type.toString().includes('MQTT')) {
  <app-mqtt-device-edit
    [editMode]="editmode"
    [errorFields]="errorFields"
    [formFailedSubmit]="formFailedSubmit"
    [iotDevice]="iotDevice"
  >
  </app-mqtt-device-edit>
}

  <div class="mt-5 row">
    <h3>{{ "QUESTION.METADATA" | translate }}</h3>
    <app-form-key-value-list [(tags)]="metadataTags" [errorFieldId]="errorMetadataFieldId"></app-form-key-value-list>
  </div>
  @if (isDeviceCopy) {
    <div class="form-group mt-5">
      <label class="form-label" for="copyPayloadAndDatatarget">{{
          "IOTDEVICE.COPY-DATATAGET-AND-PAYLOAD" | translate
        }}</label>
      <div>
        <mat-checkbox
          [(ngModel)]="copyPayloadAndDatatarget"
          id="copyPayloadAndDatatarget"
          name="copyPayloadAndDatatarget"
        >
          {{ "QUESTION.SKIPFCNTCHECK-YES" | translate }}
        </mat-checkbox>
      </div>
    </div>
  }
  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">{{ "GEN.CANCEL" | translate }}</button>
    <button class="btn btn-primary ms-2" type="submit">{{ "GEN.SAVE" | translate }}</button>
  </div>
</form>
