<app-top-bar-table [title]="'PROFILES.SERVICE_PROFILE.HEADLINE' | translate"
    [ctaLabelPrimary]="'PROFILES.SERVICE_PROFILE.CREATE-NEW-SERVICE-PROFILE' | translate"
    [ctaRouterLinkPrimary]="canCreate() ? 'service-profile/new-service-profile' : null"></app-top-bar-table>
<div *ngIf="errorMessages" class="error-messages p-3 my-2">
    {{errorMessages | translate }}
</div>
<div class="row">
    <div class="col-xs-12">
        <app-service-profile-item *ngFor="let serviceProfile of serviceProfiles; let i = index"
            (deleteServiceProfile)="deleteServiceProfile($event)" [serviceProfile]="serviceProfile">
        </app-service-profile-item>
    </div>
</div>