<ng-container *ngIf="application">
    <app-top-bar-single [data]="application" [backButton]="backButton"></app-top-bar-single>
</ng-container>
<div class="iot-device-component">
    <div class="bottom-separator">
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'IOTDEVICE.NAME' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <p>{{device.name}}</p>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'IOTDEVICE.TYPE' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <p>{{ 'IOT-DEVICE-TYPES.' + device.type | translate}}</p>
            </div>
        </div>

        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'IOTDEVICE.COMMENT' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <div *ngIf="device.comment; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <p>{{device.comment}}</p>
                </ng-template>
                <ng-template #elseBlock>
                    <p>{{ 'IOTDEVICE.NOCOMMENT' | translate}}</p>
                </ng-template>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4 pb-2">
                <h4>{{ 'IOTDEVICE.LOCATION' | translate }}</h4>
            </div>
            <div *ngIf="device.location; then locationThenBlock else locationElseBlock"></div>
            <ng-template #locationThenBlock>
                <div>
                    <div class="col-6">
                        <h5>{{ 'IOTDEVICE.LONGITUDE' | translate }}</h5>
                        <p>{{longitude}}</p>
                    </div>
                    <div class="col-6">
                        <h5>{{ 'IOTDEVICE.LATITUDE' | translate }}</h5>
                        <p>{{latitude}}</p>
                    </div>
                </div>
            </ng-template>
            <ng-template #locationElseBlock>
                <p>{{ 'IOTDEVICE.NOLOCATION' | translate}}</p>
            </ng-template>
        </div>
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'IOTDEVICE.COMMENTONLOCATION' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <div *ngIf="device.commentOnLocation; then locationCommentthenBlock else locationCommentElseBlock">
                </div>
                <ng-template #locationCommentthenBlock>
                    <p>{{device.commentOnLocation}}</p>
                </ng-template>
                <ng-template #locationCommentElseBlock>
                    <p>{{ 'IOTDEVICE.NOCOMMENTONLOCATION' | translate}}</p>
                </ng-template>
            </div>
        </div>

        <ng-container *ngIf="device.type === 'LORAWAN' && device.lorawanSettings">
            <div class="col-12 py-4">
                <div class="col-12 col-sm-4">
                    <h4>{{ 'IOTDEVICE.LORA.DEVEUI' | translate }}</h4>
                </div>
                <div class="col-12 pt-2 col-sm-8">
                    <p>{{device.lorawanSettings.devEUI}}</p>
                </div>
            </div>

            <div class="col-12 py-4">
                <div class="col-12 col-sm-4">
                    <h4>{{ 'IOTDEVICE.LORA.SERVICEPROFILE' | translate }}</h4>
                </div>
                <div class="col-12 pt-2 col-sm-8">
                    <p>{{deviceProfileName}}</p>
                </div>
            </div>

            <div class="col-12 py-4">
                <div class="col-12 col-sm-4">
                    <h4>{{ 'IOTDEVICE.LORA.DEVICEPROFILE' | translate }}</h4>
                </div>
                <div class="col-12 pt-2 col-sm-8">
                    <p>{{serviceProfileName}}</p>
                </div>
            </div>
            
            <ng-container *ngIf="OTAA" class="col-12 py-4">
                <div class="col-12 col-sm-4">
                    <h4>{{ 'IOTDEVICE.LORA.OTAAAPPLICATIONKEY' | translate }}</h4>
                </div>
                <div class="col-12 pt-2 col-sm-8">
                    <p>{{device.lorawanSettings?.OTAAapplicationKey}}</p>
                </div>
            </ng-container>

            <ng-container *ngIf="!OTAA">
                <div class="col-12 py-4">
                    <div class="col-12 col-sm-4">
                        <h4>{{ 'IOTDEVICE.LORA.DEVADDR' | translate }}</h4>
                    </div>
                    <div class="col-12 pt-2 col-sm-8">
                        <p>{{device.lorawanSettings?.devAddr}}</p>
                    </div>
                </div>
    
                <div class="col-12 py-4">
                    <div class="col-12 col-sm-4">
                        <h4>{{ 'IOTDEVICE.LORA.NETWORKSESSIONKEY' | translate }}</h4>
                    </div>
                    <div class="col-12 pt-2 col-sm-8">
                        <p>{{device.lorawanSettings?.activationType}}</p>
                    </div>
                </div>
    
                <div class="col-12 py-4">
                    <div class="col-12 col-sm-4">
                        <h4>{{ 'IOTDEVICE.LORA.APPLICATIONSESSIONKEY' | translate }}</h4>
                    </div>
                    <div class="col-12 pt-2 col-sm-8">
                        <p>{{device.lorawanSettings?.applicationSessionKey}}</p>
                    </div>
                </div>
            </ng-container>

            <div class="col-12 py-4">
                <div class="col-12 col-sm-4">
                    <h4>{{ 'IOTDEVICE.LORA.SKIPFCNTCHECK' | translate }}</h4>
                </div>
                <div class="col-12 pt-2 col-sm-8">
                    <p>{{device.lorawanSettings?.skipFCntCheck}}</p>
                </div>
            </div>
        </ng-container>
        <div class="col-12 py-4">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <ng-container *ngIf="device.latestReceivedMessage?.sentTime; then sentTime; else noSentTime">    
                        </ng-container>
                        <ng-template #sentTime>
                            <p>
                                {{'IOTDEVICE.LATEST-DATAPACKAGE' | translate}} {{device.latestReceivedMessage?.sentTime | date:'medium'}}
                            </p>
                        </ng-template>
                        <ng-template #noSentTime>
                            <p>
                                {{'IOTDEVICE.NO-DATAPACKAGE' | translate}}
                            </p>
                        </ng-template>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <ng-container *ngIf="device.latestReceivedMessage?.rawData">    
                        <code>
                            <pre>
                                {{device.latestReceivedMessage.rawData | json }}
                            </pre>
                        </code>
                    </ng-container>
            </mat-expansion-panel>
        </div>
    </div>
    <ng-container *ngIf="device.type">
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'IOTDEVICE.GENERIC_HTTP.APIKEY' | translate }}</h4>
            </div>
        </div>
        <!-- <p>{{ 'IOTDEVICE.GENERIC_HTTP.INSTRUCTIONS' | translate }}</p> -->
        <pre>{{ getGenericHttpDeviceUrl(device) }}</pre>
    </ng-container>
</div>