<div class="filter-container">
  <div class="filter-selector-container">
    <div class="filter-title">{{ "APPLICATION-FILTER.STATUS" | translate }}</div>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onStatusCheck($event)" [(value)]="state" class="withoutArrow" placeholder="test">
        @for (option of statusOptions; track option) {
          <mat-option [value]="option.value">
            {{ option.label | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-selector-container">
    <div class="filter-title">{{ "APPLICATION-FILTER.STATE" | translate }}</div>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onStatus($event)" [(value)]="status" class="withoutArrow">
        @for (option of stateOptions; track option) {
          <mat-option [value]="option.value">
            {{ option.label | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-selector-container">
    <div class="filter-title">{{ "APPLICATION-FILTER.OWNER" | translate }}</div>
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onOwner($event)" [(value)]="owner" class="withoutArrow">
        <mat-option [value]="owner">
          {{ "APPLICATION-FILTER.ALL" | translate }}
        </mat-option>
        @for (option of ownerOptions; track option) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="spacer"></div>
  <button (click)="onButtonClick()" class="filter-button" mat-flat-button>
    <div class="filter-icon-container">
      <img height="16" ngSrc="../../../../assets/images/sliders.svg" priority width="18"/>
      <div class="filter-label">
        {{ "APPLICATION-FILTER.RESET-FILTER" | translate }}
      </div>
    </div>
  </button>
</div>
