@import "../../../../assets/scss/setup/variables";

.filter-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 65px;
  margin-bottom: 25px;
}

.filter-selector-container {
  width: 200px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.filter-title {
  font-size: 14px;
}

.spacer {
  display: flex;
  flex: 1;
}

.filter-button {
  margin-top: 26px;
  height: 40px !important;
  width: 170px !important;
  min-width: 170px !important;
  justify-content: center;
  display: flex !important;
  align-items: center;
  border: 1px solid $color-link !important;
}

.filter-icon-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  font-size: 16px;
}

:host .mat-mdc-select {
  height: 20px;
  line-height: 35px;
  display: flex;
  align-items: center;
  font-size: 16px !important;
  color: $selector-font-color !important;
}

:host .mat-mdc-form-field {
  height: 20px !important;
  display: flex;
  align-items: center;
}

:host .mat-mdc-text-field-wrapper {
  background-color: $white !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
}

:host .mat-mdc-select-arrow {
  display: none;
}
