<div class="mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  <table
    [dataSource]="multicasts"
    mat-table
    matSort
    matSortActive="groupName"
    matSortDirection="asc"
    matSortDisableClear
  >
    <!-- Name Column -->
    <ng-container matColumnDef="groupName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "MULTICAST-TABLE.NAME" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['../multicast', element.id]" class="application-link" routerLinkActive="active">{{
            element.groupName
          }}</a>
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="groupType">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "MULTICAST-TABLE.TYPE" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.lorawanMulticastDefinition.groupType }}
      </td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef class="col-1" mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        @if (canEdit) {
          <div class="dropdown">
            <a
              [attr.aria-label]="'MULTICAST-TABLE-ROW.SHOW-OPTIONS' | translate"
              aria-expanded="false"
              class="applicationRow__edit dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              id="tableRowDropdown-{{ element.id }}"
              role="button"
            ></a>
            <ul attr.aria-labelledby="tableRowDropdown-{{ element.id }}" class="dropdown-menu dropdown-menu--table">
              <li class="dropdown-item">
                <a [routerLink]="['../multicast-edit', element.id]" routerLinkActive="active">{{
                    "GEN.EDIT" | translate
                  }}</a>
              </li>
              <li class="dropdown-item">
                <a (click)="deleteMulticast(element)" [routerLink]="[]">{{ "GEN.DELETE" | translate }}</a>
              </li>
            </ul>
          </div>
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
