<app-top-bar [showSelectedSort]="false" [title]="'SIGFOX-GROUP.ADMINISTRATION.NAME' | translate"></app-top-bar>

<div class=" jumbotron m-md-4 p-md-3">
    <div class="row mt-5">
        <div class="col-6">
            <h4>Liste over grupper</h4>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-right"
                (click)="onNewGroup()">{{'SIGFOX-GROUP.ADMINISTRATION.CREATE-NEW-GROUP' | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12" *ngIf="sigfoxGroups">
            <app-sigfox-groups-list-item *ngFor="let group of sigfoxGroups; let i = index" [sigfoxGroup]="group">
            </app-sigfox-groups-list-item>

        </div>
    </div>
</div>