<div *ngIf="sigfoxGroups">
    <app-top-bar [showSelectedSort]="false" [title]="'SIGFOX-GROUP.NAME' | translate" [ctaRouterLink]="'new-group'"
        [ctaLabel]="'SIGFOX-GROUP.ADMINISTRATION.CREATE-NEW-GROUP' | translate"
        [canEdit]="canEdit">
    </app-top-bar>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class=" jumbotron" *ngIf="sigfoxGroups">
                    <h3>{{'SIGFOX-GROUP.ADMINISTRATION.NAME' | translate}}</h3>
                    <app-sigfox-groups-list-item *ngFor="let group of sigfoxGroups; let i = index"
                        [sigfoxGroup]="group">
                    </app-sigfox-groups-list-item>
                </div>
            </div>
        </div>
    </div>
</div>
