@if (sigfoxGroups) {
  <div>
    <app-top-bar
      [canEdit]="canEdit"
      [ctaLabel]="'SIGFOX-GROUP.ADMINISTRATION.CREATE-NEW-GROUP' | translate"
      [ctaRouterLink]="'new-group'"
      [showSelectedSort]="false"
      [title]="'SIGFOX-GROUP.NAME' | translate"
    >
    </app-top-bar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          @if (sigfoxGroups) {
            <div class="jumbotron">
              <h3>{{ "SIGFOX-GROUP.ADMINISTRATION.NAME" | translate }}</h3>
              @for (group of sigfoxGroups; track group; let i = $index) {
                <app-sigfox-groups-list-item [sigfoxGroup]="group">
                </app-sigfox-groups-list-item>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
