<app-top-bar [showSelectedSort]="false" backButtonTitle="{{'SIGFOX-GROUP.SIGFOX-GROUP' | translate}}" [title]="'SIGFOX-GROUP.PROFILES.NAME' | translate"></app-top-bar>

<div class=" jumbotron m-md-4 p-md-3">
    <div class="row mt-5">
        <div class="col-6">
            <h4>{{'SIGFOX-GROUP.PROFILES.DEVICE-TYPE' | translate}}</h4>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-right"
                (click)="onNewDeviceType()">{{'SIGFOX-GROUP.PROFILES.CREATE-NEW-DEVICE-TYPE' | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-sigfox-device-type-table></app-sigfox-device-type-table>
        </div>
    </div>
</div>