<div *ngIf="sigfoxGroup">
    <app-top-bar [showSelectedSort]="false" backButtonTitle="{{'SIGFOX-GROUP.SIGFOX-GROUP' | translate}}"
        [title]="sigfoxGroup.sigfoxGroupData.name"
        [ctaLabel]="'SIGFOX-GROUP.PROFILES.CREATE-NEW-DEVICE-TYPE' | translate" [ctaRouterLink]="'new-device-type'"
        [canEdit]="canEdit">
    </app-top-bar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class=" jumbotron">
                    <h3>{{'SIGFOX-GROUP.PROFILES.DEVICE-TYPE' | translate}}</h3>
                    <app-sigfox-device-type-table [sigfoxDevices]="sigfoxDevices" [isLoadingResults]="isLoadingResults">
                    </app-sigfox-device-type-table>
                </div>
            </div>
        </div>
    </div>
</div>
