<div class="basic-information-box {{ 'info-border-color-' + type }}">
  <div class="top-info">
    <div class="icon-continer">
      <mat-icon [ngStyle]="currentStyles[0]" class="material-symbols-rounded" svgIcon="{{ matSVGSrc }}" />
    </div>
    <div class="flex-row">
      <div class="count-title {{ 'info-text-color-' + type }}">{{ count }}</div>
      @if(countOf){
      <div class="count-of-title">{{ "  " }}/ {{ " " + countOf }}</div>
      }
    </div>
  </div>
  <div class="information-box-description">{{ description }}</div>
</div>
