<div class="map-page">
  @if(coordinateList){
  <app-map [coordinateList]="coordinateList" [isFromApplication]="true" [applicationId]="22"></app-map>
  }
  <div class="map-overlay">
    <div class="check-box-container">
      <mat-checkbox class="example-margin" />
      <div>{{ "APPLICATION-INFORMATION-BOX.DEVICES" | translate }}</div>
    </div>
    <div class="check-box-container">
      <mat-checkbox class="example-margin" />
      <div>{{ "APPLICATION-INFORMATION-BOX.GATEWAYS" | translate }}</div>
    </div>
  </div>
</div>
