<div class="mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  <table [dataSource]="data" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "API-KEY.NAME" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.name }}
      </td>
    </ng-container>

    <!-- User Groups Column -->
    <ng-container matColumnDef="permissions">
      <th *matHeaderCellDef mat-header-cell>
        {{ "API-KEY.PERMISSIONS" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        @if (element.permissions) {
          @for (pm of element.permissions; track pm) {
            <span>{{ pm.name }}</span>
            <br/>
          }
        } @else {
        {{ "NoUsersAdded" | translate }}
      }
      </td>
    </ng-container>

    <!-- Key Column -->
    <ng-container matColumnDef="key">
      <th *matHeaderCellDef mat-header-cell>
        {{ "API-KEY.KEY" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.key }}
      </td>
    </ng-container>

    <!--  Expiration Column  -->
    <ng-container matColumnDef="expiresOn">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "API-KEY.EXPIRES-ON" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ (element.expiresOn | dateOnly) ?? '-' }}
      </td>
    </ng-container>

    <!--  Status Column  -->
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>
        {{ "API-KEY.STATUS" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        <p [ngClass]="!isKeyExpired(element) | activeDeactive">{{ !isKeyExpired(element) | activeDeactive }}</p>
      </td>
    </ng-container>


    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        @if (canAccess(element)) {
          <div class="dropdown">
            <a
              [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
              aria-expanded="false"
              class="applicationRow__edit dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              id="tableRowDropdown-{{ element.id }}"
              role="button"
            ></a>
            <ul attr.aria-labelledby="tableRowDropdown-{{ element.id }}" class="dropdown-menu dropdown-menu--table">
              <li class="dropdown-item">
                <a [routerLink]="[element.id, 'edit-api-key']" routerLinkActive="active"
                >{{ "ORGANISATION-TABLE-ROW.EDIT" | translate }}
                </a>
              </li>
              <li class="dropdown-item">
                <a (click)="deleteApiKey(element.id)"
                   [routerLink]="[]">{{ "API-KEY.TABLE-ROW.DELETE" | translate }} </a>
              </li>
            </ul>
          </div>
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
