<app-top-bar
  [canEdit]="canEdit"
  [ctaLabel]="'FORM.CREATE-NEW-LORA-GATEWAY' | translate"
  [ctaRouterLink]="'gateway-edit'"
  [pageLimit]="pageLimit"
  [title]="'NAV.LORA-GATEWAYS' | translate"
>
</app-top-bar>
<div class="container-fluid">
  <div class="jumbotron">
    <app-top-bar-table
      (updateSelectedOpt)="setOrgIdFilter($event)"
      [addDropdown]="true"
      [component]="true"
      [dropdownDefaultOption]="'GATEWAY.DROPDOWNDEFAULT' | translate"
      [dropdownLabel]="'GATEWAY.DROPDOWNFILTER' | translate"
      [options]="organisations"
    >
    </app-top-bar-table>
    <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
      @for (link of navTabs; track link) {
        <a
          #rla="routerLinkActive"
          [active]="rla.isActive"
          [routerLink]="link.link"
          mat-tab-link
          routerLinkActive
        >{{ link.label | translate }}</a
        >
      }
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <router-outlet></router-outlet>
  </div>
</div>
