<ng-template #noPermissions>
  <header class="header p-3">
    <div class="header__text-box">
      <div class="heading-primary">
        <span class="row heading-primary--main mb-5">
          <div class="col-12">
            <h1>{{ "WELCOME-DIALOG.WELCOME" | translate }}</h1>
            <h2>{{ "WELCOME-DIALOG.NO-ACCESS" | translate }}</h2>
          </div>
        </span>
      </div>
    </div>
  </header>
</ng-template>
<app-top-bar
  [title]="'NAV.APPLICATIONS' | translate"
  [ctaLabel]="'FORM.CREATE-NEW-APPLICATION' | translate"
  [ctaRouterLink]="'new-application'"
  [canEdit]="canEdit"
>
</app-top-bar>
<div class="container-fluid d-flex flex-column">
  <div class="">
    <app-basic-information-box></app-basic-information-box>
  </div>
  <ng-container *ngIf="!isLoadingResults">
    <ng-container *ngIf="hasSomePermission" ; else noPermissions>
      <div>
        <app-basic-tap-switch [taps]="taps" (newItemEvent)="onNewSwitchIndex($event)"> </app-basic-tap-switch>
        @switch (index) { @case (1) {

        <app-application-map></app-application-map>
        } @case (2) {

        <app-application-visualization />

        } @default {

        <app-applications-table [organizationId]="organizationId" *ngIf="organizationId"></app-applications-table>

        } }
      </div>
    </ng-container>
  </ng-container>
  <mat-spinner ngClass="align-self-center" *ngIf="isLoadingResults"></mat-spinner>
</div>
