<ng-template #noPermissions>
  <header class="header p-3">
    <div class="header__text-box">
      <div class="heading-primary">
        <span class="row heading-primary--main mb-5">
          <div class="col-12">
            <h1>{{ "WELCOME-DIALOG.WELCOME" | translate }}</h1>
            <h2>{{ "WELCOME-DIALOG.NO-ACCESS" | translate }}</h2>
          </div>
        </span>
      </div>
    </div>
  </header>
</ng-template>
<app-top-bar
  [canEdit]="canEdit"
  [ctaLabel]="'FORM.CREATE-NEW-APPLICATION' | translate"
  [ctaRouterLink]="'new-application'"
  [title]="'NAV.APPLICATIONS' | translate"
>
</app-top-bar>
<div class="main-page d-flex flex-column">
  @if (!isLoadingResults) {
    @if (hasSomePermission) {
      <ng-container ; else noPermissions>
        <app-application-filter/>
        <app-applications-list-dashboard/>
        <div class="switch-content-container">
          <app-basic-tab-switch (tabClicked)="onTapClicked($event)" [currentUrl]="currentPath" [tabs]="tabs">
          </app-basic-tab-switch>
          @if (currentPath === mapRoute) {
            <app-application-map></app-application-map>
          } @if (currentPath === listRoute) {
          @if (organizationId) {
            <app-applications-table [organizationId]="organizationId"></app-applications-table>
          }
        }
        </div>
      </ng-container>
    }
  } @if (isLoadingResults) {
  <mat-spinner ngClass="align-self-center"></mat-spinner>
}
</div>
