<div *ngIf="permission">
    <app-top-bar [data]="permission" [backButton]="backButton" [subPage]="true" [addDetailDowndown]="true"
        [dropDownButton]="dropdownButton" (deleteSelectedInDropdown)="onDeletePermission()">
    </app-top-bar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class=" jumbotron">
                    <h3>{{'PERMISSION.DETAIL.HEADLINE' | translate}}</h3>
                    <p><strong>{{ 'PERMISSION.DETAIL.CREATED' | translate }}</strong>{{permission.createdAt | dkTime}}<span
                            *ngIf="permission.createdByName">{{permission.createdByName | createdUpdatedBy}}</span></p>
                    <p *ngIf="permission.createdAt !== permission.updatedAt">
                        <strong>{{ 'PERMISSION.DETAIL.UPDATED' | translate }}</strong>{{permission.updatedAt | dkTime}}
                        <span *ngIf="permission.updatedByName">
                            {{permission.updatedByName | createdUpdatedBy}} </span></p>
                    <p><strong>{{'PERMISSION.DETAIL.TYPE' | translate}}</strong>{{permission.type}}</p>
                    <p><strong>{{'PERMISSION.DETAIL.ORG' | translate}}</strong>
                        {{permission.organization?.name}}
                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h3>
                        {{ 'PERMISSION.DETAIL.USERS' | translate }}
                    </h3>
                    <app-user-table [permissionId]="permission.id" [canSort]="false"></app-user-table>
                </div>
            </div>
        </div>
    </div>
</div>