<div class="mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  <table [dataSource]="data" mat-table matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "PERMISSION.NAME" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        @if (canAccess(element)) {
          <a
            (click)="routeToPermissions(element)"
            class="permission-link"
            routerLinkActive="active"
          >
            {{ element.name }}
          </a>
        } @else {
        {{ element.name }}
      }
      </td>
    </ng-container>

    <!-- Organisations Column -->
    <ng-container matColumnDef="organisations">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "PERMISSION.ORGANISATION" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element?.organization?.name ? element.organization.name : ("PERMISSION.NO_ORGANISATION" | translate) }}
      </td>
    </ng-container>

    <!-- Number of members Column -->
    <ng-container matColumnDef="members">
      <th *matHeaderCellDef mat-header-cell>
        {{ "PERMISSION.NUMBER_OF_MEMBERS" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        @if (element.users) {
          <div>
            {{ element.users.length }}
          </div>
        } @else {
        Ingen brugere er tilføjet
      }
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "PERMISSION.TYPE" | translate }}
      </th>
      <td *matCellDef="let element" mat-cell>
        {{ element.type | translatePermissions }}
      </td>
    </ng-container>

    <!-- Menu Column -->
    <ng-container matColumnDef="menu">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        @if (canAccess(element)) {
          <div class="dropdown">
            <a
              [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"
              aria-expanded="false"
              class="applicationRow__edit dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              id="tableRowDropdown-{{ element.id }}"
              role="button"
            ></a>
            <ul attr.aria-labelledby="tableRowDropdown-{{ element.id }}" class="dropdown-menu dropdown-menu--table">
              <li class="dropdown-item">
                <a [routerLink]="['/admin/permissions', element.id, 'edit-permission']" routerLinkActive="active"
                >{{ "USERS.TABLE-ROW.EDIT" | translate }}
                </a>
              </li>
              <li class="dropdown-item">
                <a (click)="deletePermission(element.id)" [routerLink]="[]"
                >{{ "PERMISSION.TABLE-ROW.DELETE" | translate }}
                </a>
              </li>
            </ul>
          </div>
        }
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
