<div class="iot-device-change-application-dialog">
  <h1 mat-dialog-title>{{ "IOTDEVICE.CHANGE-APPLICATION.TITLE" | translate }}</h1>
  <div mat-dialog-content>
    <label class="form-label" for="organizationSelect">{{
      "IOTDEVICE.CHANGE-APPLICATION.CHOOSE-ORGANIZATION" | translate
    }}</label>
    <mat-select
      id="organizationSelect"
      class="form-control"
      panelClass="overflow-x-hidden"
      [(value)]="iotDeviceUpdate.organizationId"
      [compareWith]="compare"
      (selectionChange)="onOrganizationChange()"
    >
      <mat-option *ngFor="let organization of organizations | async" [value]="organization.id">
        {{ organization.name }}
      </mat-option>
    </mat-select>
    <label class="form-label" for="organizationSelect">{{
      "IOTDEVICE.CHANGE-APPLICATION.CHOOSE-APPLICATION" | translate
    }}</label>
    <mat-select
      id="applicationSelect"
      class="form-control"
      panelClass="overflow-x-hidden"
      [(value)]="iotDeviceUpdate.applicationId"
      [compareWith]="compare"
      (selectionChange)="onApplicationChange()"
    >
      <mat-option *ngFor="let application of filteredApplications | async" [value]="application.id">
        {{ application.name }}
      </mat-option>
    </mat-select>
    <label class="form-label" for="organizationSelect">{{
      "IOTDEVICE.CHANGE-APPLICATION.CHOOSE-DEVICE-MODEL" | translate
    }}</label>
    <mat-select
      id="deviceModelSelect"
      class="form-control"
      panelClass="overflow-x-hidden"
      [(value)]="iotDeviceUpdate.deviceModelId"
      [compareWith]="compare"
    >
      <mat-option *ngFor="let deviceModel of deviceModels" [value]="deviceModel.id">
        {{ deviceModel.body.name }}
      </mat-option>
    </mat-select>
  </div>

  <div class="container row" class="mt-3" mat-dialog-content>
    <a (click)="addRow()" class="btn btn-secondary my-2 mb-3 mt-3">{{
      "IOTDEVICE.CHANGE-APPLICATION.CHOOSE-DATA-TARGET" | translate
    }}</a>
    <ng-container *ngIf="payloadDecoders && iotDeviceUpdate.dataTargetToPayloadDecoderIds?.length > 0">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr
            *ngFor="let element of iotDeviceUpdate.dataTargetToPayloadDecoderIds; let i = index"
            [attr.data-index]="i"
          >
            <td>
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>{{ "IOTDEVICE.CHANGE-APPLICATION.ADD-DATA-TARGET" | translate }}</mat-label>
                  <mat-select name="dataTarget" [(value)]="element.dataTargetId">
                    <mat-option *ngFor="let dataTarget of dataTargets" [value]="dataTarget.id">{{
                      dataTarget.name
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="row">
                <mat-form-field appearance="fill">
                  <mat-label>{{ "QUESTION.DATATARGET.SELECT-PAYLOADDECODER" | translate }}</mat-label>
                  <mat-select matNativeControl name="payloadDecoder" [(value)]="element.payloadDecoderId">
                    <mat-option [value]="0">
                      {{ "QUESTION.DATATARGET.NO-PAYLOAD-DECODER-SELECTED" | translate }}
                    </mat-option>
                    <mat-option *ngFor="let payloadDecoder of payloadDecoders" [value]="payloadDecoder.id">
                      {{ payloadDecoder.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </td>
            <td>
              <a (click)="deleteRow(i)">
                <div class="text-center m-2">
                  <fa-icon [icon]="faTimesCircle"></fa-icon>
                  <p>{{ "DATATARGET.DELETE" | translate }}</p>
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>

  <div mat-dialog-actions class="d-flex flex-row mat-dialog-actions">
    <button (click)="onSubmit()" class="btn btn-primary">
      {{ "GEN.SAVE" | translate }}
    </button>
    <button mat-dialog-close [mat-dialog-close]="false" class="btn btn-secondary ml-2">
      {{ "GEN.CANCEL" | translate }}
    </button>
  </div>
</div>
