@if (device) {
  <div>
    <app-top-bar
      (deleteSelectedInDropdown)="clickDelete()"
      (extraDropdownOptions)="clickExtraDropdownOption($event)"
      [addDetailDowndown]="true"
      [backButton]="backButton"
      [canEdit]="canEdit"
      [data]="device"
      [dropDownButton]="dropdownButton"
      [subPage]="true"
    >
    </app-top-bar>
    <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
      @for (link of navTabs; track link) {
        <a
          #rla="routerLinkActive"
          [active]="rla.isActive"
          [routerLink]="link.link"
          mat-tab-link
          routerLinkActive
        >{{ link.label | translate }}</a
        >
      }
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <router-outlet></router-outlet>
  </div>
}
