<app-form-header [backButton]="backButton" [title]="title">
</app-form-header>
<form (ngSubmit)="onSubmit()" class="os2-form mt-3 px-md-5 py-md-4">
    <div *ngIf="errorMessages" class="error-messages p-3">
        <ul class="mb-0">
            <div *ngIf="errorMessages">
                <li  *ngFor="let error of errorMessages">
                    {{error}}
                  </li>
            </div>
            <li *ngIf="errorMessage">
                {{errorMessage}}
            </li>
        </ul>
    </div>
    <!-- Service-profile name
            A name to identify the service-profile. -->
    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="name"
                class="form-label asterisk-if-mandatory">{{'PROFILES.SERVICE_PROFILE.NAME' | translate}}</label>
            <input type="text" class="form-control" id="name" name="name"
                [placeholder]="'PROFILES.SERVICE_PROFILE.NAME_PLACEHOLDER' | translate" maxlength="50" required
                [(ngModel)]="serviceProfile.name"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('name'), 'is-valid' : formFailedSubmit && !errorFields.includes('name')}">
        </div>
    </div>

    <!-- Device-status request frequency
                Frequency to initiate an End-Device status request (request/day). Set to 0 to disable.
              -->
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name" class="form-label">{{'PROFILES.SERVICE_PROFILE.DEVICEFREQUENCY' | translate}}</label>
                <input type="text" id="devStatusReqFreq" name="devStatusReqFreq" class="form-control" [placeholder]="0"
                    [(ngModel)]="serviceProfile.devStatusReqFreq" step=".000001" min="-180" max="180" maxlength="9"
                    [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('devStatusReqFreq'), 'is-valid' : formFailedSubmit && !errorFields.includes('devStatusReqFreq')}"
                    (keyup)="onCoordinateKey($event)" />
                <label>{{'PROFILES.SERVICE_PROFILE.DEVICEFREQUENCYEXPLANIED' | translate}}</label>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="dlRatePolicy" class="form-label">{{'PROFILES.SERVICE_PROFILE.DLRATEPOLICY' | translate}}</label>
                <input type="text" id="dlRatePolicy" name="dlRatePolicy" class="form-control" [placeholder]="0" maxlength="1024"
                [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('dlRatePolicy'), 'is-valid' : formFailedSubmit && !errorFields.includes('dlRatePolicy')}"
                    [(ngModel)]="serviceProfile.dlRatePolicy" maxlength="1024"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="ulRatePolicy" class="form-label">{{'PROFILES.SERVICE_PROFILE.ULRATEPOLICY' | translate}}</label>
                <input type="text" id="ulRatePolicy" name="ulRatePolicy" class="form-control" [placeholder]="0" maxlength="1024"
                    [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('ulRatePolicy'), 'is-valid' : formFailedSubmit && !errorFields.includes('ulRatePolicy')}"
                    [(ngModel)]="serviceProfile.ulRatePolicy" maxlength="1024"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="channelMask" class="form-label">{{'PROFILES.SERVICE_PROFILE.CHANNELMASK' | translate}}</label>
                <input type="text" id="channelMask" name="channelMask" class="form-control" [placeholder]="0"
                    [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('channelMask'), 'is-valid' : formFailedSubmit && !errorFields.includes('channelMask')}"
                    [(ngModel)]="serviceProfile.channelMask" maxlength="1024"/>
            </div>
        </div>
    </div> -->

    <!-- Checkbox
                Report device battery level to application-server
               -->
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <mat-checkbox id="reportDevStatusBattery" name="reportDevStatusBattery"
                    [(ngModel)]="serviceProfile.reportDevStatusBattery">
                    <label for="name" class="form-check-label text--bold"
                        style="white-space: initial">{{'PROFILES.SERVICE_PROFILE.REPORTBATTERYSTATUS' | translate}}</label>
                </mat-checkbox>
            </div>
        </div>
    </div>



    <!-- Checkbox
                Report device link margin to application-server
               -->
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <mat-checkbox id="reportDevStatusMargin" name="reportDevStatusMargin"
                    [(ngModel)]="serviceProfile.reportDevStatusMargin">
                    <label for="name" class="form-check-label text--bold"
                        style="white-space: initial">{{'PROFILES.SERVICE_PROFILE.REPORTBATTERYMARGIN' | translate}}</label>
                </mat-checkbox>
            </div>
        </div>
    </div>



    <!-- DR MIN & MAX RATE -->
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="name" class="form-label">{{'PROFILES.SERVICE_PROFILE.DRRATEMIN' | translate}}</label>
                <input type="number" id="drMin" name="drMin" class="form-control" [(ngModel)]="serviceProfile.drMin"
                    [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('drMin'), 'is-valid' : formFailedSubmit && !errorFields.includes('drMin')}"
                    step="0" min="-180" max="180" maxlength="9" (keyup)="onCoordinateKey($event)" [placeholder]="0" />
                <label>{{'PROFILES.SERVICE_PROFILE.DRRATEMINEXPLAINED' | translate}}</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="name" class="form-label">{{'PROFILES.SERVICE_PROFILE.DRRATEMAX' | translate}}</label>
                <input type="number" id="drMax" name="drMax" class="form-control" [(ngModel)]="serviceProfile.drMax"
                    [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('drMax'), 'is-valid' : formFailedSubmit && !errorFields.includes('drMax')}"
                    step="0" min="-180" max="180" maxlength="9" (keyup)="onCoordinateKey($event)" [placeholder]="0" />
                <Label>{{'PROFILES.SERVICE_PROFILE.DRRATEMAXEXPLAINED' | translate}}</Label>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row mt-5">
        <div class="col-xs-12">
            <div class="float-right">
                <button type="button" class="btn btn-light" (click)="routeBack()">
                    {{'PROFILES.SERVICE_PROFILE.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn btn-dark ml-3" [disabled]="!'is-valid'">
                    {{'PROFILES.SERVICE_PROFILE.SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>

</form>