@import "src/assets/scss/setup/breakpoints";
@import "src/assets/scss/setup/variables";

#content {
  @media (min-width: $screen-md-min) {
    padding-left: 0;
    transition: padding-left 0.3s ease-in-out;
    &.nav-visible {
      padding-left: $navWidth;
    }
  }
}
