@import "src/assets/scss/setup/breakpoints";
@import "src/assets/scss/setup/variables";

#content {
  transition: margin-left 0.3s ease;

  @media (min-width: $screen-md-min) {
    padding-left: 0;

    &.nav-visible {
      padding-left: $navWidth;
    }
  }
}
