<div *ngIf="gateway">
  <app-top-bar-single [data]="gateway" [backButton]="backButton" [buttons]="buttons"></app-top-bar-single>
  <div class="application-component">
    <div class="col-12 mb-4 py-3 bottom-separator">
      <div class="col-12 col-sm-12">
            <div class="col-12 col-sm-12">
                <h4>{{ 'GATEWAY.NAME' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <p>{{gateway.name}}</p>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="col-12 col-sm-12">
                <h4>{{ 'GATEWAY.DESCRIPTION' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <p>{{gateway.description}}</p>
            </div>
        </div>

        <div class="col-12 py-4">
            <div class="col-12 col-sm-4">
                <h4>{{ 'GATEWAY.ID' | translate }}</h4>
            </div>
            <div class="col-12 pt-2 col-sm-8">
                <p>{{gateway.id}}</p>
            </div>
        </div>
        <div class="col-12 py-4">
            <div class="col-12 col-sm-4 pb-2">
                <h4>{{ 'GATEWAY.LOCATION' | translate }}</h4>
            </div>
            <div *ngIf="gateway.location; then locationThenBlock else locationElseBlock"></div>
            <ng-template #locationThenBlock>
                <div>
                    <div class="col-4">
                        <h5>{{ 'GATEWAY.LONGITUDE' | translate }}</h5>
                        <p>{{gateway.location?.longitude}}</p>
                    </div>
                    <div class="col-4">
                        <h5>{{ 'GATEWAY.LATITUDE' | translate }}</h5>
                        <p>{{gateway.location.latitude}}</p>
                    </div>
                    <div class="col-4">
                      <h5>{{ 'GATEWAY.ALTITUDE' | translate }}</h5>
                      <p>{{gateway.location.altitude}}</p>
                  </div>
                </div>
            </ng-template>
            <ng-template #locationElseBlock>
                <p>{{ 'GATEWAY.NOLOCATION' | translate}}</p>
            </ng-template>
        </div>
        <div class="col-12 py-4">
          <div class="col-12 col-sm-4">
              <h4>{{ 'GATEWAY.TAGS' | translate }}</h4>
          </div>
          <div class="col-12 pt-2 col-sm-8">
              <p>{{gateway.tagsString}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
