<div class="mat-elevation-z8 row table">
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{ "SIGFOX-GROUP.PROFILES.DEVICE-TYPE-NAME" | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="[element.id, 'edit-device-type']" class="device-link" routerLinkActive="active">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="alertEmail">
      <th *matHeaderCellDef mat-header-cell>{{ "SIGFOX-GROUP.PROFILES.DEVICE-TYPE-ALERT-EMAIL" | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.alertEmail }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="editDeviceType(row)" *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>
