<p>
  <strong>{{ "IOTDEVICE.MQTT.URL" | translate }}</strong
  >{{ device.mqttInternalBrokerSettings.mqttURL }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.PORT" | translate }}</strong
  >{{ device.mqttInternalBrokerSettings.mqttPort }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.TOPIC_NAME" | translate }}</strong
  >{{ device.mqttInternalBrokerSettings.mqtttopicname }}
</p>

@if (device.mqttInternalBrokerSettings.authenticationType === AuthenticationType.PASSWORD) {
  <p>
    <strong>{{ "QUESTION.MQTT.USERNAME-LABEL" | translate }}</strong
    >{{ device.mqttInternalBrokerSettings.mqttusername }}
  </p>
}
<p>
  <strong>{{ "QUESTION.MQTT.CA-CERTIFICATE" | translate }}</strong>
  <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.caCertificate" class="btn">
    {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
  </button>
  <button (click)="downloadCaCertificate(device.mqttInternalBrokerSettings.caCertificate, 'ca.crt')" class="btn ml-2">
    {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
  </button>
  <textarea [readOnly]="true" class="form-control mt-1">{{ device.mqttInternalBrokerSettings.caCertificate }}</textarea>
</p>
@if (device.mqttInternalBrokerSettings.authenticationType === AuthenticationType.CERTIFICATE) {
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE" | translate }}</strong>
    <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.deviceCertificate" class="btn">
      {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
    </button>
    <button
      (click)="downloadCaCertificate(device.mqttInternalBrokerSettings.deviceCertificate, device.name + '.crt')"
      class="btn ml-2"
    >
      {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
    </button>
    <textarea [readOnly]="true" class="form-control mt-1">{{
        device.mqttInternalBrokerSettings.deviceCertificate
      }}</textarea>
  </p>
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE-KEY" | translate }}</strong>
    <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.deviceCertificateKey" class="btn">
      {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
    </button>
    <button
      (click)="downloadCaCertificate(device.mqttInternalBrokerSettings.deviceCertificateKey, device.name + '.key')"
      class="btn ml-2"
    >
      {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
    </button>
    <textarea [readOnly]="true" class="form-control mt-1">{{
        device.mqttInternalBrokerSettings.deviceCertificateKey
      }}</textarea>
  </p>
}
