<p>
    <strong>{{ "IOTDEVICE.MQTT.URL" | translate }}</strong
    >{{ device.mqttInternalBrokerSettings.mqttURL }}
</p>
<p>
    <strong>{{ "IOTDEVICE.MQTT.PORT" | translate }}</strong
    >{{ device.mqttInternalBrokerSettings.mqttPort }}
</p>
<p>
    <strong>{{ "IOTDEVICE.MQTT.TOPIC_NAME" | translate }}</strong
    >{{ device.mqttInternalBrokerSettings.mqtttopicname }}
</p>

<ng-container *ngIf="device.mqttInternalBrokerSettings.authenticationType === AuthenticationType.PASSWORD">
    <p>
        <strong>{{ "QUESTION.MQTT.USERNAME-LABEL" | translate }}</strong
        >{{ device.mqttInternalBrokerSettings.mqttusername }}
    </p>
</ng-container>
<p>
    <strong>{{ "QUESTION.MQTT.CA-CERTIFICATE" | translate }}</strong>
    <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.caCertificate" class="btn">
        {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
    </button>
    <button class="btn ml-2" (click)="downloadCaCertificate(device.mqttInternalBrokerSettings.caCertificate, 'ca.crt')">
        {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
    </button>
    <textarea class="form-control mt-1" [readOnly]="true">{{
        device.mqttInternalBrokerSettings.caCertificate
    }}</textarea>
</p>
<ng-container *ngIf="device.mqttInternalBrokerSettings.authenticationType === AuthenticationType.CERTIFICATE">
    <p>
        <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE" | translate }}</strong>
        <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.deviceCertificate" class="btn">
            {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
        </button>
        <button
            class="btn ml-2"
            (click)="downloadCaCertificate(device.mqttInternalBrokerSettings.deviceCertificate, device.name + '.crt')"
        >
            {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
        </button>
        <textarea class="form-control mt-1" [readOnly]="true">{{
            device.mqttInternalBrokerSettings.deviceCertificate
        }}</textarea>
    </p>
    <p>
        <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE-KEY" | translate }}</strong>
        <button [cdkCopyToClipboard]="device.mqttInternalBrokerSettings.deviceCertificateKey" class="btn">
            {{ "IOTDEVICE.MQTT.COPY-TO-CLIPBOARD" | translate }}
        </button>
        <button
            class="btn ml-2"
            (click)="
                downloadCaCertificate(device.mqttInternalBrokerSettings.deviceCertificateKey, device.name + '.key')
            "
        >
            {{ "IOTDEVICE.MQTT.DOWNLOAD" | translate }}
        </button>
        <textarea class="form-control mt-1" [readOnly]="true">{{
            device.mqttInternalBrokerSettings.deviceCertificateKey
        }}</textarea>
    </p>
</ng-container>
