@import '~src/assets/scss/setup/breakpoints';
@import '~src/assets/scss/setup/variables';

.forms-header {
  background-color: $white;
  font-size: 14px;
  line-height: 16px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: roboto;
  border-bottom: $grey-border solid 1px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11),
    0px 1px 16px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11),
    0px 1px 16px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.11),
    0px 1px 16px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.22);

  >* {
    padding: 0.5rem 1rem;
    color: $black-light;
  }

  .form-step-title {
    font-size: 20px;
    line-height: 32px;
    color: $grey-dark;
  }

  .btn-step {
    background-color: $grey;
    border-color: $grey;
    color: $white;
    font-family: roboto-bold;
    padding: 0;
    margin-top: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;

    &.active {
      background-color: $grey-dark;
      border-color: $grey-dark;
      width: 28px;
      height: 28px;
      line-height: 28px;
      margin-top: 2px;
      font-size: 18px;
    }
  }
}
