<form>
  <div class="row mb-5">
    <h3>{{'QUESTION.SIGFOX.TITLE' | translate}}</h3>
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="groupId">{{'QUESTION.SIGFOX.GROUPID' | translate}}*</label>
      <select id="groupId" class="form-select" name="groupId"
        [(ngModel)]="iotDevice.sigfoxSettings.groupId" required
        [value]="iotDevice.sigfoxSettings.groupId"
        (change)="onGroupChange()"
        [disabled]="editMode"
        [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('groupId'), 'is-valid' : formFailedSubmit && !errorFields.includes('groupId')}">
        <option *ngFor="let group of sigfoxGroups" [value]="group.id">
          {{group.sigfoxGroupData.name}}
        </option>
      </select>
  </div>
  <div *ngIf="iotDevice.sigfoxSettings.groupId">
    <div class="form-group mt-3 col-12" *ngIf="!editMode">
      <mat-slide-toggle [(ngModel)]="iotDevice.sigfoxSettings.connectToExistingDeviceInBackend" id="connectToExistingDeviceInBackend" name="registeredAtSigfox">
        {{'QUESTION.SIGFOX.CONNECTTOEXISTINGDEVICEINBACKEND' | translate}}</mat-slide-toggle>
    </div>
    <div *ngIf="!iotDevice.sigfoxSettings.connectToExistingDeviceInBackend || editMode">
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="deviceTypeId">{{'QUESTION.SIGFOX.DEVICETYPEID' | translate}}*</label>
        <select id="deviceTypeId" class="form-select" name="deviceTypeId"
          [(ngModel)]="iotDevice.sigfoxSettings.deviceTypeId" required
          [value]="iotDevice.sigfoxSettings.deviceTypeId"
          [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('deviceTypeId'), 'is-valid' : formFailedSubmit && !errorFields.includes('deviceTypeId')}">
          <option *ngFor="let deviceType of sigfoxDeviceTypes" [value]="deviceType.id">
            {{deviceType.name}}
          </option>
        </select>
      </div>
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="pac">{{'QUESTION.SIGFOX.PAC' | translate}}*</label>
        <input type="text" id="pac" name="pac" maxLength="16"
          [placeholder]="'QUESTION.SIGFOX.PAC-PLACEHOLDER' | translate" class="form-control"
          [(ngModel)]="iotDevice.sigfoxSettings.pac"
          [disabled]="editMode"
          [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('pac'), 'is-valid' : formFailedSubmit && !errorFields.includes('pac')}">
      </div>
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="deviceId">{{'QUESTION.SIGFOX.DEVICEID' | translate}}*</label>
        <input type="text" id="deviceId" name="deviceId" maxLength="8"
          [placeholder]="'QUESTION.SIGFOX.DEVICEID-PLACEHOLDER' | translate" class="form-control"
          [(ngModel)]="iotDevice.sigfoxSettings.deviceId"
          [disabled]="editMode"
          [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('deviceId'), 'is-valid' : formFailedSubmit && !errorFields.includes('deviceId')}">
      </div>
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="endProductCertificate">{{'QUESTION.SIGFOX.ENDPRODUCTCERTIFICATE' | translate}}*</label>
        <input type="text" id="endProductCertificate" name="endProductCertificate" maxLength="16"
          [placeholder]="'QUESTION.SIGFOX.ENDPRODUCTCERTIFICATE-PLACEHOLDER' | translate" class="form-control"
          [(ngModel)]="iotDevice.sigfoxSettings.endProductCertificate"
          [disabled]="editMode"
          [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('endProductCertificate'), 'is-valid' : formFailedSubmit && !errorFields.includes('endProductCertificate')}">
      </div>
      <div class="form-group mt-3 col-12">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h4> {{'QUESTION.SIGFOX.ENDPRODUCTCERTIFICATE-HELP-TITLE' | translate}}
                  </h4>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-group mt-3 col-12">
            <a href="https://support.sigfox.com/docs/product-certificate" target="_blank">
              {{'QUESTION.SIGFOX.ENDPRODUCTCERTIFICATE-HELP-TEXT' | translate}}
            </a>
          </div>  
          <div class="form-group mt-3 col-12" *ngIf="!iotDevice.sigfoxSettings.endProductCertificate">
            <label class="form-label" for="endProductCertificate">{{'QUESTION.SIGFOX.PROTOTYPE-TITLE' | translate}}*</label>
            <div>
              <mat-slide-toggle [(ngModel)]="iotDevice.sigfoxSettings.prototype" [disabled]="editMode" id="prototype" name="prototype">
                {{'QUESTION.SIGFOX.PROTOTYPE' | translate}}</mat-slide-toggle>
            </div>
          </div>
      </mat-expansion-panel>
      </div>
    </div>
    <div *ngIf="iotDevice.sigfoxSettings.connectToExistingDeviceInBackend && !editMode">
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="deviceId">{{'QUESTION.SIGFOX.DEVICEID' | translate}}*</label>
          <select id="deviceId" class="form-select" name="deviceId"
            [(ngModel)]="iotDevice.sigfoxSettings.deviceId" required
            [value]="iotDevice.sigfoxSettings.deviceId"
            [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('deviceId'), 'is-valid' : formFailedSubmit && !errorFields.includes('deviceId')}">
            <option *ngFor="let element of sigfoxDevices" [value]="element.id">
              {{element.name}}
            </option>
          </select>
      </div>  
    </div>
    <div *ngIf="!iotDevice.sigfoxSettings.groupId">
      <h3>{{'QUESTION.SIGFOX.SELECTGROUPFIRST' | translate}}</h3>
    </div>
    <div class="form-group mt-3 col-12">
      {{'QUESTION.SIGFOX.DISCLAIMER' | translate}}
      <a href="https://support.sigfox.com/docs/unsubscribe-a-device" target="_blank">
        {{'QUESTION.SIGFOX.DISCLAIMER-CLICK' | translate}}
      </a>
    </div>
  </div>
</form>