@import '~src/assets/scss/setup/variables';

$online: $color-green-001;
$offline: $red;
$neverSeen: $color-grey-003;
$cellSize: 0.9rem;

.status-table {
  border-collapse: separate;
  border-spacing: 10px 4px;

  .online {
    background-color: $online;
  }
  .offline {
    background-color: $offline;
  }

  tr {
    &:hover {
      background-color: unset;
    }

    > td {
      font-size: $cellSize;
      &:hover {
        transition: $transition-short;
        filter: brightness(0.65);
      }

      &.mat-cell {
        min-width: 1.2rem;

        &:not(:first-child) {
          max-width: 1.2rem;
        }

        &:first-child {
          padding-left: 0;
          min-width: 5rem;
        }

        &:last-child {
          max-width: 1.2rem;
          padding-right: 0;
        }
      }

      &.mat-footer-cell {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.status-legend {
  .legend {
    width: 5rem;
    height: 8px;

    &.online {
      background-color: $online;
    }
    &.offline {
      background-color: $offline;
    }
    &.never-seen {
      background-color: $neverSeen;
    }
  }

  span {
    color: rgba($color: #000, $alpha: 0.6);
  }
}

.margin-right--5 {
  margin-right: -1.5rem;
}
