<div class="d-flex mb-3">
  @if (title) {
    <h3 class="title">{{ title }}</h3>
  }
  <mat-select [(ngModel)]="selectedStatusInterval" class="form-control ms-auto status-interval" name="statusIntervals">
    @for (interval of statusIntervals; track interval) {
      <mat-option
        (onSelectionChange)="onSelectInterval($event)"
        [value]="interval"
      >
        {{ "LORA-GATEWAY-STATUS.INTERVAL." + interval | translate }}
      </mat-option>
    }
  </mat-select>
</div>
<div class="overflow-auto">
  @if (isLoadingResults) {
    <div class="loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  } @if (dataSource?.data.length && timeColumns.length) {
  <table
    #gatewayStatus
    [dataSource]="dataSource"
    class="status-table"
    mat-table
  >
    <!-- Gateway name is the first column -->
    <ng-container [sticky]="true" matColumnDef="gatewayName">
      <td *matCellDef="let element" mat-cell>
        @if (shouldLinkToDetails) {
          <a
            [routerLink]="'/gateways/gateway-detail/' + element.id"
            routerLinkActive="active"
          >{{ element.name }}</a
          >
        } @if (!shouldLinkToDetails) {
        <span class="text--semibold">{{ element.name }}</span>
      }
      </td>
      <td *matFooterCellDef class="text--semibold" mat-footer-cell>
        {{ "GEN.DATE" | translate }}
        <br/>
        {{ "LORA-GATEWAY-STATUS.TIMESTAMP" | translate }}
      </td>
    </ng-container>
    <!-- Timestamp columns which are dynamically generated -->
    @for (time of timeColumns; track time; let index = $index) {
      <ng-container matColumnDef="{{ time.exactTimestamp }}">
        <td
          *matCellDef="let gateway"
          [matTooltipClass]="'status-tooltip'"
          [matTooltip]="
          !!gateway.statusTimestamps.length
            | gatewayStatusTooltip : neverSeenText : timestampText : time.tooltip : nameText : gateway.name
        "
          [ngClass]="gateway.statusTimestamps | gatewayStatusClass : time.exactTimestamp"
          mat-cell
        ></td>
        <td
          *matFooterCellDef="let gateway"
          [ngClass]="{ invisible: index % visibleFooterTimeInterval, 'text-center': true, 'text-nowrap': true }"
          mat-footer-cell
        >
          {{ time.datePart }}
          <br/>
          {{ time.timePart }}
        </td>
      </ng-container>
    }
    <!-- The columns for a row must be an array of simple types (string, number, ...) -->
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
  </table>
} @else {
  @if (!isLoadingResults) {
    <p>{{ "GEN.NO-DATA" | translate }}</p>
  }
}
</div>
<mat-paginator
  [length]="resultsLength"
  [ngClass]="paginatorClass"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  showFirstLastButtons
>
</mat-paginator>
<div class="status-legend d-flex flex-row mt-3">
  <div class="d-flex flex-column">
    <div class="legend online"></div>
    <span class="text-center">{{ "GEN.ONLINE" | translate }}</span>
  </div>
  <div class="d-flex flex-column">
    <div class="legend offline"></div>
    <span class="text-center">{{ "GEN.OFFLINE" | translate }}</span>
  </div>
  <div class="d-flex flex-column">
    <div class="legend never-seen"></div>
    <span class="text-center">{{ "GEN.NEVER-SEEN" | translate }}</span>
  </div>
</div>
