@if (latestReceivedMessage) {
  <mat-expansion-panel class="my-2 mx-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          <strong>{{ "IOTDEVICE.LATEST-DATAPACKAGE" | translate }}</strong>
          {{ latestReceivedMessage.sentTime | tableDateWithSecondsPipe }}
        </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    @if (latestReceivedMessage.rawData) {
      <code>
        <pre>{{ latestReceivedMessage.rawData | json }}</pre>
      </code>
    }
  </mat-expansion-panel>
} @else {
  <p class="my-2 mx-3">
    {{ "IOTDEVICE.NO-DATAPACKAGE" | translate }}
  </p>
}
