<div class="mat-elevation-z8 datatarget-log-container">
  @if (isLoadingResults) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }

  <table [dataSource]="dataSource" mat-table matSort matSortActive="createdAt" matSortDirection="desc">
    <!-- Timestamp column -->
    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ "GATEWAY.STATS-TIMESTAMP" | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.createdAt | date:'dd-MM-yyyy - HH:mm:ss' }}</td>
    </ng-container>

    <!-- Type column -->
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ "DATATARGET-TABLE.TYPE" | translate }}</th>
      <td *matCellDef="let element" mat-cell>
        @if (element.type === 'OK') {
          <fa-icon [icon]="faCheckCircle" class="fa-ok"></fa-icon>
        } @if (element.type === 'ERROR') {
        <fa-icon [icon]="faExclamationTriangle" class="fa-error"></fa-icon>
      }
        {{ ('DATATARGET.RESPONSE_TYPE.' + element.type) | translate }}
      </td>
    </ng-container>

    <!-- Message column -->
    <ng-container matColumnDef="message">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ "GEN.MESSAGE" | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.statusCode }} {{ element.message }}</td>
    </ng-container>

    <!-- Device column -->
    <ng-container matColumnDef="device">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ "GEN.DEVICE" | translate }}</th>
      <td *matCellDef="let element" mat-cell>{{ element.iotDevice?.name }}</td>
    </ng-container>

    <!-- Actually showing the data -->
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons>
  </mat-paginator>
</div>
