<div class="mat-elevation-z8 datatarget-log-container">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDirection="desc">
        <!-- Timestamp column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "GATEWAY.STATS-TIMESTAMP" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.createdAt | date:'dd-MM-yyyy - HH:mm:ss' }}</td>
        </ng-container>

        <!-- Type column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "DATATARGET-TABLE.TYPE" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ ('DATATARGET.RESPONSE_TYPE.' + element.type) | translate }}</td>
        </ng-container>

        <!-- Message column -->
        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "GEN.MESSAGE" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.statusCode }} {{ element.message }}</td>
        </ng-container>

        <!-- Device column -->
        <ng-container matColumnDef="device">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "GEN.DEVICE" | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.iotDevice?.name }}</td>
        </ng-container>

        <!-- Actually showing the data -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons>
    </mat-paginator>
</div>