<app-top-bar [canEdit]="canEdit" backButtonTitle="{{ 'NAV.DATATARGET' | translate }}" title="{{ title | translate }}">
</app-top-bar>

<!-- Foldable intro-texts -->
<div class="os2-form p-3 mt-4">
  <h3>{{ "GUIDE" | translate }}</h3>
  <mat-expansion-panel class="row mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          <strong>{{ "OPENDATADK.INTRO.GUIDE_HEADER" | translate }}</strong>
        </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ "OPENDATADK.INTRO.GUIDE1" | translate }}
      <br/><br/>
      {{ "OPENDATADK.INTRO.GUIDE2" | translate }}
      <br/><br/>
      {{ "OPENDATADK.INTRO.GUIDE3" | translate }}
      <br/><br/>
      {{ "OPENDATADK.INTRO.GUIDE4" | translate }}
      <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.da">{{
          "OPENDATADK.INTRO.GUIDE5" | translate
        }}</a>
      <br/><br/>
    </p>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel class="row mt-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          <strong>{{ "OPENDATADK.INTRO.PROCEDURE_HEADER" | translate }}</strong>
        </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ol>
      <li>
        <p>
          {{ "OPENDATADK.INTRO.PROCEDURE1" | translate }}
          <a href="https://www.opendata.dk/">https://www.opendata.dk/</a>
        </p>
      </li>
      <li>
        <p>{{ "OPENDATADK.INTRO.PROCEDURE2" | translate }}</p>
      </li>
      <li>
        <p>{{ "OPENDATADK.INTRO.PROCEDURE3" | translate }}</p>
      </li>
      <li>
        <p>
          {{ "OPENDATADK.INTRO.PROCEDURE4" | translate }}
          <a href="http://admin.opendata.dk/">{{ "OPENDATADK.INTRO.PROCEDURE4_LINK" | translate }}</a>
        </p>
      </li>
    </ol>
  </mat-expansion-panel>
</div>

<form #datatargetForm="ngForm" (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  <h3>{{ (datatargetId ? "FORM.EDIT-DATATARGET" : "FORM.CREATE-NEW-DATATARGET") | translate }}</h3>

  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>{{ error | translate }}</li>
        }
      </ul>
    </div>
  }

  <!-- Name of data target -->
  <div class="row mb-2 mt-4">
    <div class="form-group col-12">
      <label class="form-label" for="name"> {{ "QUESTION.GIVE-DATATARGET-NAME" | translate }}* </label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'QUESTION.GIVE-DATATARGET-NAME-INFO' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <input
        [(ngModel)]="datatarget.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'QUESTION.GIVE-DATATARGET-NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
  </div>

  <!-- OpenDataDK dataset title -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.name">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-NAME" | translate }}*
      </label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-NAME-INFO' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <input
        [(ngModel)]="datatarget.openDataDkDataset.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.name'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.name')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.name"
        maxlength="120"
        name="openDataDkDataset.name"
        required
        type="text"
      />
    </div>
  </div>

  <!-- OpenDataDK data source title -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.resourceTitle">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-RESOURCETITLE" | translate }}*
      </label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-RESOURCETITLE-INFO' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <input
        [(ngModel)]="datatarget.openDataDkDataset.resourceTitle"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.resourceTitle'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.resourceTitle')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-RESOURCETITLE-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.resourceTitle"
        maxlength="120"
        name="openDataDkDataset.resourceTitle"
        required
        type="text"
      />
    </div>
  </div>

  <!-- Description -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.description">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-DESCRIPTION" | translate }}*
      </label>
      <input
        [(ngModel)]="datatarget.openDataDkDataset.description"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.description'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.description')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-DESCRIPTION-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.description"
        name="openDataDkDataset.description"
        required
        type="text"
      />
    </div>
  </div>

  <!-- Dataset owner / auther -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.authorName">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-AUTHORNAME" | translate }}*
      </label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-AUTHORNAME-INFO' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <input
        [(ngModel)]="datatarget.openDataDkDataset.authorName"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.authorName'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.authorName')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-AUTHORNAME-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.authorName"
        name="openDataDkDataset.authorName"
        required
        type="text"
      />
    </div>
  </div>

  <!-- Email of dataset owner / auther -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.authorEmail">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-AUTHOR-EMAIL" | translate }}*
      </label>
      <input
        [(ngModel)]="datatarget.openDataDkDataset.authorEmail"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.authorEmail'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.authorEmail')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-AUTHOR-EMAIL-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.authorEmail"
        name="openDataDkDataset.authorEmail"
        required
        type="text"
      />
    </div>
  </div>

  <!-- Keywords -->
  <div class="row mb-2">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="openDataDkDataset.keywords">
        {{ "OPENDATADK.QUESTION.GIVE-OPENDATADK-KEYWORDS" | translate }}
      </label>
      <mat-select
        [(value)]="datatarget.openDataDkDataset.keywords"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('openDataDkDataset.keywords'),
          'is-valid': formFailedSubmit && !errorFields.includes('openDataDkDataset.keywords')
        }"
        [placeholder]="'OPENDATADK.QUESTION.GIVE-OPENDATADK-KEYWORDS-PLACEHOLDER' | translate"
        class="form-control"
        id="openDataDkDataset.keywords"
        multiple
        name="openDataDkDataset.keywords"
        required
      >
        @for (kw of selectableKeyword; track kw) {
          <mat-option [value]="kw">{{ kw }}</mat-option>
        }
      </mat-select>
    </div>
  </div>

  <!-- Terms and conditions checkmark -->
  <div class="row mt-3">
    <div class="col-12">
      <mat-checkbox [(ngModel)]="datatarget.openDataDkDataset.acceptTerms" name="acceptTerms">
        <p>
          {{ "OPENDATADK.QUESTION.ACCEPT-TERMS-PART-ONE" | translate }}
          <a href=" https://creativecommons.org/publicdomain/zero/1.0/deed.da">
            {{ "OPENDATADK.QUESTION.TERMS-AND-CONDITIONS" | translate }}
          </a>
        </p>
      </mat-checkbox>
    </div>
  </div>

  <!-- For new data-targets, we show the notification about auto-pairing with payload-decoders -->
  @if (datatargetId === 0) {
    <h6 class="mt-3">{{ "QUESTION.DATATARGET.RELATIONS" | translate }}</h6>
  }

  <!-- For existing data-targets, we show list of payload-decoders and button etc. for adding new -->
  <!-- TODO: Seems we have the exact same thing on HTTP, OpenDataDK, Fireware and MQTT... Why not make it a separate, re-usable component!? -->
  @if (datatargetId > 0) {
    <div class="container row" class="mt-3">
      <a (click)="addRow()" class="btn btn-secondary my-2 mb-3 mt-3">
        {{ "QUESTION.ADD-RELATIONS" | translate }}
      </a>
      @if (devices && payloadDecoders && payloadDeviceDatatarget?.length > 0) {
        <table class="table table-striped table-bordered">
          <tbody>
          @for (element of payloadDeviceDatatarget; track element; let i = $index) {
            <tr [attr.data-index]="i">
              <td>
                <div class="row">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ "QUESTION.DATATARGET.SELECT-DEVICES" | translate }}</mat-label>
                    <mat-select
                      [(value)]="element.iotDeviceIds"
                      [compareWith]="payloadDevicesDropdownCompare"
                      multiple
                      name="devices"
                    >
                      <mat-option class="filter-option" disabled="disabled">
                        <button (click)="selectAllDevices(i)" class="mat-primary fill text-sm" mat-raised-button>
                          {{ "QUESTION.DATATARGET.SELECTALLDEVICES" | translate }}
                        </button>
                        <button (click)="deSelectAllDevices(i)" class="mat-primary fill text-sm" mat-raised-button>
                          {{ "QUESTION.DATATARGET.DESELECTALLDEVICES" | translate }}
                        </button>
                      </mat-option>
                      @for (device of devices; track device) {
                        <mat-option [value]="device.id">{{ device.name }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="row">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ "QUESTION.DATATARGET.SELECT-PAYLOADDECODER" | translate }}</mat-label>
                    <mat-select [(value)]="element.payloadDecoderId" matNativeControl name="payloadDecoderId">
                      <mat-option [value]="0">
                        {{ "QUESTION.DATATARGET.NO-PAYLOAD-DECODER-SELECTED" | translate }}
                      </mat-option>
                      @for (payloadDecoder of payloadDecoders; track payloadDecoder) {
                        <mat-option [value]="payloadDecoder.id">
                          {{ payloadDecoder.name }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <a (click)="openDeleteDialog(i)">
                  <div class="text-center m-2">
                    <fa-icon [icon]="faTimesCircle"></fa-icon>
                    <p>{{ "DATATARGET.DELETE" | translate }}</p>
                  </div>
                </a>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  }

  <!-- Save and back-buttons -->
  <div class="form-group mt-5">
    <button (click)="routeToDatatargets()" class="btn btn-light" type="button">
      {{ "GEN.BACK" | translate }}
    </button>
    <button [disabled]="!datatarget?.openDataDkDataset?.acceptTerms" class="btn btn-primary ms-2" type="submit">
      {{ "DATATARGET.SAVE" | translate }}
    </button>
  </div>
</form>
