@import "src/assets/scss/setup/fonts";

:host {
  h3 {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 122, 47);
    width: fit-content;
    padding-right: 12px;
  }
  .form-info-icon {
    margin-left: 5px;
    cursor: pointer;
  }
  mat-expansion-panel ol {
    padding-left: 20px;
    li {
      font-family: $font-name, system;
      display: list-item;
    }
  }
}
