<form>
  <div class="row mb-5">
    <h3>{{ "QUESTION.MQTT.TITLE" | translate }}</h3>
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="subType">{{ "QUESTION.MQTT.SUBTYPE" | translate }}*</label>
    <fa-icon
      [icon]="faQuestionCircle"
      [matTooltip]="'QUESTION.MQTT.SUBTYPE-HOVER' | translate"
      class="form-info-icon"
      matTooltipHideDelay="2000"
      matTooltipPosition="above"
      matTooltipShowDelay="600"
    >
    </fa-icon>
    <select
      [(ngModel)]="iotDevice.type"
      [disabled]="editMode"
      [value]="iotDevice.type"
      class="form-select"
      id="subType"
      name="subType"
    >
      @for (type of mqttDeviceTypes; track type) {
        <option [value]="type">
          {{ "QUESTION.MQTT." + type | translate }}
        </option>
      }
    </select>
  </div>
  @if (iotDevice.type === DeviceType.MQTT_INTERNAL_BROKER) {
    <app-mqtt-authentication-select
      [editMode]="editMode"
      [errorFields]="errorFields"
      [formFailedSubmit]="formFailedSubmit"
      [settings]="iotDevice.mqttInternalBrokerSettings"
    ></app-mqtt-authentication-select>
  } @if (iotDevice.type === DeviceType.MQTT_EXTERNAL_BROKER) {
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="brokerUrl">{{ "QUESTION.MQTT.BROKER-URL" | translate }}*</label>
    <input
      [(ngModel)]="iotDevice.mqttExternalBrokerSettings.mqttURL"
      [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mqttURL'),
          'is-valid': formFailedSubmit && !errorFields.includes('mqttURL')
        }"
      [placeholder]="'QUESTION.MQTT.BROKER-URL-PLACEHOLDER' | translate"
      class="form-control"
      id="brokerUrl"
      name="brokerUrl"
      required
      type="text"
    />
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="brokerPort">{{ "QUESTION.MQTT.BROKER-PORT" | translate }}*</label>
    <input
      [(ngModel)]="iotDevice.mqttExternalBrokerSettings.mqttPort"
      [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mqttPort'),
          'is-valid': formFailedSubmit && !errorFields.includes('mqttPort')
        }"
      [placeholder]="'QUESTION.MQTT.BROKER-PORT-PLACEHOLDER' | translate"
      class="form-control"
      id="brokerPort"
      name="brokerPort"
      required
      type="number"
    />
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="topicPath">{{ "QUESTION.MQTT.TOPIC-PATH" | translate }}*</label>
    <input
      [(ngModel)]="iotDevice.mqttExternalBrokerSettings.mqtttopicname"
      [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mqtttopicname'),
          'is-valid': formFailedSubmit && !errorFields.includes('mqtttopicname')
        }"
      [placeholder]="'QUESTION.MQTT.TOPIC-PATH-PLACEHOLDER' | translate"
      class="form-control"
      id="topicPath"
      name="topicPath"
      required
      type="text"
    />
  </div>
  <app-mqtt-authentication-select
    [editMode]="editMode"
    [errorFields]="errorFields"
    [formFailedSubmit]="formFailedSubmit"
    [settings]="iotDevice.mqttExternalBrokerSettings"
  ></app-mqtt-authentication-select>
  @if (iotDevice.mqttExternalBrokerSettings.authenticationType === AuthenticationType.CERTIFICATE) {
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="caCertificate">{{ "QUESTION.MQTT.CA-CERTIFICATE" | translate }}*</label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'QUESTION.MQTT.CA-CERTIFICATE-HOVER' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <textarea
        [(ngModel)]="iotDevice.mqttExternalBrokerSettings.caCertificate"
        [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('caCertificate'),
            'is-valid': formFailedSubmit && !errorFields.includes('caCertificate')
          }"
        [placeholder]="'QUESTION.MQTT.CERTIFICATE-PLACEHOLDER' | translate"
        class="form-control"
        id="caCertificate"
        name="caCertificate"
        required
        type="text"
      ></textarea>
    </div>
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="deviceCertificate">{{ "QUESTION.MQTT.DEVICE-CERTIFICATE" | translate }}*</label>
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'QUESTION.MQTT.DEVICE-CERTIFICATE-HOVER' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <textarea
        [(ngModel)]="iotDevice.mqttExternalBrokerSettings.deviceCertificate"
        [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('deviceCertificate'),
            'is-valid': formFailedSubmit && !errorFields.includes('deviceCertificate')
          }"
        [placeholder]="'QUESTION.MQTT.CERTIFICATE-PLACEHOLDER' | translate"
        class="form-control"
        id="deviceCertificate"
        name="deviceCertificate"
        required
        type="text"
      ></textarea>
    </div>
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="deviceCertificateKey"
      >{{ "QUESTION.MQTT.DEVICE-CERTIFICATE-KEY" | translate }}*</label
      >
      <fa-icon
        [icon]="faQuestionCircle"
        [matTooltip]="'QUESTION.MQTT.DEVICE-CERTIFICATE-HOVER' | translate"
        class="form-info-icon"
        matTooltipHideDelay="2000"
        matTooltipPosition="above"
        matTooltipShowDelay="600"
      >
      </fa-icon>
      <textarea
        [(ngModel)]="iotDevice.mqttExternalBrokerSettings.deviceCertificateKey"
        [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('deviceCertificateKey'),
            'is-valid': formFailedSubmit && !errorFields.includes('deviceCertificateKey')
          }"
        [placeholder]="'QUESTION.MQTT.DEVICE-CERTIFICATE-KEY-PLACEHOLDER' | translate"
        class="form-control"
        id="deviceCertificateKey"
        name="deviceCertificateKey"
        required
        type="text"
      ></textarea>
    </div>
  }
} @if (iotDevice.mqttInternalBrokerSettings?.authenticationType === AuthenticationType.PASSWORD) {
  <div
    class="row mt-2"
  >
    <strong>OBS!</strong>
    <p>{{ "QUESTION.MQTT.CERTIFICATE-OBS" | translate }}</p>
  </div>
} @if (iotDevice.mqttExternalBrokerSettings?.authenticationType ||
iotDevice.mqttInternalBrokerSettings?.authenticationType) {
  <div
    class="row mt-2"
  >
    <p>{{ "QUESTION.MQTT.CONFIG-HELP" | translate }}</p>
  </div>
}
</form>
