<div class="main-container">
  @for (tab of tabs; track tab.title; let idx = $index) {
  <div [ngClass]="index === idx ? 'active-tap' : 'inactive-tap'" class="tap-base" (click)="onClick(tab.uri)">
    @if(tab.icon){
    <mat-icon [ngClass]="index === idx ? 'active-tap-icon' : 'inactive-tap-icon'" svgIcon="{{ tab.icon.matSVGSrc }}" />
    }
    {{ tab.title }}
    @for (counter of tab.counters; track counter; let idx = $index) {
    <div
      class="counter-base {{
        'counter-' + (counter.color === 'default' && index !== idx ? 'default-inactive' : counter.color)
      }}"
    >
      {{ counter.value }}
    </div>
    }
  </div>
  }
</div>
