.main-container {
  display: flex;
  height: 46px !important;
}
.tap-base {
  display: flex;
  height: 46px !important;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  font-size: 16px;
  padding: 0 20px;
}
.active-tap {
  background-color: #ffff !important;
  color: #404040;
  fill: #404040;
}
.inactive-tap {
  fill: black !important;
  color: black;
  background-color: transparent !important;
}
.active-tap-icon {
  color: #404040;
  width: 16px; //height
  margin-bottom: 5px;
}

.inactive-tap-icon {
  margin-bottom: 5px;
  width: 16px; //height
  color: black;
}
.counter-default {
  background-color: #404040;
}

.counter-warning {
  background-color: #fde047;
}

.counter-stable {
  background-color: #047857;
}

.counter-alert {
  background-color: #991b1b;
}
.counter-base {
  font-size: 14px;
  padding: 0 5px;
  padding-top: 1px;
  border-radius: 10px;
  height: 16px;
  min-width: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 3px;
  color: #ffff;
}
