<div class="main-container">
  @for (tap of taps; track tap.title; let idx = $index) {
  <div [ngClass]="index === idx ? 'active-tap' : 'inactive-tap'" class="tap-base" (click)="onClick(idx)">
    @if(tap.matIconName){
    <mat-icon [ngStyle]="currentStyles" fontIcon="{{ tap.matIconName }}" />
    }
    {{ tap.title }}
    @for (counter of tap.counters; track counter; let idx = $index) {
    <div class="counter-base {{ 'counter-' + counter.color }}">
      {{ counter.value }}
    </div>
    }
  </div>
  }
</div>
