<div class="main-container">
  <div class="select-container">
    <mat-form-field appearance="outline">
      <mat-select (selectionChange)="onSelected($event)" [(value)]="selected">
        <option value=""></option>
        @for (option of options; track option) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-icon class="icon-arrow-down" svgIcon="down-angle"></mat-icon>
  </div>
  <div class="button-container">
    <button
      (click)="onLeft()"
      [disabled]="currentPage <= 1"
      [ngClass]="currentPage <= 1 ? 'inactive-color' : 'active-color'"
      class="arrow-button"
      mat-button
    >
      <mat-icon class="icon-arrow-left" svgIcon="left-angle"></mat-icon>
    </button>
    <div class="pages-of">
      {{ currentPage + " / " + numberOfPages }}
    </div>
    <button
      (click)="onRight()"
      [disabled]="!hasNextPage"
      [ngClass]="!hasNextPage ? 'inactive-color' : 'active-color'"
      class="arrow-button"
      mat-button
    >
      <mat-icon class="icon-arrow-right" svgIcon="right-angle"></mat-icon>
    </button>
  </div>
  <div class="spacer"></div>
</div>
