<app-top-bar [pageLimit]="pageLimit" [title]="'NAV.LORA-GATEWAYS' | translate"
  [ctaLabel]="'FORM.CREATE-NEW-LORA-GATEWAY' | translate" [ctaRouterLink]="'gateway-edit'"
  [canEdit]="canEdit">
</app-top-bar>
<div class="container-fluid">
  <div class="jumbotron">
    <app-top-bar-table [component]="true" [addDropdown]="true" [options]="organisations"
      [dropdownLabel]="'GATEWAY.DROPDOWNFILTER' | translate" (updateSelectedOpt)="setOrgIdFilter($event)"
      [dropdownDefaultOption]="'GATEWAY.DROPDOWNDEFAULT' | translate">
    </app-top-bar-table>
    <mat-tab-group animationDuration="200ms" (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="{{'GATEWAY.TABEL-TAB' | translate}}">
        <div class="jumbotron--table">
          <app-gateway-table [organisationChangeSubject]="organisationChangeSubject">
          </app-gateway-table>
        </div>
      </mat-tab>
      <mat-tab label="{{'GATEWAY.MAP-TAB' | translate}}">
        <div class="jumbotron--table" *ngIf="showmap && gateways">
          <app-map [coordinateList]="coordinateList">
          </app-map>
        </div>
      </mat-tab>
      <mat-tab label="{{'LORA-GATEWAY-TABLE.STATUS' | translate}}">
        <div class="jumbotron--table">
          <app-gateway-status [organisationChangeSubject]="organisationChangeSubject"
            [isVisibleSubject]="isGatewayStatusVisibleSubject"></app-gateway-status>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
