@import '~src/assets/scss/variables';

.application-component {
    .bottom-separator {
        min-height: 60px;
        border-bottom: $grey-separator solid 1px;
        
        @include media-breakpoint-up(md) {
            min-height: 150px;
        }
    }
}