<app-top-bar></app-top-bar>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1>
          {{ "NEW_USER.FIRST_LOGIN" | translate }}
        </h1>
        <form #newUserForm="ngForm" (ngSubmit)="onSubmit()">
          @if (errorMessages || errorMessage) {
            <div class="error-messages p-3">
              <ul class="mb-0">
                @for (error of errorMessages; track error) {
                  <li>
                    {{ error | translate }}
                  </li>
                } @if (errorMessage) {
                <li>
                  {{ errorMessage | translate }}
                </li>
              }
              </ul>
            </div>
          }
          <div class="form-group mt-3">
            <label class="form-label" for="createNewKombitUserDto.email">{{ "USERS.EMAIL" | translate }}</label
            >*

            <input
              [(ngModel)]="createNewKombitUserFromFrontend.email"
              [ngClass]="{
                'is-invalid': formFailedSubmit && errorFields.includes('email'),
                'is-valid': formFailedSubmit && !errorFields.includes('email')
              }"
              class="form-control"
              id="email"
              maxlength="50"
              name="email"
              required
              type="email"
            />
          </div>

          <div class="form-group mt-3 mb-5">
            <label class="form-label" for="new-organisations">{{ "NAV.ORGANISATIONS" | translate }}</label
            >*
            <mat-select
              [(ngModel)]="createNewKombitUserFromFrontend.requestedOrganizations"
              [compareWith]="compare"
              [multiple]="true"
              [placeholder]="'NAV.ORGANISATIONS' | translate"
              aria-required="true"
              class="form-control"
              name="new-organisations"
              panelClass="overflow-x-hidden"
            >
              <app-mat-select-search
                [formControl]="organisationsFilterCtrl"
              ></app-mat-select-search>

              @for (org of filteredOrganisations | async; track org) {
                <mat-option [value]="org">{{ org.name }}</mat-option>
              }
            </mat-select>
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">
              {{ "USERS.SAVE" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
