<form #applicationForm="ngForm" (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>
            {{ error | translate }}
          </li>
        }
      </ul>
    </div>
  }
  <div class="row">
    <div class="form-group mt-3">
      <label class="form-label" for="name">{{ "GEN.NAME" | translate }}*</label>

      <input
        [(ngModel)]="application.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'QUESTION.APPLICATION.NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="description">{{ "GEN.DESCRIPTION" | translate }}</label>
      <textarea
        [(ngModel)]="application.description"
        [maxLength]="1024"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('description'),
          'is-valid': formFailedSubmit && !errorFields.includes('description')
        }"
        [placeholder]="'QUESTION.APPLICATION.DESCRIPTION-PLACEHOLDER' | translate"
        [rows]="6"
        class="form-control"
        id="description"
        name="description"
      ></textarea>
    </div>

    <div class="form-group mt-3 col-12">
      <label class="form-label" for="userGroup">{{ "QUESTION.APPLICATION.ADD-PERMISSION" | translate }}</label>
      <mat-select
        [(value)]="application.permissionIds"
        [compareWith]="compare"
        [formControl]="permissionMultiCtrl"
        [multiple]="true"
        class="form-control"
        id="userGroup"
        panelClass="overflow-x-hidden"
      >
        <app-mat-select-search
          [formControl]="permissionMultiFilterCtrl"
          [initialValues]="this.application.permissionIds"
        ></app-mat-select-search>
        @for (permission of filteredPermissionsMulti | async; track permission) {
          <mat-option [value]="permission.id">
            {{ permission.name }}
          </mat-option>
        }
      </mat-select>
      <mat-hint>{{ "QUESTION.APPLICATION.PERMISSION-HINT" | translate }}</mat-hint>
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="application.statusOptions">{{
          "APPLICATION.METADATA-FIELD.STATUS" | translate
        }}</label>
      <mat-select
        [(ngModel)]="application.status"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.status'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.status')
        }"
        class="form-control"
        id="application.statusOptions"
        name="application.statusOptions"
      >
        @for (statusOption of statuses; track statusOption) {
          <mat-option [value]="statusOption.value">
            {{ statusOption.label }}
          </mat-option>
        }
      </mat-select>
    </div>

    <div class="form-group mt-3 flexDirectionColumn">
      <label class="form-label" for="application.startDate">{{
          "APPLICATION.METADATA-FIELD.START-DATE" | translate
        }}</label>
      <mat-form-field appearance="outline" id="application.startDate">
        <mat-label>{{ "QUESTION.APPLICATION.START-DATE-PLACEHOLDER" | translate }}</mat-label>
        <input
          [formControl]="serializedStartDate"
          [matDatepicker]="startDatePicker"
          [max]="serializedEndDate.value"
          [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('application.startDate'),
            'is-valid': formFailedSubmit && !errorFields.includes('application.startDate')
          }"
          matInput
        />
        <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker panelClass="datepicker-table-fix"></mat-datepicker>
        <mat-hint>{{ "QUESTION.APPLICATION.DATE-HINT" | translate }}</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group mt-3 flexDirectionColumn">
      <label class="form-label" for="application.endDate">{{
          "APPLICATION.METADATA-FIELD.END-DATE" | translate
        }}</label>
      <mat-form-field appearance="outline" id="application.endDate">
        <mat-label>{{ "QUESTION.APPLICATION.END-DATE-PLACEHOLDER" | translate }}</mat-label>
        <input
          [formControl]="serializedEndDate"
          [matDatepicker]="endDatePicker"
          [min]="serializedStartDate.value"
          [ngClass]="{
            'is-invalid': formFailedSubmit && errorFields.includes('application.endDate'),
            'is-valid': formFailedSubmit && !errorFields.includes('application.endDate')
          }"
          matInput
        />
        <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker panelClass="datepicker-table-fix"></mat-datepicker>
        <mat-hint>{{ "QUESTION.APPLICATION.DATE-HINT" | translate }}</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="category">{{ "APPLICATION.METADATA-FIELD.CATEGORY" | translate }}</label>
      <input
        [(ngModel)]="application.category"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.category'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.category')
        }"
        [placeholder]="'QUESTION.APPLICATION.CATEGORY-PLACEHOLDER' | translate"
        class="form-control"
        id="category"
        maxlength="100"
        name="category"
        type="text"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="owner">{{ "APPLICATION.METADATA-FIELD.OWNER" | translate }}</label>
      <input
        [(ngModel)]="application.owner"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.owner'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.owner')
        }"
        [placeholder]="'QUESTION.APPLICATION.OWNER-PLACEHOLDER' | translate"
        class="form-control"
        id="owner"
        maxlength="100"
        name="owner"
        type="text"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="contactPerson">{{
          "APPLICATION.METADATA-FIELD.CONTACT-PERSON" | translate
        }}</label>
      <input
        [(ngModel)]="application.contactPerson"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.contactPerson'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.contactPerson')
        }"
        [placeholder]="'QUESTION.APPLICATION.CONTACT-PERSON-PLACEHOLDER' | translate"
        class="form-control"
        id="contactPerson"
        maxlength="100"
        name="contactPerson"
        type="text"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="contactEmail">{{ "APPLICATION.METADATA-FIELD.CONTACT-EMAIL" | translate }}</label>
      <input
        [(ngModel)]="application.contactEmail"
        [email]="true"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.contactEmail'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.contactEmail')
        }"
        [placeholder]="'QUESTION.APPLICATION.CONTACT-EMAIL-PLACEHOLDER' | translate"
        class="form-control"
        id="contactEmail"
        maxlength="50"
        name="contactEmail"
        type="email"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="contactPhone">{{ "APPLICATION.METADATA-FIELD.CONTACT-PHONE" | translate }}</label>
      <input
        [formControl]="phoneCtrl"
        [ngClass]="{
          'is-invalid': application.contactPhone && phoneCtrl.invalid,
          'is-valid': !phoneCtrl.invalid
        }"
        [placeholder]="'QUESTION.APPLICATION.CONTACT-PHONE-PLACEHOLDER' | translate"
        class="form-control"
        id="contactPhone"
        maxlength="12"
        name="contactPhone"
        type="text"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="application.personalData">{{
          "APPLICATION.METADATA-FIELD.PERSONAL-DATA" | translate
        }}</label>
      <br/>
      <mat-checkbox
        [(ngModel)]="application.personalData"
        id="application.personalData"
        name="application.personalData"
      >
        <mat-label
          class="form-check-label margin-top-25px"
          for="application.personalData"
          style="white-space: initial"
        >{{ "QUESTION.APPLICATION.PERSONAL-DATA-PLACEHOLDER" | translate }}
        </mat-label
        >
      </mat-checkbox>
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="application.hardware">{{
          "APPLICATION.METADATA-FIELD.HARDWARE" | translate
        }}</label>
      <textarea
        [(ngModel)]="application.hardware"
        [maxLength]="1024"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.hardware'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.hardware')
        }"
        [placeholder]="'QUESTION.APPLICATION.HARDWARE-PLACEHOLDER' | translate"
        [rows]="6"
        class="form-control"
        id="application.hardware"
        name="application.hardware"
      ></textarea>
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="application.controlledProperty">{{
          "APPLICATION.METADATA-FIELD.CONTROLLED-PROPERTY" | translate
        }}</label>
      <mat-select
        [(ngModel)]="application.controlledProperties"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.controlledProperty'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.controlledProperty')
        }"
        [placeholder]="'QUESTION.APPLICATION.CONTROLLED-PROPERTY-PLACEHOLDER' | translate"
        class="form-control"
        id="application.controlledProperty"
        multiple="true"
        name="application.controlledProperty"
      >
        @for (ctrlProperty of controlledProperties; track ctrlProperty) {
          <mat-option [value]="ctrlProperty">
            {{ ctrlProperty }}
          </mat-option>
        }
      </mat-select>
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="application.deviceType">{{
          "APPLICATION.METADATA-FIELD.DEVICE-TYPE" | translate
        }}</label>
      <mat-select
        [(ngModel)]="application.deviceTypes"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('application.deviceType'),
          'is-valid': formFailedSubmit && !errorFields.includes('application.deviceType')
        }"
        [placeholder]="'QUESTION.APPLICATION.DEVICE-TYPE-PLACEHOLDER' | translate"
        class="form-control"
        id="application.deviceType"
        multiple="true"
        name="application.deviceType"
      >
        @for (deviceType of deviceTypes; track deviceType) {
          <mat-option [value]="deviceType.value">
            {{ deviceType.label }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>

  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">{{ "GEN.CANCEL" | translate }}</button>
    <button class="btn btn-primary ml-2" type="submit">{{ submitButton }}</button>
  </div>
</form>
