<app-top-bar [showSelectedSort]="false" [title]="'SIGFOX.ADMINITRATION.NAME' | translate"></app-top-bar>

<div class=" jumbotron m-md-4 p-md-3">
    <mat-list>
        <div class="row mt-5">
            <div class="col-6">
                <h4>Liste over grupper</h4>
            </div>
            <div class="col-6">
                <button class="btn btn-primary float-right" [routerLink]="['new']"
                    routerLinkActive="active">{{'PROFILES.DEVICE_PROFILE.CREATE-NEW-DEVICE-PROFILE' | translate}}</button>
            </div>
        </div>
        <hr>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let sigfoxGroup of sigfoxGroups">


                <a mat-list-item [routerLink]="[sigfoxGroup.id]">
                    <span class=" a" matLine>
                        <fa-icon [icon]="faToolbox"></fa-icon>{{ sigfoxGroup.sigFoxGroupData.name }}
                    </span>
                    <!-- <button mat-icon-button (click)="onAdd($event)">
                    <mat-icon>add</mat-icon>
                </button> -->
                    <button mat-icon-button (click)="onEditSigfoxGroup($event)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </a>

            </mat-list-option>
        </mat-selection-list>
    </mat-list>


    <!-- <div class="row mt-5">
        <div class="col-6">
            <h4>Liste over grupper</h4>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-right"
                (click)="onNewGroup()">{{'SIGFOX.ADMINITRATION.CREATE-NEW-GROUP' | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-sigfox-administration-item *ngFor="let group of sigfoxGroups; let i = index" [sigfoxGroup]="group">
            </app-sigfox-administration-item>

        </div>
    </div> -->
</div>