<app-top-bar *ngIf="user" [data]="user" [backButton]="backButton" [subPage]="true"></app-top-bar>

<div class=" jumbotron m-md-4 p-md-3" *ngIf="user">
    <div class="row">
        <div class="col-xs-12">
            <div class="float-left">
                <h4>{{user.name}}</h4>
                <p>{{user.email}}</p>
                <p [ngClass]="user.active | activeDeactive">{{user.active | activeDeactive}}</p>
                <div>
                    <div *ngIf="user.lastLogin; else noLogin">
                        <P>{{ 'USERS.DETAIL.LAST-LOGIN' | translate }}{{user?.lastLogin | date}}</P>
                    </div>
                    <ng-template #noLogin>
                        <P>{{ 'USERS.DETAIL.LAST-LOGIN' | translate }}{{ 'USERS.DETAIL.NO-LOGIN' | translate }}</P>
                    </ng-template>
                </div>
                <p>{{ 'USERS.DETAIL.ADDED-DATE' | translate }}{{user?.createdAt | date}}</p>
                <p>{{ 'USERS.DETAIL.GLOBALADMIN' | translate }}
                    {{((user.permissions | isGlobalAdmin) ? 'USERS.GLOBAL_ADMIN.TRUE' : 'USERS.GLOBAL_ADMIN.FALSE') | translate}}
                </p>
            </div>
            <div class="btn-group float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{'USERS.DETAIL.DROPDOWN' | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{user.id}}">
                    <li class="dropdown-item">
                        <a [routerLink]="['edit-user']"
                            routerLinkActive="active">{{ 'USERS.TABLE-ROW.EDIT' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron m-md-4 p-md-3">
    <h4 class="">
        {{ 'USERS.DETAIL.PERMISSIONS' | translate }}
    </h4>
    <app-permission-tabel [permissions]="permissions" (deletePermission)="deletePermission($event)"
        [isLoadingResults]="isLoadingResults">
    </app-permission-tabel>
</div>