@import '../setup/variables';
@import '../setup/typography';

.icon {
  &--primary {
    font-size: $icon-size-big;
    color: $color-Icons-alternative;
  }

  &--secondary {
    font-size: $icon-size-medium;
    color: $color-Icons-secondary;
  }

  &--small {
    font-size: $icon-size;
    line-height: 0;
    margin-bottom: 0;
    color: $color-icon-label;
  }

  &--disabled {
    color: $color-Icons-light;
  }
}
