.img-logo {
  background-color: transparent;
  width: 64px;
  @media (min-width: $screen-md-min) {
    width: 60px;
  }
  margin-bottom: 15px;
}

@mixin img-cover($url) {
  filter: blur(40);
  background-image: $url;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
