<app-top-bar [backButtonTitle]="backButtonTitle" [title]="title"></app-top-bar>

<form (ngSubmit)="onSubmit()" #multicastForm="ngForm" class="os2-form p-3 mt-4">
  <div *ngIf="errorMessages" class="error-messages p-3">
    <ul class="mb-0">
      <li *ngFor="let error of errorMessages">
        {{ error | translate }}
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="form-group mt-3">
      <label class="form-label" for="name">{{
        'QUESTION.GIVE-MULTICAST-NAME' | translate
      }}</label
      >*
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [placeholder]="'QUESTION.MULTICAST-NAME-PLACEHOLDER' | translate"
        maxlength="50"
        required
        [(ngModel)]="multicast.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="mcAddr">{{
        'QUESTION.GIVE-MULTICAST-ADDRESS' | translate
      }}</label
      >*
      <label class="text--small">
        {{'QUESTION.MULTICAST.HINT-8-HEXA' | translate}}
      </label>
      <input
        type="text"
        [placeholder]="'QUESTION.MULTICAST-ADDRESS-PLACEHOLDER' | translate"
        [minLength]="8"
        [maxLength]="8"
        required
        class="form-control"
        id="mcAddr"
        name="mcAddr"
        [(ngModel)]="multicast.mcAddr"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mcAddr'),
          'is-valid': formFailedSubmit && !errorFields.includes('mcAddr')
        }"
        (keypress)="keyPressHexadecimal($event)"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="mcNwkSKey">{{
        'QUESTION.GIVE-MULTICAST-NETWORK-KEY' | translate
      }}</label
      >*
      <label class="text--small">
        {{'QUESTION.MULTICAST.HINT-32-HEXA' | translate}}
      </label>
      <input
        type="text"
        [placeholder]="'QUESTION.MULTICAST-NETWORK-KEY-PLACEHOLDER' | translate"
        [maxLength]="32"
        required
        class="form-control"
        id="mcNwkSKey"
        name="mcNwkSKey"
        [(ngModel)]="multicast.mcNwkSKey"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mcNwkSKey'),
          'is-valid': formFailedSubmit && !errorFields.includes('mcNwkSKey')
        }"
        (keypress)="keyPressHexadecimal($event)"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="mcAppSKey">{{
        'QUESTION.GIVE-MULTICAST-APPLICATION-KEY' | translate
      }}</label
      >*
      <label class="text--small">
        {{'QUESTION.MULTICAST.HINT-32-HEXA' | translate}}
      </label>
      <input
        type="text"
        [placeholder]="
          'QUESTION.MULTICAST-APPLICATION-KEY-PLACEHOLDER' | translate
        "
        [maxLength]="32"
        required
        class="form-control"
        id="mcAppSKey"
        name="mcAppSKey"
        [(ngModel)]="multicast.mcAppSKey"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mcAppSKey'),
          'is-valid': formFailedSubmit && !errorFields.includes('mcAppSKey')
        }"
        (keypress)="keyPressHexadecimal($event)"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="fCnt">{{
        'QUESTION.GIVE-MULTICAST-FRAMECOUNTER' | translate
      }}</label
      >*
      <input
        type="number"
        [placeholder]="multicast.fCnt"
        required
        class="form-control"
        id="fCnt"
        name="fCnt"
        [(ngModel)]="multicast.fCnt"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('fCnt'),
          'is-valid': formFailedSubmit && !errorFields.includes('fCnt')
        }"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="dr">{{
        'QUESTION.GIVE-MULTICAST-DATARATE' | translate
      }}</label
      >*
      <div class="text--small">
        {{'QUESTION.MULTICAST.HINT-DATA-RATE' | translate}}
      </div>
      <input
        type="number"
        [placeholder]="multicast.dr"
        required
        class="form-control"
        id="dr"
        name="dr"
        [(ngModel)]="multicast.dr"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('dr'),
          'is-valid': formFailedSubmit && !errorFields.includes('dr')
        }"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="frequency">{{
        'QUESTION.GIVE-MULTICAST-FREQUENCY' | translate
      }}</label
      >*
      <div class="text--small">
        {{'QUESTION.MULTICAST.HINT-FREQUENCY' | translate}}
      </div>
      <input
        type="number"
        [placeholder]="multicast.frequency"
        required
        class="form-control"
        id="frequency"
        name="frequency"
        [(ngModel)]="multicast.frequency"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('frequency'),
          'is-valid': formFailedSubmit && !errorFields.includes('frequency')
        }"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label" for="groupType">{{
        'QUESTION.MULTICAST-GROUPTYPE-PLACEHOLDER' | translate
      }}</label
      >*
      <mat-select
        class="form-control"
        name="groupType"
        [(ngModel)]="multicast.groupType"
        required
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('groupType'),
          'is-valid': formFailedSubmit && !errorFields.includes('groupType')
        }"
      >
        <mat-option
          *ngFor="let multicastType of multicastTypes"
          [value]="multicastType"
        >
          {{ multicastType }}
        </mat-option>
      </mat-select>
    </div>

    <!-- only if classB can be used -->
    <!-- <div *ngIf="showPeriodicity()" class="form-group mt-3">
        <label class="form-label" for="periodicity">{{'QUESTION.MULTICAST-PERIODICITY-PLACEHOLDER' | translate}}</label>
        <mat-select class="form-control" name="periodicity" [(ngModel)]="multicast.periodicity" required
          [ngClass]="{'is-invalid' : formFailedSubmit && errorFields.includes('periodicity'), 'is-valid' : formFailedSubmit && !errorFields.includes('periodicity')}">
          <mat-option *ngFor="let periodicity of periodicities" [value]="periodicity">
            {{periodicity}}
          </mat-option>
        </mat-select>
      </div> -->
  </div>

  <div class="form-group mt-3 col-12">
    <label class="form-label" for="groupType">{{
      'QUESTION.GIVE-MULTICAST-IOTDEVICES' | translate
    }}</label>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>{{
          'QUESTION.MULTICAST.SELECT-DEVICES' | translate
        }}</mat-label>
        <mat-select
          multiple
          name="devices"
          [compareWith]="compare"
          [(ngModel)]="multicast.iotDevices"
          panelClass="overflow-x-hidden"
        >
          <mat-select-search
            [formControl]="deviceFilterCtrl"
          ></mat-select-search>

          <mat-option disabled="disabled" class="filter-option">
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              (click)="selectAll()"
            >
              {{ 'QUESTION.MULTICAST.SELECTALLDEVICES' | translate }}
            </button>
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              (click)="unSelectAll()"
            >
              {{ 'QUESTION.MULTICAST.DESELECTALLDEVICES' | translate }}
            </button>
            <label class="onlyLorawan">{{
              'QUESTION.MULTICAST.ONLY-LORAWAN' | translate
            }}</label>
          </mat-option>
          <mat-option
            *ngFor="let device of filteredDevicesMulti | async | filterDevices"
            [value]="device"
            >{{ device.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">
      {{ 'GEN.CANCEL' | translate }}
    </button>
    <button class="btn btn-primary ml-2" type="submit">
      {{ submitButton }}
    </button>
  </div>
</form>
