<ng-container *ngIf="device.type === 'LORAWAN'; else notSupported">
  <div *ngIf="isValidRssiInfo(device.latestReceivedMessage?.rawData?.rxInfo); else notAvailable">
    {{buildRangeFromLoRaRxInfo(asRxInfo(device.latestReceivedMessage.rawData.rxInfo), 'rssi')}}
  </div>
</ng-container>
<ng-template #notSupported>
  <span>{{'IOTDEVICE-TABLE-ROW.NOT-SUPPORTED' | translate}}</span>
</ng-template>
<ng-template #notAvailable>
  <span>{{'IOTDEVICE-TABLE-ROW.NOT-AVAILABLE' | translate}}</span>
</ng-template>
