<ng-container *ngIf="application">
  <app-top-bar-single [data]="application" [backButton]="backButton" [buttons]="buttons"></app-top-bar-single>
  <div class="jumbotron my-4 m-md-4 py-3 p-md-3">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="float-left">
          <h4>{{ 'APPLICATION.DESCRIPTION' | translate }}</h4>
        </div>
        <div class="btn-group float-right">
          <button class='btn btn-primary' type="button" [routerLink]="['datatarget-list', application.name]"
            routerLinkActive="active" class="btn btn-primary">{{ 'APPLICATION.DATATARGET-SHOW' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 pt-2 col-sm-8">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
  <div class="jumbotron my-4 m-md-4 py-3 p-md-3">
    <div class="row">
      <div class="col-sm-12">
        <app-sub-bar [component]="true" [title]="'APPLICATION.ATTACHED-IOT' | translate" [sort]="sort"
          [(selectedSortId)]="selectedSortId" [pageLimit]="pageLimit"
          [ctaLabelPrimary]="'FORM.CREATE-NEW-IOT-DEVICE' | translate" [ctaRouterLinkPrimary]="'new-iot-device'"
          [ctaLabelSecondary]="'APPLICATION.IMPORT-CSV' | translate" [ctaRouterLinkSecondary]="'bulk-import'"
          (updatePageLimit)="updatePageLimit($event)" (selectedSortChange)="changeSort($event)"></app-sub-bar>
        <app-iot-devices-table [selectedSortObject]="selectedSortObject" [pageLimit]="pageLimit"
          [application]="application"></app-iot-devices-table>
      </div>
    </div>
  </div>

</ng-container>