<div *ngIf="application">
  <app-top-bar [data]="application" [backButton]="backButton" [subPage]="true"
    [ctaRouterLink]="['datatarget-list', application.name]" [ctaLabel]="'APPLICATION.DATATARGET-SHOW' | translate"
    [addDetailDowndown]="true" [dropDownButton]="dropdownButton" (deleteSelectedInDropdown)="onDeleteApplication()">
  </app-top-bar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h3>Detaljer</h3>
          <p *ngIf="application.description">
            <strong>{{ 'APPLICATION.DESCRIPTION' | translate }}</strong>{{application.description}}</p>
          <p><strong>{{ 'IOTDEVICE.CREATED' | translate }}</strong>{{application.createdAt | dkTime}}<span
              *ngIf="application.createdByName">{{application.createdByName | createdUpdatedBy}}</span></p>
          <p *ngIf="application.createdAt !== application.updatedAt">
            <strong>{{ 'IOTDEVICE.UPDATED' | translate }}</strong>{{application.updatedAt | dkTime}}
            <span *ngIf="application.updatedByName">
              {{application.updatedByName | createdUpdatedBy}} </span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <app-top-bar-table [component]="true" [title]="'APPLICATION.ATTACHED-IOT' | translate"
          [ctaLabelPrimary]="'FORM.CREATE-NEW-IOT-DEVICE' | translate" [ctaRouterLinkPrimary]="'new-iot-device'"
          [ctaLabelSecondary]="'APPLICATION.IMPORT-CSV' | translate" [ctaRouterLinkSecondary]="'bulk-import'">
        </app-top-bar-table>
        <app-iot-devices-table [application]="application"></app-iot-devices-table>
      </div>
    </div>
  </div>

</div>