<div *ngIf="application">
  <app-top-bar [data]="application" [backButton]="backButton" [subPage]="true"
    [ctaRouterLink]="['datatarget-list', application.name]" [ctaLabel]="'APPLICATION.DATATARGET-SHOW' | translate"
    [addDetailDowndown]="true" [dropDownButton]="dropdownButton" (deleteSelectedInDropdown)="onDeleteApplication()">
  </app-top-bar>
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="errorMessage" class="error-messages col-8 p-3 mx-4 my-3">
        {{errorMessage | translate}}
      </div>
      <div class="col-12">
        <div class="jumbotron">
          <h3>Detaljer</h3>
          <app-general-details [data]="application"></app-general-details>
          <p *ngIf="application.description">
            <strong>{{ 'APPLICATION.DESCRIPTION' | translate }}</strong></p>
          <pre><p>{{application.description}}</p></pre>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <app-top-bar-table [component]="true" [title]="'APPLICATION.ATTACHED-IOT' | translate"
            [ctaLabelPrimary]="'FORM.CREATE-NEW-IOT-DEVICE' | translate" [ctaRouterLinkPrimary]="'new-iot-device'"
            [ctaLabelSecondary]="'APPLICATION.IMPORT-CSV' | translate" [ctaRouterLinkSecondary]="'bulk-import'">
          </app-top-bar-table>
          <app-iot-devices-table [application]="application"></app-iot-devices-table>
        </div>
      </div>
    </div>
  </div>
</div>