.application-name {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 8px;
}
