<div>
  <app-top-bar></app-top-bar>
</div>
<div class="container-fluid">
  <div class="row mt-5 mx-5">
    <app-loading-spinner *ngIf="isLoadingResults"></app-loading-spinner>
    <div *ngIf="hasSomePermission" class="col-12">
      <header class="header p-3">
        <div class="header__text-box">
          <h1 class="heading-primary">
            <span class="row heading-primary--main">
              <div class="col-12">
                <h1>{{ "DASHBOARD.WELCOME" | translate }}</h1>
                <h2>{{ "DASHBOARD.WELCOME-SUB" | translate }}</h2>
              </div>
            </span>
            <span class="heading-primary--sub mt-5">
              <div class="row">
                <div class="col-md-6 px-md-4">
                  <p>
                    <strong>{{ "DASHBOARD.LIST.HEADLINE" | translate }}</strong>
                  </p>
                  <ul class="inline-list text-white">
                    <li>{{ "DASHBOARD.LIST.P1" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P2" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P3" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P4" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P5" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P6" | translate }}</li>
                    <li>{{ "DASHBOARD.LIST.P7" | translate }}</li>
                  </ul>
                </div>
                <div class="col-md-6 px-md-4">
                  <p>
                    <strong>{{ "DASHBOARD.SUB-HEADER-1" | translate }}</strong>
                  </p>
                  <p>
                    {{
                      "DASHBOARD.WELCOME-MESSAGE" | translate
                    }}<span
                  ><a href="https://OS2iot.os2.eu" target="_blank">{{ "DASHBOARD.LINK-1" | translate }}</a></span
                  >{{ "DASHBOARD.WELCOME-MESSAGE-3" | translate }}
                  </p>
                  <p>
                    <strong>{{ "DASHBOARD.SUB-HEADER-2" | translate }}</strong>
                  </p>
                  <p>
                    {{
                      "DASHBOARD.WELCOME-MESSAGE-2" | translate
                    }}<span
                  ><a href="https://os2.eu/produkt/os2iot" target="_blank">{{
                      "DASHBOARD.LINK-2" | translate
                    }}</a></span
                  >
                  </p>
                </div>
              </div>
            </span>
          </h1>
          <div *ngIf="isGlobalAdmin" class="row my-5">
            <div class="col-12 d-flex justify-content-center">
              <a
                [routerLink]="['/admin/organisations']"
                class="btn btn-primary btn--animated"
                routerLinkActive="router-link-active"
              >{{ "DASHBOARD.BUTTON" | translate }}</a
              >
            </div>
          </div>
        </div>
      </header>
    </div>
    <div *ngIf="hasSomePermission == false" class="col-xs-12 col-md-10 offset-md-1 mt-5">
      <header class="header p-3">
        <div class="header__text-box">
          <div class="heading-primary">
            <span class="row heading-primary--main mb-5">
              <div class="col-12">
                <h1>{{ "DASHBOARD.WELCOME" | translate }}</h1>
                <h2>{{ "DASHBOARD.NO-ACCESS" | translate }}</h2>
              </div>
            </span>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
