<div class="col pb-3 d-flex top-bar">
  <ng-template [ngIf]="backButtonTitle">
    <a (click)="routeBack()" class="back-button py-3" [routerLink]="">{{backButtonTitle}}</a>
  </ng-template>
  <ng-template [ngIf]="title">
    <h4 *ngIf="component; else notComponent">{{title}}</h4>
    <ng-template #notComponent>
      <h3>{{title}}</h3>
    </ng-template>
  </ng-template>
  <div class="ml-auto d-flex">
    <div class="d-flex per-page" *ngIf="selectedSortId">
      <label class="form-label d-none" for="applicationsTableSort">{{ 'SORT.SORT' | translate }}</label>
      <select *ngIf="showSelectedSort" id="applicationsTableSort" name="applicationsTableSort"
        [(ngModel)]="selectedSortId" (ngModelChange)="changeSort($event)" class="select-box select-box-md">
        <option [value]="option.id" *ngFor="let option of sort">{{ option.label | translate }}</option>
      </select>
    </div>
    <div>
      <button *ngIf="ctaRouterLink" [routerLink]="ctaRouterLink" routerLinkActive="active" class="btn btn-primary"
        type="button" [attr.aria-label]="ctaLabel">{{ctaLabel}}</button>
    </div>
  </div>
</div>