.top-main-container {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
