<ng-template #emptySearchForm>
  <mat-form-field class="search-form--full-width invisible">
    <input matInput />
  </mat-form-field>
</ng-template>

<div class="top-main-container">
  <!-- Search  -->
  <form class="search-form">
    <ng-container *ngIf="hasEmail() && hasAnyPermission(); else emptySearchForm">
      <div class="custom-search-field">
        <input
          placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
          type="text"
          id="searchQuery"
          class="search-input"
          aria-label="Search"
          #searchInput
          [value]="searchText"
          (keyup.enter)="search(searchInput.value)"
          (input)="search(searchInput.value)"
        />
      </div>
    </ng-container>
  </form>

  <button class="profile-button" [matMenuTriggerFor]="menu" id="userDropdown">
    <div class="user-information-container">
      <div class="name-and-title-container">
        <div class="name-container">Ole jensen</div>
        <div class="title-container">Global Admin</div>
      </div>
      <div>
        <mat-icon svgIcon="angle-down" class="angle-down-icon"></mat-icon>
      </div>
    </div>
  </button>
  <mat-menu class="matMenuMargin" xPosition="before" #menu="matMenu">
    <button mat-menu-item class="userName">
      <div class="userNameFont">{{ getUsername() }}</div>
    </button>
    <a *ngIf="hasEmail()" mat-menu-item routerLink="/user-page">{{ "USER_PAGE.USER_PAGE" | translate }} </a>
  </mat-menu>
</div>

<div class="bottom-main-container">
  <!-- Breadcrumb -->
  <nav class="top-bar--menu--breadcrumb">
    <ng-template [ngIf]="backButtonTitle">
      <fa-icon [icon]="faChevronLeft" class="icon--primary mb-1"></fa-icon>
      <a (click)="routeTo()" class="back-button" [routerLink]="[]">{{ backButtonTitle }}</a>
    </ng-template>
    <ng-template [ngIf]="data || subPage === true">
      <fa-icon [icon]="faChevronLeft" class="icon--primary mb-1"></fa-icon>
      <a (click)="routeTo()" class="back-button" [routerLink]="[]">{{ backButton.label }}</a>
      <h3 class="p-3">{{ subTitle || staticTitle }}</h3>
    </ng-template>
    <ng-template [ngIf]="title">
      <h4 *ngIf="component; else notComponent">
        {{ title || staticTitle }}
      </h4>
      <ng-template #notComponent>
        <h3 class="pl-md-3">{{ title || staticTitle }}</h3>
      </ng-template>
    </ng-template>
  </nav>

  <!-- action buttons -->
  <button
    *ngIf="ctaRouterLink && ctaRouterLink != '' && canEdit"
    [routerLink]="ctaRouterLink"
    routerLinkActive="active"
    class="btn btn-primary mr-1"
    type="button"
    [attr.aria-label]="ctaLabel"
  >
    <div class="create-application-button">
      <mat-icon svgIcon="plus-circle" class="plus-circle-icon"></mat-icon>
      {{ ctaLabel }}
    </div>
  </button>
</div>

@if(searchText){
<div class="search-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron--table">
          <app-search-table [searchText]="searchText"></app-search-table>
        </div>
      </div>
    </div>
  </div>
</div>
}
