@import '~src/assets/scss/setup/breakpoints';
@import '~src/assets/scss/setup/variables';

.per-page {
  line-height: 40px;
  margin-right: 8px;
}

button:focus {
  outline: none;
}

.userName {
  pointer-events: none;
}
.userNameFont {
  font-weight: bold;
}

.mobileMedia {
  @media (max-width: $screen-md-min) {
    display: flex;
    justify-content: flex-end;
  }
}

::ng-deep .matMenuMargin {
  margin-right: 5px;
}
