<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 1em;">{{ 'SEARCH.ICON' | translate }}</th>
                <th style="width: 10em;">{{ 'SEARCH.TYPE' | translate }}</th>
                <th>{{ 'SEARCH.NAME' | translate }}</th>
                <th>{{ 'SEARCH.ID' | translate }}</th>
                <th>{{ 'SEARCH.ORGANISATION' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let result of searchResults" class="py-3" app-search-table-row [searchResult]="result"></tr>
        </tbody>
    </table>
</div>
<nav *ngIf="pageTotal > 1" [attr.aria-label]="'TABLE.PAGINATION' | translate">
    <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
            <a class="page-link" [routerLink]="" (click)="gotoPrevPage()">Previous</a>
        </li>
        <li class="page-item disabled">
            <div class="page-link" [routerLink]="">
                {{ pageOffset + 1 }} / {{ pageTotal }}
            </div>
        </li>
        <li class="page-item">
            <a class="page-link" [routerLink]="" (click)="gotoNextPage()">Next</a>
        </li>
    </ul>
</nav>