<div class="jumbotron--table">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="col-12">
          @if (download$ | async; as download) {
            <mat-progress-bar
              [mode]="download.state === 'PENDING' ? 'buffer' : 'determinate'"
              [value]="download.progress"
              class="mb-5"
            >
            </mat-progress-bar>
          }
        </div>
        @if (applicationService.canEdit) {
          <div>
            <app-top-bar-table
              [component]="true"
              [ctaActionButtonLabel]="'APPLICATION.EXPORT-CSV' | translate"
              [ctaActionButtonOnClick]="openDialogFunc"
              [ctaLabelPrimary]="'FORM.CREATE-NEW-IOT-DEVICE' | translate"
              [ctaLabelSecondary]="'APPLICATION.IMPORT-CSV' | translate"
              [ctaRouterLinkPrimary]="'../new-iot-device'"
              [ctaRouterLinkSecondary]="'../bulk-import'"
              [title]="'APPLICATION.ATTACHED-IOT' | translate"
            >
            </app-top-bar-table>
          </div>
        } @else {
        <app-top-bar-table [component]="true" [title]="'APPLICATION.ATTACHED-IOT' | translate"></app-top-bar-table>
      }
        <app-iot-devices-table [applicationId]="applicationService.id"></app-iot-devices-table>
      </div>
    </div>
  </div>
</div>
