<div class="info-box-containers">
  <app-basic-information-box
    [matSVGSrc]="'exclamation-triangle'"
    [type]="'warning'"
    [count]="withError"
    [countOf]="total"
    [description]="'APPLICATION-INFORMATION-BOX.APPLICATIONS-WITH-ERROR' | translate"
    [height]="35"
    [width]="25"
  />
  <app-basic-information-box
    [matSVGSrc]="'check-circle'"
    [type]="'stable'"
    [count]="withoutError"
    [countOf]="total"
    [description]="'APPLICATION-INFORMATION-BOX.APPLICATIONS-WITHOUT-ERROR' | translate"
    [height]="30"
    [width]="25"
  />
  <app-basic-information-box
    [height]="35"
    [width]="25"
    [matSVGSrc]="'micro-chip'"
    [type]="'default'"
    [count]="totalDevices"
    [description]="'APPLICATION-INFORMATION-BOX.DEVICES' | translate"
  />
  <app-basic-information-box
    [height]="35"
    [width]="25"
    [matSVGSrc]="'satellite-dish'"
    [type]="'default'"
    [count]="gateways"
    [description]="'APPLICATION-INFORMATION-BOX.GATEWAYS' | translate"
  />
</div>
