<div class="row">
    <div class="col-xs-12">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ serviceProfile.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage ServiceProfile <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onEditServiceProfile()">Edit ServiceProfile</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteServiceProfile()">Delete ServiceProfile</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ serviceProfile.id }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">

        </ul>
    </div>
</div>