<div class="row">
    <div class="bottom-separator">
        <div class="col-xs-12">
            <app-form-header [backButton]="backButton" [title]="serviceProfile.name"></app-form-header>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-xs-12">
            <div class="btn-group float-right" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    {{'PROFILES.SERVICE_PROFILE.DROPDOWN' | translate}} <span class="caret"></span>
                </button>

                <div class="btn-group" appDropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle">
                        Håndter Profil <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;"
                                (click)="onEditServiceProfile()">{{'PROFILES.SERVICE_PROFILE.EDIT' | translate}}</a>
                        </li>
                        <li><a style="cursor: pointer;"
                                (click)="onDeleteServiceProfile()">{{'PROFILES.SERVICE_PROFILE.DELETE' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.NAME' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{serviceProfile.name}}</p>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.REPORTBATTERYSTATUS' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{serviceProfile.reportDevStatusBattery}}</p>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.ADDGWMETADATA' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{ serviceProfile.addGWMetaData }}</p>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.DRRATEMIN' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{ serviceProfile.drMin }}</p>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.DRRATEMAX' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{ serviceProfile.drMax}}</p>
        </div>
    </div>
    <div class="col-12 py-4">
        <div class="col-12 col-sm-4">
            <h4>{{'PROFILES.SERVICE_PROFILE.REPORT_END_DEVICE' | translate}}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
            <p>{{ serviceProfile.targetPER }}</p>
        </div>
    </div>
</div>