<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="jumbotron jumbotron--full-width width100percent">
        <div class="d-flex align-items-start justify-content-between">
          <h3>{{ "DATATARGET.TEST_CONNECTION.TEST-CONNECTION" | translate }}</h3>
          <div class="spinner-placeholder">
            @if (loading) {
              <div>
                <app-loading-spinner></app-loading-spinner>
              </div>
            }
          </div>
        </div>
        @if (dataTarget.type === DataTargetType.MQTT) {
          <div>
            <button (click)="pingDataTarget()" class="mt-3 btn btn-primary">
              {{ "DATATARGET.TEST_CONNECTION.TEST-CONNECTION" | translate }}
            </button>
            <p class="mt-2">{{ "DATATARGET.TEST_CONNECTION.SEND-PING-TO-DATATARGET" | translate }}</p>
            <mat-divider></mat-divider>
          </div>
        }
        <p class="mt-3 font-weight-bold">{{ "DATATARGET.TEST_CONNECTION.SEND-LATEST-PACKAGE" | translate }}</p>
        <mat-select
          (selectionChange)="getLastPackage($event)"
          [placeholder]="'DATATARGET.TEST_CONNECTION.CHOOSE-IOT-DEVICE' | translate"
          class="mt-3 form-control"
        >
          @for (iotDevice of iotDevices; track iotDevice) {
            <mat-option [value]="iotDevice.id">
              {{ iotDevice.name }}
            </mat-option>
          }
        </mat-select>
        <mat-select
          [(value)]="payloadDecoderId"
          [placeholder]="'DATATARGET.TEST_CONNECTION.CHOOSE-PAYLOAD-DECODER' | translate"
          class="mt-3 form-control"
        >
          <mat-option [value]="0">
            {{ "QUESTION.DATATARGET.NO-PAYLOAD-DECODER-SELECTED" | translate }}
          </mat-option>
          @for (payloadDecoder of payloadDecoders; track payloadDecoder) {
            <mat-option [value]="payloadDecoder.id">
              {{ payloadDecoder.name }}
            </mat-option>
          }
        </mat-select>
        <button (click)="pingDataTarget(payloadData)" [disabled]="!payloadData" class="mt-3 btn btn-primary">
          {{ "DATATARGET.TEST_CONNECTION.SEND-DATA-PACKAGE" | translate }}
        </button>
        <p class="mt-2" style="white-space: pre-wrap">
          {{ "DATATARGET.TEST_CONNECTION.SEND-DATA-PACKAGE-DESCRIPTION" | translate }}
          {{
            dataTarget.type === DataTargetType.MQTT ? ("DATATARGET.TEST_CONNECTION.MQTT-DISCLAIMER" | translate) : ""
          }}
        </p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch min-height-400">
      <div class="jumbotron jumbotron--full-width width100percent">
        <h3>{{ "DATATARGET.TEST_CONNECTION.CHOSEN-DATA-PACKAGE" | translate }}</h3>
        <ngx-monaco-editor
          [(ngModel)]="payloadData"
          [ngModelOptions]="{ standalone: true }"
          [options]="editorJsonInputOptions"
          class="height-85"
        >
        </ngx-monaco-editor>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch min-height-400">
      <div class="jumbotron jumbotron--full-width width100percent">
        <h3>{{ "DATATARGET.TEST_CONNECTION.SENT-DECODED-REQUEST" | translate }}</h3>
        <ngx-monaco-editor
          [(ngModel)]="decodedData"
          [ngModelOptions]="{ standalone: true }"
          [options]="editorJsonOutputOptions"
          class="height-85"
        >
        </ngx-monaco-editor>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch min-height-400">
      <div class="jumbotron jumbotron--full-width width100percent">
        <h3>{{ "DATATARGET.TEST_CONNECTION.RECEIVED-RESPONSE" | translate }}</h3>
        <ngx-monaco-editor
          [(ngModel)]="testResponse"
          [ngModelOptions]="{ standalone: true }"
          [options]="editorJsonOutputOptions"
          class="height-85"
        >
        </ngx-monaco-editor>
      </div>
    </div>
  </div>
</div>
