<app-top-bar [sort]="sort" [pageLimit]="pageLimit" [title]="'NAV.USERS' | translate"
    [ctaLabel]="'USERS.CREATE' | translate" [ctaRouterLink]="'new-user'" (updatePageLimit)="updatePageLimit($event)"
    (selectedSortChange)="changeSort($event)"></app-top-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron--table">
                <app-user-table [users]="users" [isLoadingResults]="isLoadingResults"></app-user-table>
            </div>
        </div>
    </div>
</div>