<app-top-bar
  [canEdit]="canEdit"
  [ctaLabel]="'USERS.CREATE' | translate"
  [ctaRouterLink]="'new-user'"
  [title]="'NAV.USERS' | translate"
></app-top-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
        @for (link of navTabs; track link) {
          <a
            #rla="routerLinkActive"
            [active]="rla.isActive"
            [routerLink]="link.link"
            mat-tab-link
            routerLinkActive
          >{{ link.label | translate }}</a
          >
        }
      </nav>
      <mat-divider></mat-divider>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
