<app-top-bar
  [title]="'NAV.USERS' | translate"
  [ctaLabel]="'USERS.CREATE' | translate"
  [ctaRouterLink]="'new-user'"
  [canEdit]="canEdit"
></app-top-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a
          mat-tab-link
          *ngFor="let link of navTabs"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
          >{{ link.label | translate }}</a
        >
      </nav>
      <mat-divider></mat-divider>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
