<div class="form-group mt-3 col-12">
  <label class="form-label" for="authenticationType">{{ "QUESTION.MQTT.AUTHENTICATIONTYPE" | translate }}*</label>
  <select
    [(ngModel)]="settings.authenticationType"
    [value]="settings.authenticationType"
    class="form-select"
    id="authenticationType"
    name="authenticationType"
  >
    @for (type of AuthenticationType | keyvalue; track type) {
      <option [value]="type.key">
        {{ "QUESTION.MQTT." + type.key | translate }}
      </option>
    }
  </select>
</div>

@if (settings.authenticationType === AuthenticationType.PASSWORD) {
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="username">{{ "QUESTION.MQTT.USERNAME-LABEL" | translate }}*</label>
    <fa-icon
      [icon]="faQuestionCircle"
      [matTooltip]="'QUESTION.MQTT.USERNAME-HOVER' | translate"
      class="form-info-icon"
      matTooltipHideDelay="2000"
      matTooltipPosition="above"
      matTooltipShowDelay="600"
    >
    </fa-icon>
    <input
      [(ngModel)]="settings.mqttusername"
      [ngClass]="{
        'is-invalid': formFailedSubmit && errorFields.includes('mqttusername'),
        'is-valid': formFailedSubmit && !errorFields.includes('mqttusername')
      }"
      [placeholder]="'QUESTION.MQTT.USERNAME-PLACEHOLDER' | translate"
      class="form-control"
      id="username"
      name="username"
      required
      type="text"
    />
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="password">{{ "QUESTION.MQTT.PASSWORD-LABEL" | translate }}*</label>
    <fa-icon
      [icon]="faQuestionCircle"
      [matTooltip]="'QUESTION.MQTT.PASSWORD-HOVER' | translate"
      class="form-info-icon"
      matTooltipHideDelay="2000"
      matTooltipPosition="above"
      matTooltipShowDelay="600"
    >
    </fa-icon>
    <input
      [(ngModel)]="settings.mqttpassword"
      [ngClass]="{
        'is-invalid': formFailedSubmit && errorFields.includes('mqttpassword'),
        'is-valid': formFailedSubmit && !errorFields.includes('mqttpassword')
      }"
      [placeholder]="'QUESTION.MQTT.PASSWORD-PLACEHOLDER' | translate"
      class="form-control"
      datatype=""
      id="password"
      name="password"
      required
      type="text"
    />
  </div>
}
