<div class="form-group mt-3 col-12">
  <label class="form-label" for="autheticationType">{{'QUESTION.MQTT.AUTHENTICATIONTYPE' | translate}}*</label>
  <select
    id="autheticationType" class="form-select" name="autheticationType"
    [(ngModel)]="settings.authenticationType"
    [disabled]="editMode"
    [value]="settings.authenticationType"
  >
    <option *ngFor="let type of AuthenticationType | keyvalue" [value]="type.key">
      {{'QUESTION.MQTT.' + type.key | translate}}
    </option>
  </select>
</div>

<ng-template [ngIf]="settings.authenticationType === AuthenticationType.PASSWORD">
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="username">{{'QUESTION.MQTT.USERNAME-LABEL' | translate}}*</label>
    <fa-icon
      [icon]="faQuestionCircle"
      class="form-info-icon"
      [matTooltip]="'QUESTION.MQTT.USERNAME-HOVER' | translate"
      matTooltipPosition="above"
      matTooltipShowDelay="600"
      matTooltipHideDelay="2000">
    </fa-icon>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      [placeholder]="'QUESTION.MQTT.USERNAME-PLACEHOLDER' | translate"
      required
      [disabled]="editMode"
      [(ngModel)]="settings.mqttusername"
      [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mqttusername'),
          'is-valid': formFailedSubmit && !errorFields.includes('mqttusername')
        }"
    />
  </div>
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="password">{{'QUESTION.MQTT.PASSWORD-LABEL' | translate}}*</label>
    <fa-icon
      [icon]="faQuestionCircle"
      class="form-info-icon"
      [matTooltip]="'QUESTION.MQTT.PASSWORD-HOVER' | translate"
      matTooltipPosition="above"
      matTooltipShowDelay="600"
      matTooltipHideDelay="2000">
    </fa-icon>
    <input
      [type]="editMode ? 'password' : 'text'"
      class="form-control"
      id="password"
      name="password"
      [placeholder]="'QUESTION.MQTT.PASSWORD-PLACEHOLDER' | translate"
      required
      datatype=""
      [(ngModel)]="settings.mqttpassword"
      [disabled]="editMode"
      [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('mqttpassword'),
          'is-valid': formFailedSubmit && !errorFields.includes('mqttpassword')
        }"
    />
  </div>
</ng-template>
