<div class="px-5 py-4">
    <div class="row mb-5">
      <app-top-bar 
        [sort]="sort" 
        [(selectedSortId)]="selectedSortId" 
        [pageLimit]="pageLimit"
        [title]="'NAV.MINE-LORA-GATEWAYS' | translate" 
        [ctaLabel]="'FORM.CREATE-NEW-LORA-GATEWAY' | translate"
        [ctaRouterLink]="'create-lora-gateway'"
        (updatePageLimit)="updatePageLimit($event)"
        (selectedSortChange)="changeSort($event)">
      </app-top-bar>
    </div>
    <div class="row">
      <app-admin-lora-table [selectedSortObject]="selectedSortObject" [pageLimit]="pageLimit"></app-admin-lora-table>
    </div>
  </div>