<section class="content">
    <div class="row m-3">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <div class="box-body text-center"></div>
                    <input type="file" name="datasource_upload" class="choose-file" id="datasource_upload"
                        accept=".xlsx,.xls,.csv" ngf-max-size="20MB" fd-input (change)="handleDropedFile($event)" />
                    <p class="upload_drop_file">Choose or drop here Your CSV File.</p>
                    <a class="dowload_csv" href="sample-file-link" download="download"><i class="fa fa-download"></i>
                        Download CSV File</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
    </div>
</section>