<ng-container>
    <app-top-bar-single [backButton]="backButton" [staticTitle]="'Import af .csv'"></app-top-bar-single>
</ng-container>
<div class="row">
    <div class="col-12">
        <a class="float-right mx-5" href="../../../assets/docs/iotdevice-lorawan.csv" download="download">
            <fa-icon [icon]="faDownload"></fa-icon>
            {{'APPLICATION.BULK.DOWNLOAD' | translate}}
        </a>
    </div>
</div>
<div class="row m-3">
    <div class="col-md-6 offset-md-3 mb-5">

        <div class="choose-file" attr.data-content="{{'APPLICATION.BULK.DROPFILE' | translate}}"
            (click)="fileInput.click()" appDragDrop (onFileDropped)="handleDropedFile($event)">
            <input hidden type="file" accept=".xlsx,.xls,.csv" ngf-max-size="20MB" #fileInput
                (change)="handleDropedFile($event.target.files)">
        </div>
        <div class="files-list" *ngFor="let file of files;let i= index">
            <p> {{ file }} </p>
            <button class="delete-file" (click)="deleteAttachment(i)">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 mb-5">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>

    <table mat-table [dataSource]="bulkImportResult" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'APPLICATION.BULK.NAME' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.device.name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> {{ 'APPLICATION.BULK.TYPE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.device.type}} </td>
        </ng-container>

        <ng-container matColumnDef="importStatus">
            <th mat-header-cell *matHeaderCellDef> {{ 'APPLICATION.BULK.IMPORTSTATUS' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.importStatus}} </td>
        </ng-container>
        
        <ng-container matColumnDef="errorMessages">
            <th mat-header-cell *matHeaderCellDef> {{ 'APPLICATION.BULK.ERROR' | translate }} </th>
            <td mat-cell *matCellDef="let element"> 
                <ul class="mb-0">
                    <li *ngFor="let error of element.errorMessages">
                        {{error}}
                    </li>
                </ul>    
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- <div *ngIf="iotDevice.length === 0" class="col-md-6 offset-md-3 mb-5">
    <p>{{ 'APPLICATION.BULK.EMPTY' | translate }}</p>
</div> -->