<div class="row">
  @if (searchText !== undefined) {
    <div class="col-12">
      @if (!isFetching) {
        <h1 class="text--black">
          <strong
          >{{ pageTotal }} {{ "SEARCH.QUERY" | translate }} <span class="text--green">"{{ searchText }}"</span></strong
          >
        </h1>
      } @else {
      <h1 class="text--black">
        <strong
        >{{ "SEARCH.FETCHING" | translate }}
          <span class="jumping-dots">
                <span class="dot-1">.</span>
                <span class="dot-2">.</span>
                <span class="dot-3">.</span>
              </span>
        </strong>
      </h1>
    }
    </div>
  }
</div>
@if (pageTotal === 0) {
  <div class="mt-5">
    <h3>
      {{ "SEARCH.NO-RESULTS" | translate }}
    </h3>
  </div>
} @if (pageTotal > 0) {
  <div class="mt-5">
    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table>
        <!-- Icon Column -->
        <ng-container matColumnDef="icon">
          <th *matHeaderCellDef mat-header-cell>
            {{ "SEARCH.ICON" | translate }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <fa-icon [icon]="getIcon(element.type)"></fa-icon>
          </td>
        </ng-container>
        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell>
            {{ "SEARCH.TYPE" | translate }}
          </th>
          <td *matCellDef="let element" mat-cell>
            @if (element.type == 'IoTDevice') {
              <div>
                {{ element.deviceType | translate }}
              </div>
            } @else {
            {{ element.type }}
          }
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>
            {{ "SEARCH.NAME" | translate }}
          </th>
          <td *matCellDef="let element" mat-cell>
            <a (click)="goToResult(element)" class="application-link">{{ element.name }}</a>
          </td>
        </ng-container>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell>
            {{ "SEARCH.ID" | translate }}
          </th>
          <td *matCellDef="let element" mat-cell>
            @if (element.type == 'IoTDevice') {
              <div>
                @if (element.deviceType == 'LORAWAN') {
                  <div>
                    {{ element.deviceEUI }}
                  </div>
                } @if (element.deviceType == 'SIGFOX') {
                <div>
                  {{ element.deviceId }}
                </div>
              } @if (element.deviceType == 'GENERIC_HTTP') {
                <div>
                  {{ element.apiKey }}
                </div>
              }
              </div>
            } @if (element.type == 'Application') {
            <div class="application-link">{{ element.id }}</div>
          } @if (element.type == 'Gateway') {
            <div class="application-link">{{ element.gatewayId }}</div>
          }
          </td>
        </ng-container>
        <!-- Org Column -->
        <ng-container matColumnDef="org">
          <th *matHeaderCellDef mat-header-cell>
            {{ "SEARCH.ORGANISATION" | translate }}
          </th>
          <td *matCellDef="let element" mat-cell>
            {{ getOrganizationName(element) }}
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
      <mat-paginator
        (page)="pageEvent = getServerData($event)"
        [length]="pageTotal"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
}
