<ng-container *ngIf="application">
  <app-top-bar-single [data]="application" [backButton]="backButton" [buttons]="buttons"></app-top-bar-single>
  <div class="px-5">
    <div class="application-component">
      <div class="col-12 mb-4 py-3 bottom-separator">
        <div class="col-12 col-sm-4">
          <h4>{{ 'APPLICATION.DESCRIPTION' | translate }}</h4>
        </div>
        <div class="col-12 pt-2 col-sm-8">
          <p>{{description}}</p>
        </div>
      </div>
      <div class="col-12 mb-5 application-table-header">
        <app-top-bar [component]="true" [title]="'APPLICATION.ATTACHED-IOT' | translate" [sort]="sort"
          [(selectedSortId)]="selectedSortId" [pageLimit]="pageLimit"
          [ctaLabel]="'FORM.CREATE-NEW-IOT-DEVICE' | translate" [ctaRouterLink]="'edit-iot-device'"
          (updatePageLimit)="updatePageLimit($event)" (selectedSortChange)="changeSort($event)"></app-top-bar>
        <app-iot-devices-table [selectedSortObject]="selectedSortObject" [pageLimit]="pageLimit"
          [application]="application"></app-iot-devices-table>
      </div>
    </div>
  </div>
  <div>
    <a [routerLink]="['datatarget']" 
      routerLinkActive="active" class="application-link">datatarget</a>
  </div>
</ng-container>
