<td><a [routerLink]="['iot-device', device.id]" routerLinkActive="active" class="device-link">{{device.name}}</a></td>
<td>{{"IOT-DEVICE-TYPES." + device.type | translate}}</td>
<td>
        N/A
</td>
<td>
        <div *ngIf="device.type === 'LORAWAN'; else noBatteryStatus">
                <app-batteri-status [color]="batteryStatusColor" [percentage]="batteryStatusPercentage">
                </app-batteri-status>
        </div>
        <ng-template #noBatteryStatus>
                <div>
                        {{ 'IOTDEVICE-TABLE-ROW.BATTERY-ERROR-MESSAGE' | translate }}
                </div>
        </ng-template>

</td>
<td>
        {{lastActive()}}
</td>
<td>
        <div class="dropdown ">
                <a href="#" role="button" id="tableRowDropdown-{{device.id}}"
                        class="applicationRow__edit dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                        [attr.aria-label]="'APPLICATION-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
                <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{device.id}}">
                        <li class="dropdown-item">
                                <a [routerLink]="['iot-device-edit', device.id]"
                                        routerLinkActive="active">{{ 'IOTDEVICE-TABLE-ROW.EDIT' | translate }}
                                </a>
                        </li>
                        <li class="dropdown-item">
                                <a (click)="clickDelete()"
                                        [routerLink]="">{{ 'IOTDEVICE-TABLE-ROW.DELETE' | translate }}</a>
                        </li>
                </ul>
        </div>
        <!-- <div class="dropdown">
                <a href="#" role="button" id="tableRowDropdown-{{device.id}}"
                        class="applicationRow__edit dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                        [attr.aria-label]="'IOTDEVICE-TABLE-ROW.SHOW-OPTIONS' | translate"></a>
                <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{device.id}}">
                        <li class="dropdown-item">
                                <a (click)="clickDelete()"
                                        [routerLink]="">{{ 'IOTDEVICE-TABLE-ROW.DELETE' | translate }}</a>
                        </li>
                        <li class="dropdown-item">
                                <a [routerLink]="['iot-device-edit', device.id]"
                                        routerLinkActive="active">{{ 'IOTDEVICE-TABLE-ROW.EDIT' | translate }}</a>
                        </li>
                </ul>
        </div> -->
</td>