<app-top-bar [showSelectedSort]="false" [title]="'SIGFOX.PROFILES.NAME' | translate"></app-top-bar>

<div class=" jumbotron m-md-4 p-md-3">
    <div class="row mt-5">
        <div class="col-6">
            <h4>{{'SIGFOX.PROFILES.DEVICE-TYPE' | translate}}</h4>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-right"
                (click)="onNewGroup()">{{'SIGFOX.PROFILES.CREATE-NEW-DEVICE-TYPE' | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-sigfox-profile-table></app-sigfox-profile-table>
        </div>
    </div>
</div>