:host {
    height: 100%;
    width: 100%;
}

.chart-container {
    height: 100%;

    canvas {
        background-color: white;
    }

    mat-card-content {
        position: relative;
    }

    .no-data-container {
        position: absolute;
        display: flex;
        width: 100%;
        height: 90%;
        justify-content: center;
        align-items: center;
    }
}

.width-100-percent {
    width: 100%;
}
