<mat-card [ngClass]="graphCardClass" class="chart-container">
  @if (title) {
    <mat-card-header [ngClass]="graphHeaderClass">
      <mat-card-title>
        {{ title }}
      </mat-card-title>
    </mat-card-header>
  }
  <mat-card-content>
    @if (isGraphEmpty) {
      <div class="no-data-container">
        <span class="text--big">{{ "GEN.NO-DATA" | translate }}</span>
      </div>
    }
    <canvas #someGraph [ngClass]="{ 'width-100': isGraphEmpty }"></canvas>
  </mat-card-content>
</mat-card>
