<div class="row sub-bar-wrapper">
    <div class="col-12 d-flex sub-bar align-items-center">
        <h4>{{title}}</h4>
        <div class="ml-auto d-flex">
            <div>
                <button *ngIf="ctaRouterLinkSecondary" [routerLink]="ctaRouterLinkSecondary" routerLinkActive="active"
                    class="btn btn-secondary" type="button"
                    [attr.aria-label]="ctaLabelSecondary">{{ctaLabelSecondary}}</button>

                <button *ngIf="ctaRouterLinkPrimary" [routerLink]="ctaRouterLinkPrimary" routerLinkActive="active"
                    class="btn btn-primary" type="button"
                    [attr.aria-label]="ctaLabelPrimary">{{ctaLabelPrimary}}</button>
            </div>
        </div>
    </div>
</div>