<p>
  <strong>{{ "IOTDEVICE.MQTT.URL" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqttURL }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.PORT" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqttPort }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.TOPIC_NAME" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqtttopicname }}
</p>
<ng-container
  *ngIf="device.mqttExternalBrokerSettings.authenticationType === AuthenticationType.PASSWORD; else certificate"
>
  <p>
    <strong>{{ "QUESTION.MQTT.USERNAME-LABEL" | translate }}</strong
    >{{ device.mqttExternalBrokerSettings.mqttusername }}
  </p>
</ng-container>
<ng-template #certificate>
  <p>
    <strong>{{ "QUESTION.MQTT.CA-CERTIFICATE" | translate }}</strong
    ><textarea class="form-control" [readOnly]="true">{{ device.mqttExternalBrokerSettings.caCertificate }}</textarea>
  </p>
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE" | translate }}</strong
    ><textarea class="form-control" [readOnly]="true">{{
      device.mqttExternalBrokerSettings.deviceCertificate
    }}</textarea>
  </p>
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE-KEY" | translate }}</strong
    ><textarea class="form-control" [readOnly]="true">{{
      device.mqttExternalBrokerSettings.deviceCertificateKey
    }}</textarea>
  </p>
</ng-template>
