<p>
  <strong>{{ "IOTDEVICE.MQTT.URL" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqttURL }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.PORT" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqttPort }}
</p>
<p>
  <strong>{{ "IOTDEVICE.MQTT.TOPIC_NAME" | translate }}</strong
  >{{ device.mqttExternalBrokerSettings.mqtttopicname }}
</p>
@if (device.mqttExternalBrokerSettings.authenticationType === AuthenticationType.PASSWORD) {
  <p>
    <strong>{{ "QUESTION.MQTT.USERNAME-LABEL" | translate }}</strong
    >{{ device.mqttExternalBrokerSettings.mqttusername }}
  </p>
} @else {
  <p>
    <strong>{{ "QUESTION.MQTT.CA-CERTIFICATE" | translate }}</strong
    ><textarea [readOnly]="true" class="form-control">{{ device.mqttExternalBrokerSettings.caCertificate }}</textarea>
  </p>
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE" | translate }}</strong
    ><textarea [readOnly]="true" class="form-control">{{
      device.mqttExternalBrokerSettings.deviceCertificate
    }}</textarea>
  </p>
  <p>
    <strong>{{ "QUESTION.MQTT.DEVICE-CERTIFICATE-KEY" | translate }}</strong
    ><textarea [readOnly]="true" class="form-control">{{
      device.mqttExternalBrokerSettings.deviceCertificateKey
    }}</textarea>
  </p>
}
