<app-top-bar [canEdit]="canEdit" backButtonTitle="{{ backButtonTitle }}" title="{{ title }}"></app-top-bar>
<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  <div *ngIf="errorMessages" class="error-messages p-3">
    <ul class="mb-0">
      <li *ngFor="let error of errorMessages">
        {{ error | translate }}
      </li>
      <li *ngIf="errorMessage">
        {{ errorMessage | translate }}
      </li>
    </ul>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "USERS.FORM.NAME" | translate }}</label
      >*
      <input
        [(ngModel)]="user.name"
        [disabled]="isKombit"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'USERS.FORM.NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
  </div>
  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="email">{{ "USERS.FORM.EMAIL" | translate }}</label
      >*
      <input
        [(ngModel)]="user.email"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('email'),
          'is-valid': formFailedSubmit && !errorFields.includes('email')
        }"
        [placeholder]="'USERS.FORM.EMAIL-PLACEHOLDER' | translate"
        class="form-control"
        email
        id="email"
        maxlength="50"
        name="email"
        ngModel
        required
        type="text"
      />
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="password">{{ "USERS.FORM.PASSWORD" | translate }}</label
      >*
      <input
        [(ngModel)]="user.password"
        [disabled]="isKombit"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('password'),
          'is-valid': formFailedSubmit && !errorFields.includes('password')
        }"
        [placeholder]="'USERS.FORM.PASSWORD-PLACEHOLDER' | translate"
        class="form-control"
        id="password"
        maxlength="50"
        minlength="6"
        name="password"
        required
        type="text"
      />
    </div>
  </div>

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="permissions"
             id="permissions">{{ "QUESTION.PERMISSION.SELECT-PERMISSION" | translate }}</label
      >*
      <mat-select
        [(ngModel)]="user.permissionIds"
        [compareWith]="compare"
        [multiple]="true"
        class="form-control"
        name="permissions"
      >
        <mat-option *ngFor="let permission of permissions" [value]="permission.id">
          {{ permission.name }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="row form-group mb-5">
    <label class="form-label">{{ "API-KEY.EDIT.EXPIRATION-DATE" | translate }}</label>
    <mat-form-field appearance="outline">
      <mat-label>{{ "API-KEY.EDIT.EXPIRATION-DATE-PLACEHOLDER" | translate }}</mat-label>
      <input
        [formControl]="serializedExpirationDate"
        [matDatepicker]="expirationDatePicker"
        matInput
      />
      <mat-datepicker-toggle [for]="expirationDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #expirationDatePicker panelClass="datepicker-table-fix"></mat-datepicker>
      <mat-hint>{{ "USERS.FORM.EXPIRATION-DATE-DESCRIPTION" | translate }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="row mb-5">
    <mat-slide-toggle [(ngModel)]="user.active" id="active" name="active">
      {{ "USERS.FORM.ACTIVE" | translate }}
    </mat-slide-toggle
    >
  </div>
  <div *ngIf="isGlobalAdmin" class="row mb-3">
    <mat-slide-toggle [(ngModel)]="user.globalAdmin" id="globalAdmin" name="globalAdmin">
      {{ "USERS.FORM.GLOBAL-ADMIN" | translate }}
    </mat-slide-toggle
    >
  </div>
  <div class="form-group mt-5 clearfix">
    <div class="col-12 d-flex justify-content-end">
      <button (click)="routeBack()" class="btn btn-secondary" type="button">
        {{ "GEN.CANCEL" | translate }}
      </button>
      <button class="btn btn-primary ml-2" type="submit">{{ "USERS.FORM.SAVE" | translate }}</button>
    </div>
  </div>
</form>
