<div class="d-flex justify-content-end">
  <p (click)="close()" class="close-symbol text-right">X</p>
</div>
<div class="container">
  <header class="text-center header" mat-dialog-title>
    <h2>
      {{ "WELCOME-DIALOG.WELCOME" | translate }}
    </h2>
    <p>
      {{ (dialogModel?.hasSomePermission ? "WELCOME-DIALOG.WELCOME-SUB" : "WELCOME-DIALOG.NO-ACCESS") | translate }}
    </p>
  </header>
  @if (dialogModel?.hasSomePermission) {
    <div class="col-md-12 px-md-4" mat-dialog-content>
      <p class="sub-header">
        <strong>{{ "WELCOME-DIALOG.SUB-HEADER-2" | translate }}</strong>
      </p>
      <p>
        {{ "WELCOME-DIALOG.WELCOME-MESSAGE-3" | translate }}
        <span>
          <a href="https://os2.eu/produkt/os2iot" target="_blank">{{ "WELCOME-DIALOG.LINK-2" | translate }}</a>
        </span>
        {{ "WELCOME-DIALOG.WELCOME-MESSAGE-4" | translate }}
        <span>
          <a href="https://github.com/OS2iot/" target="_blank">{{ "WELCOME-DIALOG.LINK-3" | translate }}</a
          >.
          </span>
      </p>
    </div>
  }
  <div class="d-flex flex-column" mat-dialog-actions>
    <button (click)="close()" class="btn ok text--big" mat-dialog-close>
      {{ "DIALOG.OK" | translate | uppercase }}
    </button>
  </div>
</div>
@if (dialogModel?.hasSomePermission) {
  <mat-checkbox
    [(ngModel)]="dontShowAgain"
    class="hide-checkbox align-self-start"
    name="dontShowAgain"
  >{{ "DIALOG.WELCOME.DONT-SHOW-AGAIN" | translate }}
  </mat-checkbox
  >
}
