<script src="bower_components/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
<app-form-header [backButton]="backButton" [title]="title"></app-form-header>
<form (ngSubmit)="onSubmit()" class="os2-form p-3 mt-4">
  @if (errorMessages) {
    <div class="error-messages p-3">
      <ul class="mb-0">
        @for (error of errorMessages; track error) {
          <li>
            {{ error | translate }}
          </li>
        }
      </ul>
    </div>
  }

  <div class="row mb-5">
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "PERMISSION.EDIT.NAME" | translate }}</label
      >*
      <input
        [(ngModel)]="permission.name"
        [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('name'),
          'is-valid': formFailedSubmit && !errorFields.includes('name')
        }"
        [placeholder]="'PERMISSION.EDIT.NAME-PLACEHOLDER' | translate"
        class="form-control"
        id="name"
        maxlength="50"
        name="name"
        required
        type="text"
      />
    </div>
  </div>

  <div class="form-group mt-3 col-12">
    <label class="form-label" for="level">{{ "PERMISSION.EDIT.TYPE" | translate }}</label
    >*
    <mat-select
      [(value)]="permission.levels"
      [compareWith]="compareLevels"
      [formControl]="permissionLevelsCtrl"
      [multiple]="true"
      [ngClass]="{
        'is-invalid': formFailedSubmit && errorFields.includes('level'),
        'is-valid': formFailedSubmit && !errorFields.includes('level')
      }"
      [placeholder]="'PERMISSION.EDIT.TYPE-PLACEHOLDER' | translate"
      class="form-control"
      id="level"
      name="level"
      required
    >
      @for (level of allowedLevels | sortByTranslation : 'type' : 'asc' : 'PERMISSION-TYPE.'; track level) {
        <mat-option
          [value]="level"
        >
          {{ "PERMISSION-TYPE." + level.type | translate }}
        </mat-option>
      }
    </mat-select>
  </div>

  <div class="form-group mt-3 col-12">
    <label class="form-label" for="user">{{ "PERMISSION.EDIT.USERS" | translate }}</label>
    <mat-select
      #multiSelect
      [(value)]="permission.userIds"
      [compareWith]="compare"
      [formControl]="userMultiCtrl"
      [multiple]="true"
      class="form-control"
      id="userGroup"
      panelClass="overflow-x-hidden"
    >
      <app-mat-select-search
        [formControl]="userMultiFilterCtrl"
        [initialValues]="this.permission.userIds"
      ></app-mat-select-search>
      @for (user of filteredUsersMulti | async; track user) {
        <mat-option [value]="user.id">
          {{ getTextForUser(user) }}
        </mat-option>
      }
    </mat-select>
  </div>

  @if (isNotGlobalAdmin) {
    <div>
      <div class="form-group mt-3 col-12">
        <label class="form-label" for="name">{{ "PERMISSION.EDIT.ORG" | translate }}</label
        >*
        <select
          (ngModelChange)="organizationChanged()"
          [(ngModel)]="permission.organizationId"
          [disabled]="isEditMode"
          [ngClass]="{
          'is-invalid': formFailedSubmit && errorFields.includes('organizationId'),
          'is-valid': formFailedSubmit && !errorFields.includes('organizationId')
        }"
          [value]="permission.organizationId"
          class="form-select"
          id="organizationId"
          name="organizationId"
          required
        >
          @for (org of organisations; track org) {
            <option [ngValue]="org.id" [selected]="org.id === permission.organizationId">
              {{ org.name }}
            </option>
          }
        </select>
      </div>
    </div>
  } @if (isOrganizationApplicationPermission()) {
  <div class="form-group mt-3 col-12">
    <label class="form-label" for="name">{{ "PERMISSION.EDIT.APPS" | translate }}</label>
    <div class="col-12">
      <mat-select
        #multiSelect
        [(value)]="permission.applicationIds"
        [compareWith]="compare"
        [formControl]="applicationMultiCtrl"
        [multiple]="true"
        class="form-control"
        id="applicationIds"
        name="applicationIds"
        panelClass="overflow-x-hidden"
      >
        <app-mat-select-search
          [formControl]="applicationMultiFilterCtrl"
          [initialValues]="this.permission.applicationIds"
        ></app-mat-select-search>
        @for (app of filteredApplicationsMulti | async; track app) {
          <mat-option [value]="app.id">
            {{ app.name }}
          </mat-option>
        }
      </mat-select>
    </div>
  </div>
} @if (isReadOrWrite()) {
  <div>
    <div class="form-group mt-3 col-12">
      <label class="form-label" for="name">{{ "PERMISSION.EDIT.ADD-APPLICATION-AUTOMATIC" | translate }}</label>
      <div class="row">
        <mat-slide-toggle
          [(ngModel)]="permission.automaticallyAddNewApplications"
          id="automaticallyAddNewApplications"
          name="automaticallyAddNewApplications"
        >
          {{ "PERMISSION.EDIT.ADD-APPLICATION-ON-CREATE" | translate }}
        </mat-slide-toggle
        >
      </div>
    </div>
  </div>
}

  <div class="form-group mt-5">
    <button (click)="routeBack()" class="btn btn-secondary" type="button">{{ "GEN.CANCEL" | translate }}</button>
    <button class="btn btn-primary ms-2" type="submit">{{ "PERMISSION.SAVE" | translate }}</button>
  </div>
</form>
