<div>
  @if (payloadDecoder) {
    <app-top-bar
      (deleteSelectedInDropdown)="onDeletePayload()"
      [addDetailDowndown]="true"
      [backButton]="backButton"
      [canEdit]="payloadDecoder?.canEdit"
      [data]="payloadDecoder"
      [dropDownButton]="dropdownButton"
      [subPage]="true"
    >
    </app-top-bar>
  } @if (payloadDecoder) {
  <div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ "PAYLOAD-DECODER.DETAILS" | translate }}</h3>
          <p>
            <strong>{{ "PAYLOAD-DECODER.BELONGS-TO-ORGANIZATION" | translate }} </strong
            >{{ payloadDecoder.organizationName }}
          </p>
          <app-general-details [data]="payloadDecoder"></app-general-details>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ "PAYLOAD-DECODER.DECODINGFUNCTION" | translate }}</h3>
          <ngx-monaco-editor
            [(ngModel)]="payloadDecoder.decodingFunction"
            [ngModelOptions]="{ standalone: true }"
            [options]="editorJsonOutpuOptions"
            class="big-editor"
          >
          </ngx-monaco-editor>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ "PAYLOAD-DECODER.IOT-DEVICES" | translate }}</h3>
          <app-iot-device-minimal-table [payloadDecoder]="payloadDecoder"></app-iot-device-minimal-table>
        </div>
      </div>
    </div>
  </div>
}
</div>
