<app-top-bar *ngIf="payloadDecoder" [data]="payloadDecoder" [backButton]="backButton" [subPage]="true"></app-top-bar>
<div *ngIf="payloadDecoder">
    <div class=" jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <div class="float-left">
                    <h4> {{ 'PAYLOAD-DECODER.NAME' | translate }} {{payloadDecoder.name}}</h4>
                </div>
                <div class="btn-group float-md-right dropdown" *ngIf="payloadDecoder.canEdit">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{'PAYLOAD-DECODER.DETAIL.DROPDOWN' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" attr.aria-labelledby="tableRowDropdown-{{payloadDecoder.id}}">
                        <li class="dropdown-item">
                            <a [routerLink]="['../../payload-decoder-edit', payloadDecoder.id]">{{ 'PAYLOAD-DECODER.DETAIL.EDIT' | translate }}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a (click)="onDeletePayload()"
                                [routerLink]="">{{ 'PAYLOAD-DECODER.DETAIL.DELETE' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="float-left">
                    {{ 'PAYLOAD-DECODER.BELONGS-TO-ORGANIZATION' | translate }} {{payloadDecoder.organizationName}}
                </div>
            </div>
        </div>
    </div>
    <div class=" jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ 'PAYLOAD-DECODER.DECODINGFUNCTION' | translate }}</h4>
                <code><pre>{{payloadDecoder.decodingFunction}}</pre></code>
            </div>
        </div>
    </div>
</div>