<div>
    <app-top-bar *ngIf="payloadDecoder" [data]="payloadDecoder" [backButton]="backButton" [subPage]="true"
        [addDetailDowndown]="true" [dropDownButton]="dropdownButton" (deleteSelectedInDropdown)="onDeletePayload()"
        [canEdit]="canEdit">
    </app-top-bar>
    <div *ngIf="payloadDecoder">
        <div class=" jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ 'PAYLOAD-DECODER.DETAILS' | translate }}</h3>
                    <p><strong>{{ 'PAYLOAD-DECODER.BELONGS-TO-ORGANIZATION' | translate }}
                        </strong>{{payloadDecoder.organizationName}}</p>
                    <app-general-details [data]="payloadDecoder"></app-general-details>
                </div>
            </div>
        </div>
        <div class=" jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ 'PAYLOAD-DECODER.DECODINGFUNCTION' | translate }}</h3>
                    <ngx-monaco-editor class="big-editor" [options]="editorJsonOutpuOptions"
                        [(ngModel)]="payloadDecoder.decodingFunction" [ngModelOptions]="{standalone: true}">
                    </ngx-monaco-editor>
                </div>
            </div>
        </div>
        <div class=" jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{ 'PAYLOAD-DECODER.IOT-DEVICES' | translate }}</h3>
                    <app-iot-device-minimal-table [payloadDecoder]="payloadDecoder"></app-iot-device-minimal-table>
                </div>
            </div>
        </div>
    </div>
</div>
